<h1>Domain Title: <%= @domain_title.title_or_alt(langcode: I18n.locale) %></h1>

<hr>
<section id="sec_primary">
<%= render partial: 'layouts/all_registered_translations', locals: {model: @domain_title} %>
<hr>

<%= render @domain_title %>

<%= render partial: 'layouts/show_edit_destroy', locals: {model: @domain_title, destroyable: true} %> <%# How about associations? %>


</section> <%# closing section id="sec_primary" %>

<hr>
  <%= link_to t("layouts.back_to_index"), domain_titles_path %>

