
<%= render partial: 'layouts/form_print_errors', locals: {model: harami_vid} %>

<% if ! harami_vid.new_record? %>
<hr>
<% end %>
<section id="sec_primary">
<% if ! harami_vid.new_record? %>
<%= render partial: 'layouts/all_registered_translations', locals: {model: harami_vid, add_buttons: true} %>
<hr>

<h2>Unique parameters</h2>
<% end %>

<div id="form_main">

<%= simple_form_for(harami_vid) do |f| %>
 <section id="sec_primary_input">
  <% if harami_vid.new_record? %>
    <%= render partial: 'layouts/partial_new_translations', locals: {form: f, model: harami_vid, trans: Translation.new, disable_is_orig: true, is_simple_form: true, only_title: true } %>
  <% end %>
  <div class="form-inputs">

    <%= f.input :uri, placeholder: 'URI/URL (e.g., "3CjLiqDJ0C4" with or without youtu.be/)', as: :url %>
    <%= f.input :release_date,   label: t("harami_vids.table_head_date"), start_year: 2019, end_year: (Date.today.year+1) %>
    <%= f.input :duration,   label: t("Duration in second"), placeholder: 'e.g., 600 (=10min)' %>
  <%= render partial: "layouts/select_country_prefecture_place", locals: {form: f, model: harami_vid, is_simple_form: true} %>

    <%= f.input :form_channel_owner,
      collection: ordered_models_form(ChannelOwner), selected: (harami_vid.form_channel_owner || ChannelOwner.default(:HaramiVid).id),
      label: t(:ChannelOwner) %>
    <%= f.input :form_channel_type,
      collection: ordered_models_form(ChannelType),
      label: t(:ChannelType),
      checked: (harami_vid.form_channel_type || ChannelType.default(:HaramiVid).id),
      required: true, item_wrapper_class: 'inline',
      as: :radio_buttons %>
    <%= f.input :form_channel_platform,
      collection: ordered_models_form(ChannelPlatform), selected: (harami_vid.form_channel_platform || ChannelPlatform.default(:HaramiVid)),
        label: t(:ChannelPlatform) %>
    <%= f.input :form_events,
      collection: form_selct_collections(Event),
      label: t(:Event), include_blank: true, input_html: { multiple: false } %>

    <div class="register_assoc_artist">
    <h4><%= t('layouts.new_musics.assoc_artist_head') %></h4>
      <% if !@artist_name  %>
       <div class="new_artist_link"><p>(<%= t('layouts.new_musics.note_new_artist') %><%= link_to(t('layouts.new_musics.create_new_artist'), new_artist_path, target: "_blank") %>) </p></div>
      <% end%>
    <div class="register_assoc_artist_field">
      <%= f.input :artist_name,    label: t('layouts.new_musics.associated_artist_name'), placeholder: 'eg., "欅坂46", "Beatles, The", "The Beatles"' %>
        <%= content_tag :div, '', id: 'suggestions', data: {items: Artist.titles_for_form} %>

      <%= f.input :form_engage_hows,
        collection: ordered_models_form(EngageHow), selected: (harami_vid.form_engage_hows || EngageHow.default(:HaramiVid)),
          label: t("harami_vids.engage_how")+" "+t('layouts.new_musics.allow_multi') %>

      <%= f.input :form_engage_year, label: t('layouts.new_musics.year_engagement') %>

      <%= f.input :form_contribution, label: t('attr.contribution')+'(0.0-1.0)', hint: t('attr.contribution_hint') %>
     <div class="register_collab_artist_field">
      <%= f.input :artist_name_collab,  label: t('harami_vids.form_artist_collabs') %>
      <%= f.input :form_instrument,
        collection: ordered_models_form(Instrument), selected: (harami_vid.form_instrument || Instrument.default(:HaramiVid)),
        label: t("Instrument") %>
      <%= f.input :form_play_role,
        collection: ordered_models_form(PlayRole), selected: (harami_vid.form_play_role || PlayRole.default(:HaramiVid)),
        label: "How they collaborate" %>
     </div>
    </div> <!-- div class="register_assoc_artist_field"  -->
    </div> <!-- div class="register_assoc_artist"-  -->

    <div class="register_assoc_music">
    <h4>Music</h4>
    <div class="register_assoc_music_field">
      <%= f.input :music_name, label: t("layouts.fields.music_title"), hint: t('layouts.fields.hint_music_auto') %>
      <%= f.input :music_timing, label: t("harami_vids.table_head_timing"), hint: t('harami_vids.music_timing_hint') %>
    </div>

    <%= f.input :uri_playlist_en, as: :url %>
    <%= f.input :uri_playlist_ja, as: :url %>
    <%# f.input :flag_by_harami, label: "Uploaded by Harami?", hint: 'True if uploaded by HARAMIchan.' %>

    <%= f.input :note %>
  </div> <!-- div class="form-inputs" -->

  <div class="form-actions">
    <%= f.submit %>
  </div>
  <div class="actions">
  <%= submit_tag(t("layouts.reset_button"), { :name => 'reset', :id => 'reset_button', :type => "reset" }) %>
  </div>
 </section> <!-- section id="sec_primary_input" -->
<% end %>

</div> <!-- div id="form_main" -->

</section> <!-- section id="sec_primary" -->

<% if ! harami_vid.new_record? %>
<hr>
<%= render partial: 'harami1129_table', locals: {harami_vid: harami_vid, add_buttons: true} %>
<hr>
<%= render partial: 'music_table', locals: {harami_vid: harami_vid, add_buttons: true} %>
<hr>
<% end %>

