
<%= render partial: 'layouts/form_print_errors', locals: {model: harami_vid} %>

<% if ! harami_vid.new_record? %>
<hr>
<% end %>
<section id="sec_primary">
<% if ! harami_vid.new_record? %>
<%= render partial: 'layouts/all_registered_translations', locals: {model: harami_vid, add_buttons: true} %>
<hr>

<h2>Unique parameters</h2>
<% end %>

<div id="form_main">

<% given_ref_id = harami_vid.reference_harami_vid_id %>
<% given_ref = (given_ref_id.present? ? HaramiVid.find(given_ref_id) : nil) %>

<%= simple_form_for(harami_vid) do |f| %>
 <section id="sec_primary_input">
  <% if harami_vid.new_record? %>
    <%= render partial: 'layouts/partial_new_translations', locals: {form: f, model: harami_vid, trans: Translation.new, disable_is_orig: true, is_simple_form: true, only_title: true } %>
  <% end %>
  <div class="form-inputs">

    <%= f.input :uri, required: true, placeholder: 'URI/URL ('+t(:eg_independent)+'"3CjLiqDJ0C4" with or without youtu.be/)', as: :url,
      hint: t("harami_vids.field_uri_hint"),
      input_html: {value: (uri=harami_vid.uri) ? ApplicationHelper.uri_youtube(uri, long: false, with_http: true) : nil } %>
    <%= f.input :release_date,   label: t("harami_vids.table_head_date"), start_year: 2019, end_year: (Date.today.year+1) %>
    <%= f.input :duration,   label: t("harami_vids.field_Duration_in_sec"), placeholder: t(:eg_independent)+'72 ['+t(:s_time)+']'+t(:or)+' 01:12', as: :string %>
  <%= render partial: "layouts/select_country_prefecture_place", locals: {form: f, model: harami_vid, is_simple_form: true} %>

  <% if ! harami_vid.new_record? %>
    <h5 class="channel_part">Current Channel name: &ldquo;<%= harami_vid.channel.title_or_alt(lang_fallback_option: :either) %>&rdquo;</h5>
  <% end %> 
    <%= f.input :form_channel_owner,
      collection: ordered_models_form(ChannelOwner), include_blank: false,
      selected: (harami_vid.form_channel_owner || harami_vid.channel && harami_vid.channel.channel_owner.id ||  ChannelOwner.default(:HaramiVid).id),
      label: t(:ChannelOwner), hint: (can?(:create, ChannelOwner)    ? t("layouts.fields.hint_create_if_non_existent", link: link_to(t("layouts.do_create_lower"), new_channel_owner_path, title: "New Channel")).html_safe : "") %>
    <div class="form_new_model_info">
    <%= f.input :form_channel_platform,
      collection: ordered_models_form(ChannelPlatform), include_blank: false,
      selected: (harami_vid.form_channel_platform || harami_vid.channel && harami_vid.channel.channel_platform.id ||  ChannelPlatform.default(:HaramiVid).id),
        label: t(:ChannelPlatform) %>  <%# NOTE: Here gives no hint to prompt a user to create a new one (like ChannelType), because HaramiVid should not need so many ChannelPlatform - appropriate moderators can create one by directly jumping to it anyway without being prompted here. %>
    <%= f.input :form_channel_type, include_blank: false,
      collection: ordered_models_form(ChannelType),
      label: t(:ChannelType),
      selected: (harami_vid.form_channel_type || harami_vid.channel && harami_vid.channel.channel_type.id || ChannelType.default(:HaramiVid).id)
       %>
    </div>

<% if harami_vid.new_record? && !(given_ref && given_ref.event_items.exists?) %> <%# For update, the following is never displayed; for create, it usually is unless a reference HaramiVid is specified and it has an EventItem(s) %>
  <%# For update, the same field appears immediately above a new Artist-collab. The reasons are (1) for a new record, EventItem is a must (unless a reference is given), (2) for update, a new EventItem is not often wanted unless the editor wants to associate a Music and maybe a new Artist-collab. %>
    <%= f.input :form_new_event,
      collection: form_selct_collections(Event), include_blank: true,
      selected: (harami_vid.form_new_event || (harami_vid.new_record? ? Event.default(:HaramiVid).id : nil)),
      label: (harami_vid.new_record? ? "" : t(:additional).capitalize+" ")+t(:Event),
      input_html: { multiple: false } %>
<% end %>

    <%= f.input :uri_playlist_en, as: :url %>
    <%= f.input :uri_playlist_ja, as: :url %>

    <%= f.input :note %>

  <div class="form-actions">
    <%= f.submit %>
  </div>
  <div class="actions">
  <%= submit_tag(t("layouts.reset_button"), { :name => 'reset', :id => 'reset_button', :type => "reset" }) %>
  </div>

<hr>
<h2>Contents</h2>

    <%= f.input :reference_harami_vid_id, as: :hidden %>

  <% display_new_event_item_form = !harami_vid.new_record? %>
  <% if !harami_vid.new_record? || (given_ref && given_ref.event_items.exists?) %> <%# For update, the following is always displayed; for create, it is only if reference HaramiVid is specified and it has an EventItem(s) %>
    <% display_new_event_item_form = false %>
    <div class="update_event_item_association_field">
    <h4><%= t("harami_vids.associated_event_event_items") %></h4>

    <% collec = harami_vid.event_items
       collec_is_empty = !harami_vid.event_items.exists?
       if given_ref
         collec2 = given_ref.event_items
         collec  = (collec_is_empty ? collec2.distinct : collec.or(collec2))
       end
       collec = collec.order(:event_id) if !given_ref || collec_is_empty %> <%# if collec is the sum of two, the order statement would be a lot more complicated - so we do not bother. %>
     <%# In rare cases where there are duplications between the existing and specified EventItems, they will be shown as "distinct" is (so far) not performed here. %>
    <% if collec.exists? %>
     <%= f.association :event_items, collection: collec, label_method: :machine_title, value_method: :id,
      include_blank: false,  as: :check_boxes, label: t("EventItems"),
      item_wrapper_class: 'inline', input_html: { checked: true } %>  <%# Not shown at all if there are no EventItems associatined to harami_vid; they all are forcibly checked in default, even after returning to the edit screen.  %>
  <%# cf. https://github.com/heartcombo/simple_form#collection-check-boxes %>
     <%= render partial: "event_event_items" %>
    <% else %>
      <% display_new_event_item_form = true %>
      Strangely, no existing items are defined. Please register a new Event(Item) below.
    <% end %>
    </div>
  <% end %> <!-- if !harami_vid.new_record? || given_ref -->

   <% if !given_ref %>
    <% if !harami_vid.new_record? || display_new_event_item_form %>
    <h4><%= t("harami_vids.event_item_for_new_collab_artist") %></h4>
      <%= f.input :form_new_artist_collab_event_item, as: :radio_buttons,
        collection: (co=collection_event_items_for_new_artist_collab), label_method: :second, value_method: :first,
        allow_blank: false, 
        checked: (harami_vid.form_new_artist_collab_event_item || v=co.find{|i| i[0].to_i != HaramiVidsController::DEF_FORM_NEW_ARTIST_COLLAB_EVENT_ITEM_NEW.to_i}; (v ? v.first : nil)),
        label: "Event(Item) for "+t(:additional).capitalize+' '+t(:Music)+' '+t(:or)+' '+t('layouts.new')+" "+t('harami_vids.form_artist_collabs'),
        item_wrapper_class: 'inline'
      %>  <%# defined in event_items_helper.rb %>
    <%# For create/new, the same field appeaers much earlier. %>
     <div class="form_new_model_info">
      <%= f.input :form_new_event,
        collection: form_selct_collections(Event), include_blank: true,
          selected: (harami_vid.form_new_event || (harami_vid.new_record? ? Event.default(:HaramiVid).id : nil)),
          label: t(:additional).capitalize+" "+t(:Event)+"(Item)",
          input_html: { multiple: false } %>
     </div>
    <% end %>

    <div class="register_assoc_music">
    <h4><%= (harami_vid.new_record? ? "" : "("+t(:additional).capitalize+") ")+t(:Music) %> <span class="small">(<%= t("harami_vids.music_title_comment") %>)</span></h4>  <%# Additional Music %>
    <div class="register_assoc_music_field">
      <%= f.input :music_name, label: t("layouts.fields.music_title") #, hint: t('layouts.fields.hint_music_auto')
      %>
     <div class="form_new_model_info">
      <%= f.input :music_year, label: t("harami_vids.field_music_year") %>
      <%= f.input :music_genre, label: t(:Genre)+" (new Music only)",
        collection: ordered_models_form(Genre), include_blank: false,
        selected: (harami_vid.music_genre || Genre.default(:HaramiVid).id) %>
     </div>
      <%= f.input :music_timing, label: t("harami_vids.table_head_timing"), hint: t('harami_vids.music_timing_hint'), placeholder: t(:eg_independent)+'72 ['+t(:s_time)+'] '+t(:or)+' 01:12', as: :string %>
    </div>
    </div>

    <div class="form_new_model_info">
    <div class="register_assoc_artist">
    <h5 title="楽曲のオリジナル歌手あるいは作詞作曲者(新規アーティスト作成も可)"><%= t('layouts.new_musics.assoc_artist_head') %></h5>
      <% if !@artist_name  %>
       <div class="new_artist_link"><p><%# t('layouts.new_musics.note_new_artist') %><%# link_to(t('layouts.new_musics.create_new_artist'), new_artist_path, target: "_blank") %> </p></div>  <%# Message of "Create it first" is now removed. %>
      <% end%>
    <div class="register_assoc_artist_field">
      <%= f.input :artist_name,    label: t('layouts.new_musics.associated_artist_name'), placeholder: 'eg., "欅坂46", "Beatles, The", "The Beatles"', input_html: {"data-1p-ignore" => true} %>

     <div class="form_new_model_info">
      <%= f.input :artist_sex,
        collection: ordered_models_form(Sex), selected: (harami_vid.artist_sex || Sex.unknown),
        label: t(:Sex)+" (new Artist only)", hint: " Only for a new Artist" %>
     </div>

      <%= f.input :form_engage_hows,
        collection: ordered_models_form(EngageHow), selected: (harami_vid.form_engage_hows || EngageHow.default(:HaramiVid)),
          label: t("harami_vids.engage_how") %>  <%# +t('layouts.new_musics.allow_multi'); multiple is not allowed for now... %>

      <%= f.input :form_engage_year, label: t('layouts.new_musics.year_engagement') %>

      <%= f.input :form_engage_contribution, label: t('attr.contribution').capitalize+' (0.0-1.0)', hint: t('attr.contribution_hint') %>
    </div> <!-- div class="register_assoc_artist_field"  -->
    </div> <!-- div class="register_assoc_artist"  -->
    </div> <!-- div class="form_new_model_info" -->

   <%# if ! harami_vid.new_record? %>
    <div class="register_collab_artist_field">
    <h4><%= (harami_vid.new_record? ? "" : "("+t(:additional).capitalize+") ") %><%= t('harami_vids.field_artist_collabs_w_harami') %></h4>

      <%= f.input :music_collab,
        collection: collection_musics_with_evit(harami_vid),
          label: t(:Music).capitalize,
          include_blank: true, input_html: { multiple: false },
          prompt: t('harami_vids.form_prompt_collab'),
          hint: t('harami_vids.field_music_collab_hint') %> <%# defined in harami_vids_helper.rb %>
      <%= f.input :artist_name_collab,  label: t('harami_vids.form_artist_collabs'),
          hint: t("layouts.fields.hint_create_if_non_existent", link: link_to(t("layouts.do_create_lower"), new_artist_path)).html_safe %>
     <div class="form_new_model_info">
      <%= f.input :form_play_role,
        collection: ordered_models_form(PlayRole), selected: (harami_vid.form_play_role || PlayRole.default(:HaramiVid)),
        label: "How they collaborate" %>
      <%= f.input :form_instrument,
        collection: ordered_models_form(Instrument), selected: (harami_vid.form_instrument || Instrument.default(:HaramiVid)),
        label: t("Instrument") %>
     </div>
    </div> <!-- div class="register_collab_artist_field" -->
   <%# end %>  <%# if ! harami_vid.new_record? %>

   <% end %>  <!-- if !given_ref -->
  </div> <!-- div class="form-inputs" -->

  <div class="form-actions">
    <%= f.submit %>
  </div>
  <div class="actions">
  <%= submit_tag(t("layouts.reset_button"), { :name => 'reset', :id => 'reset_button2', :type => "reset" }) %>
  </div>

 </section> <!-- section id="sec_primary_input" -->
<% end %> <%# simple_form_for(harami_vid) do |f| %>

</div> <!-- div id="form_main" -->

</section> <!-- section id="sec_primary" -->

  <% if can? :destroy, harami_vid %>
    <div class="actions text-end">
      <%= button_to "Destroy", harami_vid, method: :delete, data: { confirm: t('are_you_sure') } %>
    </div>
  <% end %>

<% if ! harami_vid.new_record? %>
<hr>
<%= render partial: 'music_table', locals: {harami_vid: harami_vid, add_buttons: true} %>

<% end %>

<% if ! harami_vid.new_record? %>
<hr>
<%= render partial: 'other_harami_vids_table', locals: {harami_vid: harami_vid} %>
<hr>
<%= render partial: 'harami1129_table', locals: {harami_vid: harami_vid, add_buttons: true} %>
<hr>
<% end %>

