<section id="harami_vids_show_musics">
<h3>Musics for HaramiVid (<%= harami_vid.release_date %>)</h3>

<table id="music_table_for_hrami_vid">
  <thead>
    <tr>
      <th></th>
      <% if canedit_mus=(can? :edit, Music) %>
        <th class="text-end editor_only">pID</th>
      <% end %>
      <th class="item_title"><%= t("home.index.musics_title", default: "Title").capitalize %></th>
      <th><%= t("tables.year", default: "Year").capitalize %></th>
      <th>
      <% tit = t("tables.genre", default: "Genre").capitalize %>
      <% if can? :read, Genre %>
        <%= link_to tit, genres_url %>
      <% else %>
        <%= tit %>
      <% end %>
      </th>
      <th>
      <% tit = t("tables.place", default: "Place").capitalize %>
      <% if can? :read, Place %>
        <%= link_to tit, places_url %>
      <% else %>
        <%= tit %>
      <% end %>
      </th>
      <th><%= link_to t(:Artists), artists_url %></th>
      <th title="<%= t('harami_vids.table_head_title_music_timing') %>"><%= t("harami_vids.table_head_timing") %></th>
      <th colspan="<%= can?(:update, Music) ? 2 : 1 %>"><%= t(:Music) %></th>
      <th><%= t("artists.tablehead.n_harami_vids") %></th>
     <% if (can_destroy_assoc=can?(:destroy, HaramiVidMusicAssoc)) %>
      <th title="<%= t('harami_vids.show.destroy_music_from_this_vid') %>" class="text-end editor_only">Association</th>
     <% end %>
    </tr>
  </thead>

  <tbody>
    <% harami_vid.musics.order(:timing).each_with_index do |music, i_mus| %>
      <tr>
        <td><%= i_mus+1 %></td>
       <% if canedit_mus %>
        <td class="text-end editor_only"><%= link_to(music.id, music) %></td>
       <% end %>
        <td class="item_title"><%= t = music.title_or_alt; t ? link_to(t, music) : '' %></td>
        <td class="item_year"><%= music.year %></td>
        <td class="item_genre"><%= music.genre.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either) %></td>
        <td class="item_place"><%= ar = music.place.title_or_alt_ascendants(langcode: I18n.locale, prefer_shorter: true, lang_fallback_option: :either);
                sprintf '%s %s(%s)', ar[1], ((ar[1] == Prefecture::UnknownPrefecture['ja'] || ar[0].blank?) ? '' : '— '+ar[0]+' '), ar[2] %></td>
        <td class="item_artists"><%= music.artists.uniq.map{|i| sprintf '%s [%s]', link_to(i.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either), i), h(i.engage_how_titles(music, langcode: I18n.locale, lang_fallback_option: :either).join(', '))}.join(', ').html_safe %></td>
        <td class="item_timing">
          <%# timings = (hvmas=harami_vid.harami_vid_music_assocs.where(music: music)).pluck(:timing).select{|j| j.present?} %>
          <% hvmas = harami_vid.harami_vid_music_assocs.where(music: music) %>
          <% @hvma = hvmas.first %>
          <% @timing = @hvma.timing %>
          <% if (timings=hvmas.pluck(:timing).select{|j| j.present?}).count > 1 %>
            <%# this should not happen, but playing safe... %>
            <span class="text-start">
              <%= timings.map{|i| link_to_youtube(sec2hms_or_ms(i), @harami_vid.uri, i, title: "#{i} sec") }.join(', ').html_safe %> / <%# defined in application_helper.rb %>
            </span>
          <% end %>

          <%= render partial: "/harami_vid_music_assocs/timings/show_timing" %>
        </td>
        <td class="actions item_music_actions link_show text-center"><%= link_to(t("tables.Show"), music) if can?(:read, music) %></td>
        <% if canedit_mus %>
          <td class="actions item_music_actions link_edit text-center editor_only">
            <% if can? :update, music %>
              <%= link_to 'Edit', edit_music_path(music) %>
            <% end %>
          </td>
        <% end %>
        <td class="item_n_vids text-end"><%= music.harami_vids.count.to_s %></td>
      <% if can_destroy_assoc %>
        <td title="<%= t('harami_vids.show.destroy_music_from_this_vid') %>" class="text-end editor_only">
         <% hvma = harami_vid.harami_vid_music_assocs.where(music: music).first %>
       <% if can? :destroy, hvma %>
         <%= link_to t('layouts.destroy_button'), hvma, method: :delete, data: { confirm: t('are_you_sure') }, title: t('harami_vids.show.destroy_music_from_this_vid') %>
       <% end %>
        </td>
      <% end %>
      </tr>
    <% end %>
<% if false %>
    <% if defined?(add_buttons) && add_buttons %>
      <tr><td colspan="7">
      <%= button_to 'HaramiVid追加', new_harami_vid_music_assoc_path, method: :get, params: { a_token: nil, music_id: music.id } %>
      </td></tr>
    <% end %>
<% end %>
  </tbody>
</table>
</section> <!-- section id="harami_vids_show_musics" -->

