<section id="harami_vids_show_musics">
<h3>Musics for HaramiVid (<%= harami_vid.release_date %>)</h3>

<table id="music_table_for_hrami_vid">
  <thead>
    <tr>
      <th></th>
      <th class="item_title">Title</th>
      <th>Year</th>
      <th>
      <% if can? :read, Genre %>
        <%= link_to 'Genre', genres_url %>
      <% else %>
        Genre
      <% end %>
      </th>
      <th>
      <% if can? :read, Place %>
        <%= link_to 'Place', places_url %>
      <% else %>
        Place
      <% end %>
      </th>
      <th><%= link_to 'Artists', artists_url %></th>
      <th title="<%= t('harami_vids.table_head_title_music_timing') %>">Timing</th>
      <th colspan="<%= can?(:update, Music) ? 2 : 1 %>">Music</th>
      <th>動画数</th>
    </tr>
  </thead>

  <tbody>
    <% harami_vid.musics.order(:timing).each_with_index do |music, i_mus| %>
      <tr>
        <td><%= i_mus+1 %></td>
        <td class="item_title"><%= t = music.title_or_alt; t ? link_to(t, music) : '' %></td>
        <td class="item_year"><%= music.year %></td>
        <td class="item_genre"><%= music.genre.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either) %></td>
        <td class="item_place"><%= ar = music.place.title_or_alt_ascendants(langcode: I18n.locale, prefer_alt: true, lang_fallback_option: :either);
                sprintf '%s %s(%s)', ar[1], ((ar[1] == Prefecture::UnknownPrefecture['ja'] || ar[0].blank?) ? '' : '— '+ar[0]+' '), ar[2] %></td>
        <td class="item_artists"><%= music.artists.uniq.map{|i| sprintf '%s [%s]', link_to(i.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either), i), h(i.engage_how_titles(music, langcode: I18n.locale, lang_fallback_option: :either).join(', '))}.join(', ').html_safe %></td>
        <td class="item_timing"><%= harami_vid.harami_vid_music_assocs.where(music: music).pluck(:timing).select{|j| j.present?}.map{|i| link_to_youtube(sec2hms_or_ms(i), @harami_vid.uri, i, title: "#{i} sec") }.join(', ').html_safe %></td> <%# defined in application_helper.rb %>
        <td><%= link_to('Show', music) if can?(:read, music) %></td>
        <% if can? :update, music %>
        <td>
          <%= link_to 'Edit', edit_music_path(music) %>
        </td>
        <% end %>
        <td class="item_n_vids"><%= music.harami_vids.count.to_s %></td>
      </tr>
    <% end %>
<% if false %>
    <% if defined?(add_buttons) && add_buttons %>
      <tr><td colspan="7">
      <%= button_to 'HaramiVid追加', new_harami_vid_music_assoc_path, method: :get, params: { a_token: nil, music_id: music.id } %>
      </td></tr>
    <% end %>
<% end %>
  </tbody>
</table>
</section> <!-- section id="harami_vids_show_musics" -->

