<%# Local variables: harami_vid, optional: mark_self [Boolean] (Def: false), max_nrows: (nil), ignore_max_nrows: false %>
<% if !defined?(mark_self)
     mark_self = false
   end %>
<% if !defined?(max_nrows)
     max_nrows = nil
   end %>  <%# This has to be in multi-line (or in the ";" syntax), as opposed to the post-placed "if", because of "defined?" %>
<% max_nrows ||= Rails.configuration.def_view_max_nrows %>
<% if !defined?(ignore_max_nrows)
     ignore_max_nrows = false
   end %>

<% this_model_note = t("tables.note_this_model", kwd: t(:video)) %>

<section id="harami_vids_show_other_harami_vids">
  <h3 title="Excluding uncategorized Event's HaramiVids"><%= t("harami_vids.show.Other_HaramiVids_for_Event") %>:
    <span><%= harami_vid.events.uniq.map{|i| i.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either, article_to_head: true)}.join(" | ") %></span>
  </h3>

  <% can_edit = can?(:edit, harami_vid) %>
<table id="other_harami_vids_table_for_hrami_vid">
  <thead>
    <% ncols = 0 %>
    <tr>
      <th<%= ' class="editor_only"'.html_safe if can_edit %>><%= can_edit ? "pID" : "" %></th>
      <% ncols += 1 %>
      <th><%= t(:Channel) %></th>
      <% ncols += 1 %>
      <th class="item_title"><%= t("home.index.vid_title")%></th>
      <% ncols += 1 %>
      <th>URI</th>
      <% ncols += 1 %>
      <th><%= link_to t('Musics'), musics_url %></th>
      <% ncols += 1 %>
      <th><%= t("tables.release_date") %></th>
      <% ncols += 1 %>
      <th><%= t("tables.duration_none") %></th>
      <% ncols += 1 %>
      <th>
      <% if can? :index, Place %>
        <%= link_to t('Place'), places_url %>
      <% else %>
        Place
      <% end %>
      <% ncols += 1 %>
      </th>
      <th><%= t('EventItems') %></th>
      <% other_hvids_rela = harami_vid.other_harami_vids_of_event(exclude_unknown: false, include_self: true) %>
      <% tbody_exists = other_hvids_rela.present? %>
      <% colspan = ((can_edit && tbody_exists) ? 2 : 1) %>
      <th class="actions"<%= sprintf(' colspan="%d"', colspan).html_safe if 1 != colspan %>></th>
      <% ncols += colspan %>
    </tr>
  </thead>

  <tbody>
    <% max_harami_vids_per_event = (can_edit ? Rails.configuration.max_harami_vids_per_event_editor : Rails.configuration.max_harami_vids_per_event_public)*3 %>
    <% all_evits = harami_vid.events.uniq.map{|eev| eev.event_items}.flatten %>
    <% other_hvids_rela.each_with_index do |ea_hvid, i_hvid| %>
      <tr<%= ' class="self_in_table"'.html_safe if (is_self=(mark_self && ea_hvid == harami_vid)) %>>
        <% if !ignore_max_nrows && i_hvid >= [max_nrows, max_harami_vids_per_event].min %>
          <td colspan="<%= ncols %>"><%= t("tables.too_many_rows") %></td>
      </tr>
          <% break %>
        <% end %>
        <td<%= ' class="editor_only"'.html_safe if can_edit %>><%= can_edit ? link_to(ea_hvid.id, ea_hvid) : i_hvid+1 %></td>
        <td class="item_channel">
    <span class="channel_platform"><%= ea_hvid.channel.channel_platform.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either, article_to_head: true) %></span>
      (<span class="channel_type"><%= ea_hvid.channel.channel_type.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either, article_to_head: true) %></span>)
    by <span class="channel_owner"><%= ea_hvid.channel.channel_owner.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either, article_to_head: true) %></span>
        </td>
        <td class="item_title"><span class="title"><%= ea_hvid.title_or_alt %></span><%= sprintf('&nbsp;<span class="note">%s</span>', h(this_model_note)).html_safe if is_self %></td>
        <td class="URI"><%= link_to_youtube('Link', ea_hvid.uri) %></td>
        <td class="item_musics"><%= ea_hvid.musics.uniq.map{|i| link_to(i.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either, article_to_head: true), i)}.join(t(:comma)).html_safe %></td>
        <td class="item_release_date"><%= date2text(ea_hvid.release_date) %></td> <%# defined in ModuleCommon %>
        <td class="item_duration"><%= ea_hvid.duration ? sec2hms_or_ms(ea_hvid.duration) : "" %></td>
        <td class="item_place"><%= ea_hvid.place ? ea_hvid.txt_place_pref_ctry(without_country_maybe: true) : "" %></td>
        <td class="item_event_items text-end">
          <%= all_evits.map.with_index{|ea_evit, ind|
            next nil if !ea_evit.harami_vids.include?(ea_hvid)
            '<span title="'+h(ea_evit.machine_title)+'">' +
            (can?(:read, ea_evit) ? link_to(ind+1, ea_evit) : (ind+1).to_s) + '</span>'
          }.compact.join(t(:comma)).html_safe %>
        </td>
        <td><%= link_to(t("tables.Show"), ea_hvid) if can?(:read, ea_hvid) %></td>
       <% if can_edit %>
        <td class="editor_only">
         <% if can? :update, ea_hvid %>
          <%= link_to 'Edit', edit_harami_vid_path(ea_hvid) %>
         <% end %>
        </td>
       <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</section> <!-- section id="harami_vids_show_other_harami_vids" -->

