<h1>New Harami Vid</h1>

<div id="create_by_youtube">
  <%= form_with method: :post, model: HaramiVid, url: harami_vids_fetch_youtube_data_path, local: true, class: "inline_form", style: "margin-bottom: -4em;" do |form| %> <%# scope: :article %>
    <%= form.fields_for :fetch_youtube_datum do |fyd_form| %>
      <div class="input-group mb-3">
     <div class="field">
      <%= fyd_form.text_field :uri_youtube, placeholder: "Youtube-video ID or URI" %>
     </div>
    <% end %>
    <div class="actions input-group-append">
      <%= form.submit "Import Youtube",
        class: "btn btn-info", title: 'Create data according to the Youtube data.', style: "margin-top: -7em; margin-bottom: -7em; margin-left: 0.5em; padding: 6px;" %> <%# , :name => PostsController::FORM_SUBMIT_INSERTION_WITHIN_NAME, %>
    </div>
    
  <% end %>
</div>

<hr style="margin-top: -1em;">

<%= render 'harami_vids/form', harami_vid: @harami_vid %> <%# "harami_vids/" required for access from HaramiVids::FetchYoutubeDataController %>

<%= link_to 'Back', harami_vids_path %>
