
<h1><%= t("HaramiVid")%> <%= "[HaramiVid]" if can?(:edit, @harami_vid) %> (<%= @harami_vid.release_date %>)</h1>

<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: @harami_vid, add_buttons: false} %>
<dl>
  <dt> <%= t("tables.release_date") %>:</dt>
  <dd><%= @harami_vid.release_date %></dd>

  <dt> <%= t("tables.duration") %>:</dt>
  <dd><%= @harami_vid.duration %></dd>

  <dt> URI:</dt>
  <dd><%= link_to_youtube(@harami_vid.uri, @harami_vid.uri) %></dd>

  <dt> <%= t("tables.place_country") %>県・場所 (国):</dt>
  <dd><%= pla = @harami_vid.place
      if pla
        ar = pla.title_or_alt_ascendants(langcode: I18n.locale, prefer_alt: true);
        sprintf '%s %s(%s)', ar[1], (ar[0].blank? ? '' : '— '+ar[0]+' '), ar[2]
      else
        ""
      end %></dd>

  <dt> <%= t(:Channel) %>:</dt>
  <dd>「<%= @harami_vid.channel.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either) %>」</dd>
  <dd><%= @harami_vid.channel.channel_platform.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either) %>
      (<%= t("harami_vids.table_head_ChannelType", default: "Type") %>: <%= @harami_vid.channel.channel_type.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either) %>)
    by <%= @harami_vid.channel.channel_owner.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either) %>
  </dd>

  <dt> <%= t("datagrid.form.by_harami_full") %>:</dt>
  <dd><%= @harami_vid.flag_by_harami %></dd>

  <dt> <%= t("datagrid.form.uri_playlist", langcode: t("locale.long.ja")) %>:</dt>
  <dd><%= uri=@harami_vid.uri_playlist_ja; (uri.blank? ? '' : link_to_youtube(uri, uri)) %></dd>

  <dt> <%= t("datagrid.form.uri_playlist", langcode: t("locale.long.en")) %>:</dt>
  <dd><%= uri=@harami_vid.uri_playlist_en; (uri.blank? ? '' : link_to_youtube(uri, uri)) %></dd>

  <dt> <%= t("tables.note") %>:</dt>
  <dd><%= @harami_vid.note %></dd>
</dl>

<% if can? :update, @harami_vid %>
  <%= button_to 'Edit', edit_harami_vid_path(@harami_vid), method: :get %>
<br>
<% end %>
<%= link_to t("layouts.back_to_index"), harami_vids_path %>

<% if can? :read, Harami1129 %>
  <hr>
  <%= render partial: 'harami1129_table', locals: {harami_vid: @harami_vid, add_buttons: true} %>
<% end %>
<hr>
<%= render partial: 'music_table', locals: {harami_vid: @harami_vid, add_buttons: true} %>
<hr>

