
<h1><%= t("HaramiVid")%> <%= "[HaramiVid]" if can?(:edit, @harami_vid) %> (<%= @harami_vid.release_date %>)</h1>

<hr>
<section id="harami_vids_show_parameters">
<%= render partial: 'layouts/all_registered_translations', locals: {model: @harami_vid, add_buttons: false} %>
 <section id="harami_vids_show_unique_parameters">
 <dl>
  <dt class="item_pid"> pID:</dt>
  <dd class="item_pid"><%= @harami_vid.id %></dd>

  <dt class="item_release_date"> <%= t("tables.release_date") %>:</dt>
  <dd class="item_release_date"><%= @harami_vid.release_date %></dd>

  <dt class="item_duration"> <%= t("tables.duration") %>:</dt>
  <dd class="item_duration"><%= @harami_vid.duration %></dd>

  <dt class="item_uri"> URI:</dt>
  <dd class="item_uri"><%= link_to_youtube(@harami_vid.uri, @harami_vid.uri) %></dd>

  <dt class="item_channel"> <%= t(:Channel) %>:</dt>
  <dd class="item_channel">
    <% ch_str = (chan=@harami_vid.channel).title_or_alt(langcode: I18n.locale, lang_fallback_option: :either) %>
    「<em><%= (can?(:show, chan) ? link_to(ch_str, chan) : ch_str) %></em>」:
    <span class="channel_platform"><%= @harami_vid.channel.channel_platform.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either) %></span>
      (<%= t("harami_vids.table_head_ChannelType", default: "Type") %>: <span class="channel_type"><%= @harami_vid.channel.channel_type.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either) %></span>)
    by <span class="channel_owner"><%= @harami_vid.channel.channel_owner.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either) %></span>
  </dd>

  <dt class="item_event"> <%= t(:Events) %> [<%= t(:EventGroup)%>]:</dt>
  <dd class="item_event">
    <%= render partial: "event_event_items" %>
  </dd>

  <dt class="item_place"> <%= t("tables.place_country") %>:</dt>
  <dd class="item_place"><%= show_pref_place_country(@harami_vid.place) %></dd>  <%# defined in places_helper.rb %>

  <% if can? :edit, @harami_vid %>
  <dt> <%= t("datagrid.form.by_harami_full") %>:</dt>
  <dd><%= @harami_vid.flag_by_harami %></dd>

  <dt> <%= t("datagrid.form.uri_playlist", langcode: t("locale.long.ja")) %>:</dt>
  <dd><%= uri=@harami_vid.uri_playlist_ja; (uri.blank? ? '' : link_to_youtube(uri, uri)) %></dd>

  <dt> <%= t("datagrid.form.uri_playlist", langcode: t("locale.long.en")) %>:</dt>
  <dd><%= uri=@harami_vid.uri_playlist_en; (uri.blank? ? '' : link_to_youtube(uri, uri)) %></dd>
  <% end %>

  <dt class="item_note"> <%= t("tables.note") %>:</dt>
  <dd class="item_note"><%= @harami_vid.note %></dd>
 </dl>
 </section> <!-- section id="harami_vids_show_unique_parameters" -->
</section> <!-- section id="harami_vids_show_parameters" -->

<% if can? :update, @harami_vid %>
  <%= button_to 'Edit', edit_harami_vid_path(@harami_vid), method: :get, id: "main_edit_button" %>
<br>
<% end %>
<%# No "Destroy" button %>
<%= link_to t("layouts.back_to_index"), harami_vids_path %>

<% if can? :update, @harami_vid %>
<br>
Copying Events of this HaramiVid,
<%= link_to t("layouts.new").capitalize+" HaramiVid", new_harami_vid_path(params: {reference_harami_vid_id: @harami_vid.id}) %> |
<input type="text" id="pid_edit_harami_vid_with_ref" class="input_12em" placeholder="pID of HaramiVid to edit">
<a href="#" id="href_edit_harami_vid_with_ref" class="button_like">Edit another HaramiVid</a>
<% end %>

  <%# button_to 'Edit another HaramiVid', "#", method: :get, id: "href_edit_harami_vid_with_ref", form_css: "inline_form" %>

<hr>
<%= render partial: 'music_table', locals: {harami_vid: @harami_vid, add_buttons: true} %>
<hr>
<% if can? :read, Harami1129 %>
  <hr>
  <%= render partial: 'harami1129_table', locals: {harami_vid: @harami_vid, add_buttons: true} %>
<% end %>

