<p id="notice"><%= notice %></p>

<h1>HaramiVid (<%= @harami_vid.release_date %>)</h1>

<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: @harami_vid, add_buttons: false} %>
<% if can? :read, Harami1129 %>
  <hr>
  <%= render partial: 'harami1129_table', locals: {harami_vid: @harami_vid, add_buttons: true} %>
<% end %>
<hr>
<%= render partial: 'music_table', locals: {harami_vid: @harami_vid, add_buttons: true} %>
<hr>
<dl>
  <dt> Release date:</dt>
  <dd><%= @harami_vid.release_date %></dd>

  <dt> Duration:</dt>
  <dd><%= @harami_vid.duration %></dd>

  <dt> Uri:</dt>
  <dd><%= link_to_youtube(@harami_vid.uri, @harami_vid.uri) %></dd>

  <dt> 県・場所 (国):</dt>
  <dd><%= pla = @harami_vid.place
      if pla
        ar = pla.title_or_alt_ascendants(langcode: 'ja', prefer_alt: true);
        sprintf '%s %s(%s)', ar[1], (ar[0].blank? ? '' : '— '+ar[0]+' '), ar[2]
      else
        ""
      end %></dd>

  <dt> Flag by harami:</dt>
  <dd><%= @harami_vid.flag_by_harami %></dd>

  <dt> Uri playlist ja:</dt>
  <dd><%= uri=@harami_vid.uri_playlist_ja; (uri.blank? ? '' : link_to_youtube(uri, uri)) %></dd>

  <dt> Uri playlist en:</dt>
  <dd><%= uri=@harami_vid.uri_playlist_en; (uri.blank? ? '' : link_to_youtube(uri, uri)) %></dd>

  <dt> Note:</dt>
  <dd><%= @harami_vid.note %></dd>
</dl>

<% if can? :update, @harami_vid %>
  <%= button_to 'Edit', edit_harami_vid_path(@harami_vid), method: :get %>
<br>
<% end %>
<%= link_to 'Back', harami_vids_path %>
