
<h1><%= t("HaramiVid")%> <%= "[HaramiVid]" if can?(:edit, @harami_vid) %> (<%= @harami_vid.release_date %>)</h1>

<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: @harami_vid, add_buttons: false} %>
<dl>
  <dt> <%= t("tables.release_date") %>:</dt>
  <dd><%= @harami_vid.release_date %></dd>

  <dt> <%= t("tables.duration") %>:</dt>
  <dd><%= @harami_vid.duration %></dd>

  <dt> URI:</dt>
  <dd><%= link_to_youtube(@harami_vid.uri, @harami_vid.uri) %></dd>

  <dt> <%= t(:Channel) %>:</dt>
  <dd>「<%= @harami_vid.channel.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either) %>」</dd>
  <dd><span class="channel_platform"><%= @harami_vid.channel.channel_platform.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either) %></span>
      (<%= t("harami_vids.table_head_ChannelType", default: "Type") %>: <span class="channel_type"><%= @harami_vid.channel.channel_type.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either) %></span>)
    by <span class="channel_owner"><%= @harami_vid.channel.channel_owner.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either) %></span>
  </dd>

  <dt> <%= t(:Event) %> (&lt; <%= t(:EventGroup)%>):</dt>
  <dd>
    <ul>
    <% @harami_vid.events.each do |event| %>
      <li><%= event.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either) %> (<%= event.event_group.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either) %>)
        <ul>
          <% event.event_items.each do |event_item| %>
            <li>
              <% if can? :index, EventItem %>
                (<%= t(:EventItem) %>: <%= event_item.machine_title.inspect %>) /
              <% end %>
              (コラボアーティスト)
              <%= msg = event_item.artists.map{|em| em.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either)}.join(t(:comma, default: ", "));
                msg.present? ? msg : t(:None)
              %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
    </ul>
  </dd>

  <dt> <%= t("tables.place_country") %>:</dt>
  <dd><%= pla = @harami_vid.place
      if pla
        ar = pla.title_or_alt_ascendants(langcode: I18n.locale, prefer_alt: true);
        sprintf '%s %s(%s)', ar[1], (ar[0].blank? ? '' : '— '+ar[0]+' '), ar[2]
      else
        ""
      end %></dd>

  <% if can? :edit, @harami_vid %>
  <dt> <%= t("datagrid.form.by_harami_full") %>:</dt>
  <dd><%= @harami_vid.flag_by_harami %></dd>

  <dt> <%= t("datagrid.form.uri_playlist", langcode: t("locale.long.ja")) %>:</dt>
  <dd><%= uri=@harami_vid.uri_playlist_ja; (uri.blank? ? '' : link_to_youtube(uri, uri)) %></dd>

  <dt> <%= t("datagrid.form.uri_playlist", langcode: t("locale.long.en")) %>:</dt>
  <dd><%= uri=@harami_vid.uri_playlist_en; (uri.blank? ? '' : link_to_youtube(uri, uri)) %></dd>
  <% end %>

  <dt> <%= t("tables.note") %>:</dt>
  <dd><%= @harami_vid.note %></dd>
</dl>

<% if can? :update, @harami_vid %>
  <%= button_to 'Edit', edit_harami_vid_path(@harami_vid), method: :get %>
<br>
<% end %>
<%# No "Destroy" button %>
<%= link_to t("layouts.back_to_index"), harami_vids_path %>

<hr>
<%= render partial: 'music_table', locals: {harami_vid: @harami_vid, add_buttons: true} %>
<hr>
<% if can? :read, Harami1129 %>
  <hr>
  <%= render partial: 'harami1129_table', locals: {harami_vid: @harami_vid, add_buttons: true} %>
<% end %>

