<div id="<%= dom_id channel %>">
<% model = channel %>
<dl>
  <% if can? :update, channel %>
    <dt>ID (<%= channel.class.name %>)</dt>
    <dd> <%= channel.id %></dd>
  <% end %>
  <dt title="Channel owner.">Owner</dt>
    <dd><%= m=model.channel_owner; link_to(m.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either), channel_owner_path(m)) if m %>
      <% if m && m.artist %>
        (→ <%= t(:Artist) %>: <%= link_to(m.artist.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either), artist_path(m.artist)) %>)
      <% end %>
    </dd>
  <dt title="Channel platform.">Platform</dt>
    <dd><%= m=model.channel_platform; link_to(m.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either), channel_platform_path(m)) %></dd>
  <dt title="Channel type.">Type</dt>
    <dd><%= m=model.channel_type; link_to(m.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either), channel_type_path(m)) %></dd>
  <dt title="Note"><strong>Note:</strong></dt>
    <dd><%= model.note %></dd>
 <% if can? :update, Users::EditRolesController %>
   <% %w(create_user update_user).each do |metho| %>
  <dt><%= metho %>:</dt>
    <dd><%= ur = channel.send(metho); link_to(ur.display_name, ur) if ur %></dd>
   <% end %>
 <% end %>
 <% if can? :edit, channel %>
  <dt>updated_at:</dt>
    <dd><%= channel.updated_at %></dd>
 <% end %>
</dl>
</div>

