<h1>Channels</h1>

<div id="channels">
<table id="channels_index_table">
  <thead>
    <tr>
     <% if can? :edit, Channel  %>
      <th class="editor_only">ID</th>
     <% end %>
       <%= render "layouts/title_alt_ja_en_table", model: nil, langcodes: %w(ja en) %>  <%# class="title_alt_ja" etc %>
      <th title="Channel owner."><%= t(:ChannelOwner_short) %></th>
      <th title="Channel platform."><%= t(:ChannelPlatform_short) %></th>
      <th title="Channel type."><%= t(:ChannelType_short) %></th>
      <th title="<%= t("tables.n_harami_vids_long") %>"><%= t("tables.n_harami_vids_short") %></th>
      <th title="Note in this DB">Note</th>
      <% if can? :update, Users::EditRolesController %>
        <th class="moderator_only">Created</th>
        <th class="moderator_only">Updated</th>
      <% end %>
      <% if can? :update, Channel %>
        <th colspan="3"></th>
      <% else %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @channels.each do |model| %>
      <tr>
        <td class="editor_only"><%= link_to(model.id, model) %></td>
       <%= render "layouts/title_alt_ja_en_table", model: model, langcodes: %w(ja en) %>  <%# class="title_alt_ja" etc %>

        <td><%= m=model.channel_owner; link_to(m.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either, article_to_head: true), channel_owner_path(m)) %>
          <% if m.themselves && m.artist %>
            [<%= link_to(t('.themselves'), m.artist) %>]
          <% end %>
        </td>
        <td><%= m=model.channel_platform; link_to(m.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either, article_to_head: true), channel_platform_path(m)) %></td>
        <td><%= m=model.channel_type; link_to(m.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either, article_to_head: true), channel_type_path(m)) %></td>
        <td class="text-end"><%= model.harami_vids.count %></td>
        <td><%= auto_link50(model.note) %></td>
      <% if can? :update, Users::EditRolesController %>
        <td class="moderator_only"><%= ur = model.create_user; link_to(ur.display_name, ur) if ur %></th>
        <td class="moderator_only"><%= ur = model.update_user; link_to(ur.display_name, ur) if ur %></th>
      <% end %>

        <td><%= link_to t("tables.Show"), model %></td>
        <% if can? :update, model  %>
          <td class="editor_only"><%= link_to 'Edit', edit_channel_path(model) %></td>
         <% if can? :destroy, model %>
          <td class="editor_only"><%= link_to 'Destroy', model, method: :delete, data: { confirm: t('are_you_sure') } %></td>
         <% else %>
          <td class="editor_only"></td>
         <% end %>
        <% else %>
          <td colspan="2" class="editor_only"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<% if can? :create, Channel %>
  <%= button_to 'New Channel', new_channel_path, method: :get %>
<% end %>

