
<h1>Channel: <%= @channel.title_or_alt(langcode: I18n.locale) %></h1>

<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: @channel} %>
<hr>

<%= render @channel %>

<%= render partial: 'layouts/show_edit_destroy', locals: {model: @channel, destroyable: !@channel.harami_vids.exists?} %>

<hr>
  <%= link_to t("layouts.back_to_index"), channels_path %>

<hr>

<section id="harami_vid_table">
<h3><%= t(".harami_vid_table_title") %></h3>

  <%= render partial: 'layouts/harami_vids_index', locals: {harami_vids: @channel.harami_vids.order("harami_vids.release_date" => :desc).distinct, music: nil} %>
</section>

