    <% toastr_flash  # defined in /app/helpers/application_helper.rb
    %>
<p id="notice"><%= notice %></p>

  <% if engage_how.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(engage_how.errors.count, "error") %> prohibited this engage_how from being saved:</h2>

      <ul>
        <% engage_how.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% if ! engage_how.new_record? %>
<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: @engage_how, add_buttons: true} %>
<hr>

<% end %>

<% title_weight = 'Lower means a higher priority.' %>
<% if engage_how.new_record? %>
  <%= simple_form_for Translation.new, url: engage_hows_url do |form| %>
    <% # name="translation[langcode]" => params(:translation => {})
     %>
      <% collec = [] %>
      <% BaseWithTranslation::AVAILABLE_LOCALES.each do |es| %>
        <% lc = engage_how.orig_langcode; form.radio_button('langcode', es, checked: (es.to_s == (lc || 'ja'))) %>
        <% collec.push [BaseWithTranslation::LANGUAGE_TITLES[:ja][es.to_s], es] %>
      <% end %>
    <%= form.input :langcode, label: 'EngageHow名の言語 (本来の言語で。翻訳は後で追加)', required: true, collection: collec, prompt: "Please select", selected: 'ja' %>
    <%= form.input :is_orig, label: 'これが原語か? (注: 「冷蔵庫」などの一般名詞はUndefined)', required: true, as: :radio_buttons, collection: [['Yes', '1'], ['No', '0'], ['Undefined', '-99']], checked: '-99' %>
    <%= form.input :title, label: 'EngageHow正式名称', value: engage_how.title, required: true, as: :text %>
    <%= form.input :ruby, label: 'EngageHow正式名称フリガナ (片仮名で)', value: engage_how.ruby, as: :text %>
    <%= form.input :romaji, label: 'EngageHow正式名称ローマ字', value: engage_how.romaji, as: :text %>
    <%= form.input :alt_title, label: 'EngageHow正式略称・別名', value: engage_how.alt_title, as: :text %>
    <%= form.input :alt_ruby, label: 'EngageHow正式略称・別名名称 (片仮名で)', value: engage_how.alt_ruby, as: :text %>
    <%= form.input :alt_romaji, label: 'EngageHow正式略称・別名', value: engage_how.alt_romaji, as: :text %>
    <%= simple_fields_for engage_how do |n| %>
    <% # name="engage_how[note]" => params(:engage_how => {})
     %>
      <%= n.input :weight, placeholder: 'Lower means a higher priority.', label_html: { title: title_weight}, input_html: { title: 'Lower means a higher priority.'} %>
      <%= n.input :note %>
    <% end %>
    <%= form.submit "Create EngageHow" %>
  <% end %>

<% else %>
  <%= simple_form_for engage_how do |form| %>
    <%= form.input :weight, placeholder: 'Lower means a higher priority.', label_html: { title: title_weight}, input_html: { title: title_weight} %>
    <%= form.input :note %>
    <%= form.submit %>
  <% end %>
<% end %>


