<p id="notice"><%= notice %></p>

<h1>EngageHows</h1>

<table>
  <thead>
    <tr>
      <th>Ja</th>
      <th>En</th>
      <th>Weight</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @engage_hows.each do |engage_how| %>
      <tr>
        <td><%= engage_how.translations_with_lang('ja').map(&:title).join(' | ') %></td>
        <td><%= engage_how.translations_with_lang('en').map(&:title).join(' | ') %></td>
        <td><%= w = engage_how.weight; ((w == w.to_i) ? w.to_i : w) %></td>
        <td><%= engage_how.note %></td>
        <td><%= link_to 'Show', engage_how %></td>
        <td><%= link_to 'Edit', edit_engage_how_path(engage_how) %></td>
        <td><%= link_to 'Destroy', engage_how, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New EngageHow', new_engage_how_path %>
