<p id="notice"><%= notice %></p>

<h1>EngageHows</h1>

<% allcolspan = 1
   allcolspan += 1 if can?(:update,  EngageHow)
   allcolspan += 1 if can?(:destroy, EngageHow)
%>
<table>
  <thead>
    <tr>
      <th>Ja</th>
      <th>En</th>
      <th>Weight</th>
      <th>Note</th>
      <th colspan="<%= allcolspan %>"></th>
    </tr>
  </thead>

  <tbody>
    <% @engage_hows.each do |engage_how| %>
      <tr>
        <td><%= engage_how.translations_with_lang('ja').map(&:title).join(' | ') %></td>
        <td><%= engage_how.translations_with_lang('en').map(&:title).join(' | ') %></td>
        <td class="align-r"><%= w = engage_how.weight; ((w == w.to_i) ? w.to_i : w) %></td>
        <td><%= engage_how.note %></td>
        <td><%= link_to 'Show', engage_how %></td>
        <% if can?(:update, engage_how) %>
          <td><%= link_to 'Edit', edit_engage_how_path(engage_how) %></td>
        <% end %>
        <% if can?(:destory, engage_how) %>
          <td><%= link_to 'Destroy', engage_how, method: :delete, data: { confirm: t('are_you_sure') } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, EngageHow %>
  <%= button_to 'Create New EngageHow', new_engage_how_path, method: :get %>
  <%# link_to 'New EngageHow', new_engage_how_path %>
<% end %>

