<p id="notice"><%= notice %></p>

<h1>EngageHows</h1>

<% allcolspan = 1
   allcolspan += 1 if can?(:update,  EngageHow)
   allcolspan += 1 if can?(:destroy, EngageHow)
%>
<table>
  <thead>
    <tr>
      <th>ID</th>
       <%= render "layouts/title_alt_ja_en_table", model: nil, langcodes: %w(ja en) %>  <%# class="title_alt_ja" etc %>
      <th>Weight</th>
      <th>Note</th>
      <th colspan="<%= allcolspan %>"></th>
    </tr>
  </thead>

  <tbody>
    <% @engage_hows.each do |model| %>
      <tr>
        <td><%= model.id%></td>
       <%= render "layouts/title_alt_ja_en_table", model: model, langcodes: %w(ja en) %>  <%# class="title_alt_ja" etc %>
        <td class="align-r"><%= w = model.weight; ((w == w.to_i) ? w.to_i : w) %></td>
        <td><%= auto_link50(model.note) %></td>
        <td><%= link_to 'Show', model %></td>
        <% if can?(:update, model) %>
          <td><%= link_to 'Edit', edit_engage_how_path(model) %></td>
        <% end %>
        <% if can?(:destory, model) %>
          <td><%= link_to 'Destroy', model, method: :delete, data: { confirm: t('are_you_sure') } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, EngageHow %>
  <%= button_to 'Create New EngageHow', new_engage_how_path, method: :get %>
  <%# link_to 'New EngageHow', new_engage_how_path %>
<% end %>

