<%# local vars: n_harami_vids (Number of associated HaramiVids) %>

<% if !defined?(n_harami_vids)
     n_harami_vids = HaramiVid.joins(:event_groups).where("event_groups.id = ?", event_group.id).distinct.count
   end %>  <%# This has to be in multi-line (or in the ";" syntax), as opposed to the post-placed "if", because of "defined?" %> <%# for some reason, n_harami_vids is not passed from the parent show.html.erg ... hence it is redefiend (recalculated here. %>
<div id="<%= dom_id event_group %>">


<section id="primary_contents">
<dl>
  <% if (can_update_eg=can?(:update, EventGroup)) %>
    <div class="editor_only">
      <dt>pID (EventGroup)</dt>
      <dd> <%= event_group.id %></dd>
    </div>
  <% end %>

  <% canedit = can?(:edit, event_group) %>
  <% end_str = (canedit ? nil : "&mdash;".html_safe) %>
  <dt class="item_start_date"><%= t("event_groups.start_date", default: "From YYYY-MM-DD") %>:</dt>
    <% da = event_group.start_date; %>
    <dd class="item_start_date"><%= strdate = (da ? date2text(da.year, da.month, da.day, lower_end_str: end_str, upper_end_str: end_str) : (canedit ? date2text(nil, nil, nil) : "&mdash;".html_safe)) %>
      <% s=event_group.start_date_err; %>
      (± <%= (("&mdash;" == strdate) || !s || s.days > 99.years)  ? "&mdash; [#{t(:days)}]".html_safe : sprintf("%s [%s]", s, t(:days)).html_safe %>)
      <% if can_update_eg %> 
        <span class="moderator_only">[Raw-value=<%= event_group.start_date %> ± <%= event_group.start_date_err %>]</span>
      <% end %>
    </dd>
  <dt class="item_end_date"><%= t("event_groups.end_date", default: "From YYYY-MM-DD") %>:</dt>
    <% da = event_group.end_date; %>
    <dd class="item_end_date"><%= strdate = (da ? date2text(da.year, da.month, da.day, lower_end_str: end_str, upper_end_str: end_str) : (canedit ? date2text(nil, nil, nil) : "&mdash;".html_safe)) %>
      <% s=event_group.end_date_err; %>
      (± <%= ("&mdash;" == strdate) ? "&mdash; [#{t(:days)}]".html_safe : sprintf("%s [%s]", s, t(:days)).html_safe %>)
      <% if can_update_eg %> 
        <span class="moderator_only">[Raw-value=<%= event_group.end_date %> ± <%= event_group.end_date_err %>]</span>
      <% end %>
    </dd>

  <dt class="item_place"> <%= t("tables.place_country") %>:</dt>
    <dd class="item_place"><%= event_group.place ? show_pref_place_country(event_group.place) : "" %></dd>  <%# defined in places_helper.rb %>
  <dt class="item_n_events"><%= t("event_groups.n_events_long") %><% if !(canread_evit=(can?(:read, EventItem))) %>:
    <% else %>
      <span class="editor_only"> / <%= t(:EventItems) %> </span>
    <% end %>
    </dt>
    <dd class="item_n_events event_groups_index_table_events"><%= link_to event_group.events.count, "#section_event_group_show_events" %>
      <% if canread_evit %>
        <span class="editor_only"> / <%= event_group.event_items.count %> </span>
      <% end %>
    </dd>
  <dt class="item_n_hvids"><%= t("tables.n_harami_vids") %>:</dt>
    <dd class="item_n_hvids"><%= n_harami_vids %></dd>
  <dt class="item_note"><%= t("tables.note").capitalize %>:</dt>
    <dd class="item_note"><%= sanitized_html(auto_link(event_group.note)).html_safe %></dd>

  <% if can_update_eg %>
    <div class="editor_only">
      <dt>updated_at:</dt>
        <dd><%= event_group.updated_at %></dd>
    </div>
  <% end %>
</dl>
</section> <!-- section id="primary_contents" -->

</div>
