<div id="<%= dom_id event_group %>">
  <p>
    <strong>Serial Number:</strong>
    <%= event_group.order_no %>
  </p>

  <p>
    <strong>From year:</strong>
    <%= event_group.start_date.year %>
  </p>

  <p>
    <strong>From month:</strong>
    <%= event_group.start_date.month %>
  </p>

  <p>
    <strong>From day:</strong>
    <%= event_group.start_date.day %>
  </p>

  <p>
    <strong>±days:</strong>
    <%= event_group.end_date_err %>
  </p>

  <p>
    <strong>To year:</strong>
    <%= event_group.end_date.year %>
  </p>

  <p>
    <strong>To month:</strong>
    <%= event_group.end_date.month %>
  </p>

  <p>
    <strong>To day:</strong>
    <%= event_group.end_date.day %>
  </p>

  <p>
    <strong>±days:</strong>
    <%= event_group.end_date_err %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= event_group.place ? h(event_group.txt_place_pref_ctry) : "" %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= event_group.note %>
  </p>

</div>
