
<%= render partial: 'layouts/form_print_errors', locals: {model: event_group} %>

<% if ! event_group.new_record? %>
<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: event_group, add_buttons: true} %>
<hr>

<h2>Unique parameters</h2>
<% end %>

<div id="form_main">
<%= simple_form_for event_group do |f| %>
  <% if event_group.new_record? %>
    <%= render partial: 'layouts/partial_new_translations', locals: {form: f, model: event_group, trans: Translation.new, disable_is_orig: false, is_simple_form: true} %>
  <% end %>

  <%= render partial: "layouts/select_country_prefecture_place", locals: {form: f, model: event_group, is_simple_form: true} %>

  <% dat = event_group.start_date %>
  <% dat_or_this = (dat ? dat : Date.current) %>
  <% end_y = [dat_or_this+21.year, Date.current].min.year + 1 %>
  <%= f.input :start_date, start_year: get_form_start_year(dat), end_year: end_y %>
  <%= f.input :start_date_err, label: "± days (Start)" %>

  <% start_y = (dat ? dat.year : TimeAux::DEF_FIRST_DATE_TIME.year) %> <%# dat === Start-date in DB %>
  <% dat_end = event_group.end_date %>
  <% end_y = ((start_y >= Date.current.year + EventGroupsController::OFFSET_LARGE_YEAR) ? start_y : [start_y, Date.current.year, dat_end.year].max + 5) %>  <%# Selection end is +5 years %>
  <% dat_or_this = (dat_end ? dat_end : TimeAux::DEF_LAST_DATE_TIME.to_date) %>
  <%= f.input :end_date, start_year: start_y, end_year: end_y %>
  <%= f.input :end_date_err, label: "± days (End)" %>

  <%= render partial: 'layouts/form_note_memo_editor', locals: {form: f, model4ability: event_group, skip_ability_check: true} %>

  <%= f.submit %>
  <div class="actions">
  <%= submit_tag(t("layouts.reset_button"), { :name => 'reset', :id => 'reset_button', :type => "reset" }) %>
  </div>
<% end %>

</div>

<%#= render partial: 'layouts/link_merge_destroy', locals: {model: event_group, is_to_edit: !event_group.new_record? } %>

