
<h1><%= t("EventGroup", count: 2).pluralize(2, I18n.locale) %></h1>

<div id="event_groups">
<table id="event_groups_index_table">
    <% can_edit_event_group = can?(:edit, EventGroup) %>
    <% can_create_event     = can?(:create, Event) %>
  <thead>
    <tr>
     <% can_edit_event_group = can?(:edit, EventGroup) %>
      <th><%= can_edit_event_group ? "ID" : "" %></th>
      <% if can_edit_event_group %>
       <%= render "layouts/title_alt_ja_en_table", model: nil, langcodes: %w(ja en) %>  <%# class="title_alt_ja" etc %>
      <% else %>
       <th class="title_alt_<%= I18n.locale.to_s %>"><%= t(:title).capitalize %></th>
      <% end %>
      <th><%= t("event_groups.start_date", default: "From YYYY-MM-DD") %></th>
      <% if can_edit_event_group %>
        <th class="editor_only">±days</th>
      <% end %>
      <th><%= t("event_groups.end_date", default: "To YYYY-MM-DD") %></th>
      <% if can_edit_event_group %>
        <th class="editor_only">±days</th>
      <% end %>
      <th><%= t(:Place) %></th>
      <th title="Note in this DB"><%= t("tables.note") %></th>
      <th><%= t("event_groups.n_events") %></th>
     <% n_colspans = 1 + [can_edit_event_group, can_create_event].count(true) %>
      <th colspan="<%= n_colspans %>"></th>
    </tr>
  </thead>

  <tbody>
    <%# Sorts by the most recent child Event (NOT EventGroup) %>
    <% @event_groups.joins(:events).order("events.start_time" => :desc).uniq.each_with_index do |model, i_eg| %> <%# "distinct" raises an Error (at least with PostgreSQL) %>
      <tr>
        <td class="<%= can_edit_event_group ? 'editor_only' : '' %>"><%= can_edit_event_group ? link_to(model.id, model) : i_eg+1 %></td>
      <% if can_edit_event_group %>
       <%= render "layouts/title_alt_ja_en_table", model: model, langcodes: %w(ja en) %>  <%# class="title_alt_ja" etc %>
      <% else %>
       <%= render "layouts/title_alt_ja_en_table", model: model, langcodes: [I18n.locale] %>  <%# class="title_alt_ja" etc %>
      <% end %>
        <td><%= da = model.start_date; str = (da ? date2text(da.year, da.month, da.day, lower_end_str: "", upper_end_str: "") : (can?(:edit, model) ? date2text(nil, nil, nil) : "")) %></td>
      <% if can? :update, EventGroup %>
        <td class="editor_only"><%= s=model.start_date_err; (str.blank? ? "" : s) %></td>
      <% end %>
        <td><%= da = model.end_date;   str = (da ? date2text(da.year, da.month, da.day, lower_end_str: "", upper_end_str: "") : (can?(:edit, model) ? date2text(nil, nil, nil) : "")) %></td>
      <% if can? :update, EventGroup %>
        <td class="editor_only"><%= s=model.end_date_err; (str.blank? ? "" : s) %></td>
      <% end %>
        <td><%= model.place ? h(model.txt_place_pref_ctry) : "" %></td>
        <td><%= auto_link50(model.note) %></td>

        <td class="event_groups_index_table_events"><%= link_to model.events.size, event_group_url(model)+"#section_event_group_show_events" %></td>
        <td><%= link_to t("event_groups.index.show"), model %></td>
        <% if can_edit_event_group %>
          <td class="editor_only">
            <% if can? :update, model  %>
              <%= link_to 'Edit', edit_event_group_path(model) %>
            <% end %>
          </td>
        <% end %>
        <% if can_create_event %>
          <td class="editor_only"><%= link_to 'Add Event', new_event_path(event_group_id: model.id) %></td>
        <% end %>

        <% if false %> <%# ==================== %>
        <% if can?(:destroy, model) %>
          <td class="editor_only">
         <% if model.destroyable? %>
          <%= link_to 'Destroy', model, method: :delete, data: { confirm: t('are_you_sure') } %>
         <% else %>
          <span class="cell_disable_link">Destroy</span>
         <% end %>
         </td>
        <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<% if can? :create, EventGroup %>
  <%= button_to 'Create EventGroup', new_event_group_path, method: :get %>
<% end %>


