<%= notice %>

<h1><%= t("EventGroup", count: 2).pluralize(2, I18n.locale) %></h1>

<div id="event_groups">
<table id="event_groups_index_table">
  <thead>
    <tr>
     <% can_edit_event_group = can?(:edit, EventGroup) %>
      <th><%= can_edit_event_group ? "ID" : "" %></th>
      <% if can_edit_event_group %>
      <th>Name (ja)</th>
      <th>Name (en)</th>
      <% else %>
      <th><%= t(:title).capitalize %></th>
      <% end %>
      <th title="n-th one in a series of Event Group"><%= t("event_groups.num_id") %></th>
      <th><%= t("event_groups.start_date", default: "From YYYY-MM-DD") %></th>
      <% if can_edit_event_group %>
      <th>±days</th>
      <% end %>
      <th><%= t("event_groups.end_date", default: "To YYYY-MM-DD") %></th>
      <% if can_edit_event_group %>
      <th>±days</th>
      <% end %>
      <th><%= t(:Place) %></th>
      <th title="Note in this DB"><%= t("tables.note") %></th>
      <th><%= t("event_groups.n_events") %></th>
      <% if can_edit_event_group %>
        <th colspan="3"></th>
      <% else %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @event_groups.order(start_date: :desc).each_with_index do |event_group, i_eg| %>
      <tr>
        <td><%= can_edit_event_group ? event_group.id : i_eg+1 %></td>
        <% btr = event_group.best_translations %>
      <% if can_edit_event_group %>
        <% %w(ja en).each do |lc| %> <%# no "fr" so far %>
        <td><%= %w(title alt_title).map{|i| tra=btr[lc]; s=(tra && h(tra.send(i))); s.blank? ? '&mdash;' : s}.join(' | ').html_safe %></td>
        <% end %>
      <% else %>
        <td><%= (tra=btr[I18n.locale]) ? tra.title_or_alt.html_safe : "" %></td>
      <% end %>
        <td><%= event_group.order_no %></td>
        <td><%= da = event_group.start_date; str = (da ? date2text(da.year, da.month, da.day, lower_end_str: "", upper_end_str: "") : (can?(:edit, event_group) ? date2text(nil, nil, nil) : "")) %></td>
      <% if can? :update, EventGroup %>
        <td><%= s=event_group.start_date_err; (str.blank? ? "" : s) %></td>
      <% end %>
        <td><%= da = event_group.end_date;   str = (da ? date2text(da.year, da.month, da.day, lower_end_str: "", upper_end_str: "") : (can?(:edit, event_group) ? date2text(nil, nil, nil) : "")) %></td>
      <% if can? :update, EventGroup %>
        <td><%= s=event_group.end_date_err; (str.blank? ? "" : s) %></td>
      <% end %>
        <td><%= event_group.place ? h(event_group.txt_place_pref_ctry) : "" %></td>
        <td><%= event_group.note %></td>

        <td class="event_groups_index_table_events"><%= link_to event_group.events.size, event_group_url(event_group)+"#section_event_group_show_events" %></td>
        <td><%= link_to t("event_groups.index.show"), event_group %></td>
        <% if can? :update, event_group  %>
          <td><%= link_to 'Edit', edit_event_group_path(event_group) %></td>
        <% end %>
        <% if can? :destroy, event_group %>
          <td><%= link_to 'Destroy', event_group, method: :delete, data: { confirm: t('are_you_sure') } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<% if can? :create, EventGroup %>
  <%= button_to 'Create EventGroup', new_event_group_path, method: :get %>
<% end %>


