<% canupdate_evgr = can?(:update, EventGroup) %>
<% my_title = (canupdate_evgr ? @event_group.title_or_alt_tuple_str(langcode: I18n.locale) : @event_group.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either, str_fallback: "", article_to_head: true)) %>
<h1><%= t("EventGroup") %>: <%= my_title %><%= h1_note_editor_only(@event_group, method: :show) %></h1>

<% canupdate = can?(:update, @event_group) %>

<% if can?(:create, Translation) %>
<%= render partial: 'layouts/all_registered_translations', locals: {model: @event_group, add_buttons: true} %>
<hr>
<% else %>
<h3><%= t(:title).upcase %></h3>

<dl>
  <% @event_group.best_translations.each_pair do |ek, etra| %>
    <dt>[<%= t("locale.long."+ek.to_s) %><%= '<span title="original language">*</span>'.html_safe if etra.is_orig %>]</dt>
    <dd><%= [etra.title, etra.alt_title].map(&:presence).compact.join(" / ") %></dd>
  <% end %>
</dl>
<% end %>

<% n_events = @event_group.events.count
   n_harami_vids = HaramiVid.joins(:events).where('events.event_group_id = ?', @event_group.id).distinct.count %>
<%# NOTE: Alternatively:  HaramiVid.joins(:event_groups).where("event_groups.id = ?", @event_group.id).distinct.count %>
<%# NOTE: Alternatively:  HaramiVid.joins(events: :event_group).where(event_groups: {id: @event_group.id}).distinct %>

<%= render @event_group, locals: { n_events: n_events, n_harami_vids: n_harami_vids } %>   <%# for some reason, n_harami_vids is not passed... hence it is redefiend (recalculated in ./_event_group.html.erb %>

<div id="event_group_show_footer_controller">
  <p>
    <% if canupdate %>
      <span class="lead moderator_only"><%= link_to "Edit this EventGroup", edit_event_group_path(@event_group) %> |</span>
    <% end %>
  <%= link_to t("layouts.back_to_index"), event_groups_path %>
  </p>

<% if can?(:destroy, EventGroup) %>
<div class="text-end moderator_only"> <%# bootstrap 5 %>
<% if can?(:destroy, @event_group) && @event_group.destroyable? %>
  <%= button_to "Destroy this EventGroup", @event_group, method: :delete %>
  </div>
<% elsif current_user && current_user.an_admin? %>
  <p>
  (Child Events (descendants) exist or this is "unknown?", so this cannot be destroyed.)
  </p>
<% end %>
</div>
<% end %>
</div> <!-- div id="event_group_show_footer_controller" -->

<hr>

<section id="section_event_group_show_events">

<h2><%= t("event_groups.show.event_table_title") %> (<%= n_events %> <%= t(:Events) %>)</h2>

<%= render partial: "layouts/events_index", locals: {events: @event_group.events} %>
<% if (cancreate_evt=can?(:create, Event)) %>
  <span class="lead editor_only"><%= link_to "New Event of this EventGroup", new_event_path(event_group_id: @event_group.id) %></span>
<% end %>
</section>

<hr>

<section id="section_event_group_show_harami_vids_events">

<h2><%= t("event_groups.show.harami_vid_table_title") %> (<%= n_harami_vids %> <%= t(:videos) %>)</h2>

<%= render partial: "layouts/events_harami_vids_index", locals: {events: @event_group.events, with_place_public: true, max_n_events: (cancreate_evt ? nil : Rails.configuration.max_events_per_group_public), max_harami_vids_per_event:  (cancreate_evt ? Rails.configuration.max_harami_vids_per_event_editor : Rails.configuration.max_harami_vids_per_event_public) } %>  <%# Some EventGroups have too many HaramiVid-s, so they are trimmed. %>

</section> <%# section id="section_event_group_show_harami_vids_events" %>

<% if can? :index, EventGroup %>  <%# EventGroup-index will perhaps become public in the future... %>
<hr>

  <section id="section_event_group_show_footer">
  <p class="link_back_to_index">
  <%= link_to t("layouts.back_to_index"), event_groups_path %>
  </p>
  </section>
<% end %>

