<% canupdate_evgr = can?(:update, EventGroup) %>
<% my_title = (canupdate_evgr ? @event_group.title_or_alt_tuple_str(langcode: I18n.locale) : @event_group.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either, str_fallback: "", article_to_head: true)) %>
<h1><%= t("EventGroup") %>: <%= my_title %><%= h1_note_editor_only(@event_group, method: :show) %></h1>

<% canupdate = can?(:update, @event_group) %>

<% if can?(:create, Translation) %>
<%= render partial: 'layouts/all_registered_translations', locals: {model: @event_group, add_buttons: true} %>
<hr>
<% else %>
<h3><%= t(:title).upcase %></h3>

<dl>
  <% @event_group.best_translations.each_pair do |ek, etra| %>
    <dt>[<%= t("locale.long."+ek.to_s) %><%= '<span title="original language">*</span>'.html_safe if etra.is_orig %>]</dt>
    <dd><%= [etra.title, etra.alt_title].map(&:presence).compact.join(" / ") %></dd>
  <% end %>
</dl>
<% end %>

<% n_events = @event_group.events.count
   n_harami_vids = HaramiVid.joins(:events).where('events.event_group_id = ?', @event_group.id).distinct.count %>
<%# NOTE: Alternatively:  HaramiVid.joins(:event_groups).where("event_groups.id = ?", @event_group.id).distinct.count %>
<%# NOTE: Alternatively:  HaramiVid.joins(events: :event_group).where(event_groups: {id: @event_group.id}).distinct %>

<%= render @event_group, locals: { n_events: n_events, n_harami_vids: n_harami_vids } %>   <%# for some reason, n_harami_vids is not passed... hence it is redefiend (recalculated in ./_event_group.html.erb %>

<%= render partial: 'layouts/link_edit_destroy_index', locals: {record: @event_group, is_to_edit: false, only: :moderator } %>

<hr>

<section id="section_event_group_show_events">

<h2><%= t("event_groups.show.event_table_title") %> (<%= n_events %> <%= t(:Events) %>)</h2>

<%= render partial: "layouts/events_index", locals: {events: @event_group.events} %>
<% if (cancreate_evt=can?(:create, Event)) %>
  <span class="lead editor_only"><%= link_to "New Event of this EventGroup", new_event_path(event_group_id: @event_group.id) %></span>
<% end %>
</section>

<%
   can_show_vid_table = can?(:create, EventItem)
   display_ev_vid_index, for_public = 
     if @event_group.harami_vids.count < [Rails.configuration.def_view_max_nrows - 30, 10].max
       [true, true]
     elsif n_events > Rails.configuration.def_view_max_nrows - 1
       [false, false]
     else
       [true, false]
     end
%>

<% if !for_public && can_show_vid_table %>
  <div class="editor_only">
<% end %>
<% if display_ev_vid_index && for_public || can_show_vid_table %>
<hr>

  <% if !display_ev_vid_index %>  <%# Below would be for editor_only %>
    <p>
      There are so many (<%= n_events %>) Events in this group
      <%= editor_only_safe_html(EventGroup, method: :create, tag: "span", only: :moderator) do %> <%# defined in application_helper.rb %>
      (&gt; <%= Rails.configuration.def_view_max_nrows %>)
      <% end %>
      that the Event-HaramiVid table would be too large and so is not shown.  See each Event for detail.
    </p>
  <% else %> <%# i.e., display_ev_vid_index==true regardless of for_public and can_show_vid_table %>
    <section id="section_event_group_show_harami_vids_events">

    <h2><%= t("event_groups.show.harami_vid_table_title") %> (<%= n_harami_vids %> <%= t(:videos) %>)</h2>

    <%= render partial: "layouts/events_harami_vids_index", locals: {events: @event_group.events, with_place_public: true, max_n_events: (cancreate_evt ? nil : Rails.configuration.max_events_per_group_public), max_harami_vids_per_event:  (cancreate_evt ? Rails.configuration.max_harami_vids_per_event_editor : Rails.configuration.max_harami_vids_per_event_public) } %>  <%# Some EventGroups have too many HaramiVid-s, so they are trimmed. %>

    </section> <%# section id="section_event_group_show_harami_vids_events" %>
  <% end %>
<% end %> <%# if display_ev_vid_index && for_public || can_show_vid_table %>
<% if !for_public && can_show_vid_table %>
  </div>  <!-- /div class="editor_only" -->
<% end %>

<%= editor_only_safe_html(EventGroup, method: :index, tag: "div") do %>  <%# EventGroup-index will perhaps become public in the future... %>
<hr>

  <section id="section_event_group_show_footer">
  <p class="link_back_to_index">
  <%= link_to t("layouts.back_to_index"), event_groups_path %>
  </p>
  </section>
<% end %> <%# editor_only_safe_html(EventGroup, method: :index, tag: "div") do %>

