<p id="notice"><%= notice %></p>

<%= render partial: 'layouts/form_print_errors', locals: {model: @engage} %>

<% artist_title = @artist.title_or_alt %>
<% music_name = @music.title_or_alt %>
<h1>Engages for Music=(<%= link_to music_name, @music %>) by <%= link_to artist_title, @artist %></h1>

<% n_engages = @engages.count %>
<% n_engage_others = @engage_others.count %>
<% n_cols = (current_user.sysadmin? ? 10 : 9) %>
<% val_klasses = { year: 'input_year', contribution: 'input_float' } %>

<%= simple_form_for @engage, url: engage_multi_hows_url do |form| %>
  <%= form.hidden_field :artist_id, :value => @artist.id %>
  <%= form.hidden_field :music_id,  :value => @music.id %>
  <table style="border: none;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Artist</th>
        <th>How?</th>
        <th>Year</th>
        <th>Contribution</th>
        <th>Note</th>
        <th title="Number of associations to Harami1129"># Harami1129s</th>
        <th title="Check this (or these) and submit to destroy (or replace) the record. Note if a dependent (=NumLinks) exists and when an Engage(s) is deleted, the association will be replaced with another one.">Destroy</th>
        <th>Engage</th>
        <% if current_user.sysadmin? %>
        <th></th>
        <% end %>
      </tr>
    </thead>
  
    <tbody>
      <% @engages.each do |engage| %>
        <tr>
          <td><%= engage.id %></td>
          <td><%= artist_title %></td>
          <td><%= engage_how = engage.engage_how; link_to engage_how.title_or_alt(langcode: I18n.locale), engage_how %></td>
          <% %i(year contribution note).each do |kwd| %>
            <% hs_klass = ((:note != kwd.to_sym) ? { class: val_klasses[kwd.to_sym] } : {}) %>
            <td><%= form.input kwd, label: false, required: false, input_html: {id: ['engage', kwd, engage.id].join('_'), name: sprintf('engage[%s_%d]', kwd.to_s, engage.id), value: engage.send(kwd)}.merge(hs_klass) %></td>
          <% end %>
          <td><%= engage.harami1129s.count %>
            <% if can? :read, Harami1129 %>
              (<%= engage.harami1129s.map.with_index{|h, i| link_to i+1, harami1129_path(h)+'#harami1129_show_Engage', title: sprintf('ID=%d', h.id)}.join(', ').html_safe %>)
            <% end %>
          </td>
          <td class="checkbox_destroy">
              <% kwd = :to_destroy %>
              <%= form.input kwd, label: false, required: false, as: :boolean, checked_value: true, unchecked_value: false, checked: false, input_html: {id: ['engage', kwd, engage.id].join('_'), name: sprintf('engage[%s_%d]', kwd.to_s, engage.id)} %>
          </td>
          <td><%= link_to 'Show', engage %></td>
          <% if current_user.sysadmin? %>
          <td>
            <% if engage.harami1129s.exists? && (n_engages + n_engage_others > 1) %>
              <% msg = 'Will be replaced with another one of '+((n_engages > 0) ? 'this' : 'another')+'Artist' %>
              <%# This msg can be used (thougt not yet implmented) like:  "title: msg" %>
              <%= link_to 'Destroy(Admin-only)', engage, method: :delete, url: engage_url(engage), data: { confirm: t('are_you_sure') } %>
            <% else %>
              <span title="Cannot be destroyed because this entry has a dependent Harami1129(s) and there are no other Engages.">Destroy(Admin-only)</span>
            <% end %>
          </td>
          <% end %>
        </tr>
      <% end %>

      <tr>
        <th colspan="<%= n_cols %>"><strong>New engagement (if any)</strong></th>
      </tr>
      <tr>
        <td>NEW</td>
        <td><%= artist_title %></td>
        <td><%= form.input :engage_how, label: 'EngageHow(複数可)', collection: EngageHow.all.order(:weight).map{|i| [i.title_or_alt(langcode: I18n.locale, str_fallback: "NONE"), i.id]}, required: false, prompt: "Please select", input_html: { multiple: true } %></td>
        <td><%= form.input :year, required: false, input_html: { class: val_klasses[:year] } %></td>
        <td><%= form.input :contribution, label: 'Contribution(0.0-1.0)', required: false, input_html: { class:  val_klasses[:contribution] } %></td>
        <td><%= form.input :note, input_html: { 'rows' => 4 } %></td>
        <td colspan="<%= n_cols-6 %>"></td>
      </tr>
    </tbody>
  </table>
  <%= form.submit t("layouts.submit_button")%>
<% end %>
  
  <table style="border: none; margin-left: 1em;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Artist</th>
        <th>How?</th>
        <th>Year</th>
        <th>Contribution</th>
        <th>Note</th>
        <th title="Number of associations to Harami1129">NumLinks</th>
        <th title="Check this (or these) and submit to destroy (or replace) the record. Note if a dependent (=NumLinks) exists and when an Engage(s) is deleted, the association will be replaced with another one.">Destroy</th>
        <th>Engage</th>
        <% if current_user.sysadmin? %>
        <th></th>
        <% end %>
      </tr>
    </thead>
  
      <tr>
        <th colspan="<%= n_cols %>"><strong>Engages for Music by other artists</strong></th>
      </tr>
      <% @engage_others.each do |engage| %>
        <tr>
          <td><%= engage.id %></td>
          <td><%= link_to engage.artist.title_or_alt, engage.artist %></td>
          <td><%= engage_how = engage.engage_how; link_to engage_how.title_or_alt(langcode: I18n.locale), engage_how %></td>
          <td><%= engage.year ? engage.year : '&mdash;'.html_safe %></td>
          <td><%= engage.contribution ? engage.contribution : '&mdash;'.html_safe %></td>
          <td><%= engage.note %></td>
          <td><%= engage.harami1129s.count %></td>
          <td></td>
          <td><%= link_to 'Show', engage %></td>
          <% if current_user.sysadmin? %>
            <td><%= link_to 'Destroy(Admin)', engage, method: :delete, data: { confirm: t('are_you_sure') } %></td>
          <% end %>
        </tr>
      <% end %>
      <% if !@engage_others.exists? %>
      <tr>
        <td></td>
        <td colspan="<%= n_cols-1 %>">None</td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% assoc_text = t(".assoc_engage", music_title: music_name, default: "with another Artist for #{music_name}") %>
  <%= button_to t('layouts.create_model', model: "Engage", default: 'Create a new Engage'), new_engage_path, method: :get, params: { music_id: @music.id }, form_class: "button_to inline_form" %> <%# button_to HTML-class is Default.%>
  <%= t(".assoc_engage", music_title: music_name, default: "with another Artist for #{music_name}") %> <%# button_to/link_to title tested in /system/engages_test.rb; if it is link_to, the path should be new_engage_path(music_id: @music.id) %>
<% if (n_engages == 1) && (n_engage_others == 0) && @engages[0] && @engages[0].harami1129s.exists? %>
  <p>
    <em>Note</em>: If you want to destroy the (sole) Engage, you must first create another Engage, because the existing one has a dependent Harami1129(s).
      If you are sure the Harami1129(s) should have no Engage whatsoever, meaning with neither Artist nor Music, go to <%= link_to 'Harami1129', edit_harami1129_url(@engages[0].harami1129s[0]) %> and destroy it first.
  </p>
<% end %>

