<%= render partial: 'layouts/form_print_errors', locals: {model: artist} %>

            <%# artist.errors can be like this, namely, :base has a null error when a custom validation Artist#unique_combination fails...: #<ActiveModel::Errors [#<ActiveModel::Error attribute=unique_combination, type=: Artist is not unique in the combination of Title/AltTitle, BirthDate, and Place., options={}>, #<ActiveModel::Error attribute=base, type=invalid, options={}>]> %>

<% if ! artist.new_record? %>
<hr>
<% end %>
<section id="sec_primary">
<% if ! artist.new_record? %>
<%= render partial: 'layouts/all_registered_translations', locals: {model: artist, add_buttons: true} %>
<hr>
<% end %>

<div id="form_main">

<%= simple_form_for artist do |f| %>
 <section id="sec_primary_input">
  <% if artist.new_record? %>
    <%= render partial: 'layouts/partial_new_translations', locals: {form: f, model: artist, trans: Translation.new, disable_is_orig: true, is_simple_form: true} %>
  <% end %>

  <%= render partial: "layouts/select_country_prefecture_place", locals: {form: f, model: artist, is_simple_form: true} %>

  <% collec = Sex.all.map {|es| [es.title(langcode: I18n.locale, lang_fallback: true), es.id] } %>
  <%= f.association :sex, label: t('Sex'), required: true, as: :radio_buttons, item_wrapper_class: 'inline', collection: collec %>

  <%= f.input :birth_year,  label: t("artists._form.birth_year"), placeholder: 'e.g., 1999',           as: :integer %>
  <%= f.input :birth_month, label: t("artists._form.birth_month"), placeholder: 'e.g., 12', in: 0..12, as: :integer %>
  <%= f.input :birth_day,   label: t("artists._form.birth_day"), placeholder: 'e.g., 25', in: 0..31, as: :integer %>

  <%= f.input :wiki_en, label: 'Wikipedia ('+t("locale.long.en")+') URI', as: :url %>
  <%= f.input :wiki_ja, label: 'Wikipedia ('+t("locale.long.ja")+') URI', as: :url %>

  <%= f.input :note %>

  <%= f.submit %>
  <div class="actions">
  <%= submit_tag(t("layouts.reset_button"), { :name => 'reset', :id => 'reset_button', :type => "reset" }) %>
  </div>
 </section> <!-- section id="sec_primary_input" -->
<% end %>

</div> <!-- div id="form_main" -->

<%= render partial: 'layouts/link_merge_destroy', locals: {model: artist, is_to_edit: !artist.new_record? } %>

<p>
<% if !artist.new_record? %>
  <%= link_to 'Associate a new Music to Artist '+artist.title_or_alt, musics_path(music: {artist_id: artist.id}) %>
<% end %>
</p>
</section> <!-- section id="sec_primary" -->

<%# javascript_pack_tag 'dropdown_artist' %>

