  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
        <% artist.errors.full_messages.each do |message| %>
          <% if !message %>
            <%# artist.errors can be like this, namely, :base has a null error when a custom validation Artist#unique_combination fails...: #<ActiveModel::Errors [#<ActiveModel::Error attribute=unique_combination, type=: Artist is not unique in the combination of Title/AltTitle, BirthDate, and Place., options={}>, #<ActiveModel::Error attribute=base, type=invalid, options={}>]> %>
            <% if current_user.an_admin? %>
              <li>[Admin] for some reason, an error is null (maybe in a custom validation <tt>Artist#unique_combination</tt>): artist.errors.inspect=<%= artist.errors.inspect %> </li>
            <% end %>
            <% next %>
          <% end %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% if ! artist.new_record? %>

<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: artist, add_buttons: true} %>
<hr>
<% end %>

<%= form_with(model: artist, local: true) do |form| %>

  <% if artist.new_record? %>
    <%= render partial: 'layouts/partial_new_translations', locals: {form: form, model: artist, trans: Translation.new, disable_is_orig: true} %>
  <% end %>

<%# if artist.new_record? ################################### %>
<% if false %> <%# ################################### %>
  <div class="field">
    <em>アーティスト名の言語 (本来の言語で。翻訳は後で追加):</em>
    <% BaseWithTranslation::AVAILABLE_LOCALES.each do |es| %>
      <%= lc = artist.orig_langcode; form.radio_button('langcode', es, checked: (es.to_s == (lc || 'ja'))) %>
      <%= form.label 'langcode', BaseWithTranslation::LANGUAGE_TITLES[:ja][es.to_s], :value => es %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :title, 'アーティスト正式名称 (グループの場合はグループ名)' %>
    <%= form.text_field :title, value: artist.title %>
  </div>
 
  <div class="field">
    <%= form.label :ruby, 'アーティスト正式名称フリガナ (片仮名で)' %>
    <%= form.text_field :ruby, value: artist.ruby %>
  </div>
 
  <div class="field">
    <%= form.label :romaji, 'アーティスト正式名称ローマ字' %>
    <%= form.text_field :romaji, value: artist.romaji %>
  </div>
 
  <div class="field">
    <%= form.label :alt_title, 'アーティスト略称・別名' %>
    <%= form.text_field :alt_title, value: artist.alt_title %>
  </div>
 
  <div class="field">
    <%= form.label :alt_ruby, 'アーティスト略称・別名フリガナ (片仮名で)' %>
    <%= form.text_field :alt_ruby, value: artist.alt_ruby %>
  </div>
 
  <div class="field">
    <%= form.label :alt_romaji, 'アーティスト略称・別名ローマ字' %>
    <%= form.text_field :alt_romaji, value: artist.alt_romaji %>
  </div>
 
<% end %>

  <div class="field" id="div_select_country">
    <%= form.label 'place.prefecture_id.country_id', t('Country')%>
    <% country = artist.country %>
    <%= form.collection_select 'place.prefecture_id.country_id', @countries, :id, Proc.new{|i| i.title_or_alt(langcode: I18n.locale, prefer_alt: true, str_fallback: "NONE")}, {include_blank: !country, selected: (country ? country.id : nil)} %> <%# If no translation exists and left empty (instead of "NONE"), it would violate the HTML spec: Element “option” without attribute “label” must not be empty. %>
  </div>

  <div class="field" id="div_select_prefecture">
    <%= form.label 'place.prefecture_id', t('Prefecture') %>
    <% prefecture = artist.prefecture %>
    <%= form.grouped_collection_select 'place.prefecture_id', @countries, :prefectures, Proc.new{|i| i.title_or_alt(langcode: I18n.locale, prefer_alt: true, str_fallback: "NONE")}, :id, Proc.new{|i| i.title_or_alt(langcode: I18n.locale, prefer_alt: true)}, {include_blank: true, selected: (prefecture ? prefecture.id : nil)} %>
  </div>

  <div class="field" id="div_select_place">
    <%= form.label :place, t('Place') %>
    <% place = artist.place %>
    <%= form.grouped_collection_select 'place', @prefectures, :places, Proc.new{|pref| a=pref.title_or_alt_ascendants(langcode: I18n.locale, prefer_alt: true); a[0]+'/'+a[1]}, :id, Proc.new{|plac| plac.title_or_alt(langcode: I18n.locale, prefer_alt: true)}, {include_blank: true, selected: (place ? place.id : nil)} %>
  </div>

  <div class="field">
    <%= t('Sex')%>
    <% Sex.all.each do |es| %>
      <%= form.radio_button(:sex_id, es.id, checked: (es.id == 0)) %>
      <%= form.label :sex_id, es.title(langcode: I18n.locale, lang_fallback: true), :value => es.id %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :birth_year, t("artists._form.birth_year") %>
    <%= form.number_field :birth_year, value: artist.birth_year, placeholder: 'e.g., 1999', class: 'input_year' %>
  </div>

  <div class="field">
    <%= form.label :birth_month, t("artists._form.birth_month") %>
    <%= form.number_field :birth_month, in: 0..12, class: 'input_year' %>
  </div>

  <div class="field">
    <%= form.label :birth_day, t("artists._form.birth_day") %>
    <%= form.number_field :birth_day, in: 0..31, class: 'input_year' %>
  </div>

  <div class="field">
    <%= form.label :wiki_en, 'Wikipedia ('+t("locale.long.en")+') URI' %>
    <%= form.text_field :wiki_en %>
  </div>

  <div class="field">
    <%= form.label :wiki_ja, 'Wikipedia ('+t("locale.long.ja")+') URI' %>
    <%= form.text_field :wiki_ja %>
  </div>

  <div class="field">
    <%= form.label :note, t("tables.note") %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <div class="actions">
  <%= submit_tag(t("layouts.reset_button"), { :name => 'reset', :id => 'reset_button', :type => "reset" }) %>
  </div>
<% end %>

<%= render partial: 'layouts/link_merge_destroy', locals: {model: artist, is_to_edit: !artist.new_record? } %>

<p>
<% if !artist.new_record? %>
  <%= link_to 'Associate a new Music to Artist '+artist.title_or_alt, musics_path(music: {artist_id: artist.id}) %>
<% end %>
</p>

<%# javascript_pack_tag 'dropdown_artist' %>

