
<%# local variables: artist %>

<table id="table_musics_by">
  <thead>
    <tr>
     <% if (can_edit=can?(:edit, Music)) %>
      <th title="DB pID" class="editor_only">pID</th>
     <% end %>
      <th title="'*' indicates the original name"><%= t("tables.title_name_ja") %></th>
      <th><%= t("tables.alt_title_name_ja") %></th>
      <th title="'*' indicates the original name"><%= t("tables.title_name_en") %></th>
      <th title="first published year"><%= t('tables.year').capitalize %></th>
     <% if can_edit %>  <%# maybe published in the future... %>
      <th class="editor_only"><%= t('Genre').capitalize %></th>
     <% end %>
     <% if can_edit %>
      <th title="Place" class="editor_only"><%= t("tables.place_country") %></th>
     <% end %>
      <th><%= t('artists.tablehead.n_harami_vids') %></th>
      <th><%= t("tables.note") %></th>
      <% if (can_update=(can? :update, Music)) %>
        <th colspan="2" title="Show/Edit Music"><%= t(:Music) %></th>
      <% else %>
        <th colspan="1" title="Show Music"><%= t(:Music) %></th>
      <% end %>
      <th title="Show/Edit Engagement between Artist and Music">
      <% if (can_update_engage_how=can?(:update, EngageHow)) %>
        <%= link_to t('engage_multi_hows.table_head.how_related'), engage_hows_url %>
      <% else %>
        <%= t('engage_multi_hows.table_head.how_related') %>
      <% end %>
      </th>
      <%= editor_only_safe_html(:pass, method: can_update, tag: "th", title: "Engagements between other Artists and Music", text: "Engages(Others)") %> <%# defined in application_helper.rb %>
      <th class="cell_note_engage_how"><%= t("tables.note") %> (<%= t("engage_multi_hows.table_head.how_related") %>)</th>
      <%= editor_only_safe_html(:pass, method: can_update, tag: "th", title: "Edit (Show) Engagements between Artist and Music", text: "Engage") %> <%# defined in application_helper.rb %>
    </tr>
  </thead>

  <tbody>
    <% asterisk = (can_edit ? ('<span title="'+t('datagrid.footnote.is_original')+'">*</span>') : "").html_safe %>
    <% artist.musics.order(:year).uniq.each do |music| %>
      <tr>
     <% if can_edit %>
      <td title="DB pID" class="number editor_only"><%= link_to music.id, music %></td>
     <% end %>
       <%= render partial: "layouts/tbody_title_ja_alt_en", locals: {model: music, can_update: can_update} %>
        <td><%= music.year %></td>
     <% if can_edit %>  <%# maybe published in the future... %>
        <td class="editor_only"><%= music.genre.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either, str_fallback: "", article_to_head: true) %></td>
     <% end %>
     <% if can_edit %>
        <td class="editor_only"><%= music.place.pref_pla_country_str(langcode: I18n.locale, lang_fallback_option: :either, prefer_shorter: true) %></td>
     <% end %>
        <td class="text-end"><%= music.harami_vids.count.to_s+(("ja"==I18n.locale.to_s) ? '本' : "") %></td>
        <td><%= ModuleRedcarpetAux.md2safehtml(music.note) %></td>
        <td class="align-r">
          <%= music.url_wiki_any(lname: "Wikip") %>
          <%= link_to t("tables.Show"), music %></td>
        <% if can_upd_mus=can?(:update, music) %>
          <td class="editor_only"><%= link_to 'Edit', edit_music_path(music) %></td>
        <% end %>
        <% s = artist.engage_how_titles(music, year: music.year).join(', ') %>
        <% label_str = ((/\d/ =~ s) ? s : s+'('+(music.year || t('musics.show.year_unknown')).to_s+')') %>
        <% engage = artist.engages.where(music: music).first %>
          <% linktxt, engage = engage_title_link(music, artist) %> <%# defined in musics_helper.rb %>
        <td> <%= linktxt %> </td>
        <%= editor_only_safe_html(:pass, method: can_update, tag: "td", show_always: true) do %> <%# defined in application_helper.rb %>
          <% music.artists.where.not(id: artist.id).distinct.map{ |art|
               sprintf("%s[%s]", link_to(art.title_or_alt_for_selection, art), engage_title_link(music, art).first)
             }.join(", ").html_safe %>
        <% end %>
        <td class="cell_note_engage_how"><%= ModuleRedcarpetAux.md2safehtml(compile_engage_notes(artist, music)) %></td> <%# defined in musics_helper.rb %>
        <%= editor_only_safe_html(:pass, method: can_upd_mus, tag: "td", show_always: true, class: "text-center") do %> <%# defined in application_helper.rb %>
          <%= link_to 'Edit', edit_engage_multi_how_path(engage) %> <%# "engage" is set above %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

