<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<%= datagrid_form_for @grid, :method => :get, :url => artists_path %>

<%= paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= paginate(@grid.assets) %>

<p class="pagenation_stats">
  <%= ApplicationController.str_info_entry_page_numbers(@grid, Artist) %>
</p>
<% if current_user && current_user.editor? %>
  <p>[*] <%= t("datagrid.footnote.is_original", default: "Original language.") %>
    <%= "(editor-only footnote)" if current_user.an_admin? %>
  </p>
<% end %>

<br>

<% if can? :create, Artist %>
  <%= button_to 'Create New Artist', new_artist_path, method: :get %>
  <%# link_to 'New Artist', new_artist_path %>
<% end %>
