
<%= render partial: 'layouts/form_print_errors', locals: {model: translation} %>

<%= form_with(model: translation, local: true) do |form| %>
  <% if ! translation.new_record? %>
    <p>
      ID=<%= translation.id %>
    </p>
  <% end %>

  <div class="field">
    <%= form.label :translatable_type %>
    <%= form.text_field :translatable_type, readonly: !!translation.translatable_type, class: "input_middle" %>
  </div>

  <div class="field">
    <%= form.label :translatable_id %>
    <%= form.text_field :translatable_id, readonly: !!translation.translatable_id, class: "input_int" %>
  </div>

  <div class="field">
    <%= form.label :langcode %>
    <%= form.text_field :langcode, class: "input_shortest" %>
      <span class="small">"es" (Spanish), "it" (Italian), "de" (German), "ko" (Korean), "zh" (Chinese), etc</span>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :ruby %>
    <%= form.text_area :ruby %>
  </div>

  <div class="field">
    <%= form.label :romaji %>
    <%= form.text_area :romaji %>
  </div>

  <div class="field">
    <%= form.label :alt_title %>
    <%= form.text_area :alt_title %>
  </div>

  <div class="field">
    <%= form.label :alt_ruby %>
    <%= form.text_area :alt_ruby %>
  </div>

  <div class="field">
    <%= form.label :alt_romaji %>
    <%= form.text_area :alt_romaji %>
  </div>

  <div class="field">
    <% if translation.is_orig
         checked = :original
       else
         translat = translation.translatable
         checked =
           if translat && translat.translations.where(is_orig: true).exists?
             :translation
           else
             :undefined
           end
       end
      %>
    <%= form.label :is_orig, 'Translation category' %>
    <%= form.radio_button(:is_orig, true, checked: (:original == checked)) %>
    <%= form.label :is_orig, '原語', :value => true %>
    <%= form.radio_button(:is_orig, false, checked: (:translation == checked)) %>
    <%= form.label :is_orig, '翻訳', :value => false %>
    <%= form.radio_button(:is_orig, "nil", checked: (:undefined == checked)) %>
    <%= form.label :is_orig, '定義不能 (例:「太陽⇔Sun」)', :value => "nil" %>
  </div>

  <% if (user_signed_in? && current_user.qualified_as?(:moderator, RoleCategory[RoleCategory::MNAME_TRANSLATION])) %>
  <div class="field">
    <% str_table = (translation.translatable.respond_to?(:translations) ? 'See table below for reference. ' : '') %>
    <%= form.label :weight, "Weight (#{str_table}Set it under 100 to promote this permanently, 0 for the definitive word like the original one.)" %>
    <%= form.text_field :weight, class: "input_float" %>
  </div>
  <% end %>

  <% if user_signed_in? && current_user.an_admin? %>
  <div class="field">
    <%= form.label :create_user_id %>
    <%= form.text_field :create_user_id %>
  </div>

  <div class="field">
    <%= form.label :update_user_id %>
    <%= form.text_field :update_user_id %>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<% if ! translation.new_record? && can?(:destroy, translation) %>
  <div class="actions-destroy" style="margin-right: 1em;">
   <div class="actions" style="text-align: right">
     <% if translation.translatable.translations.count > 1 && !translation.is_orig %>
       <%= button_to 'Destroy', translation, method: :delete, data: { confirm: t('are_you_sure') } %>
     <% else %>
       <form class="button_to"><input disabled="disabled" type="submit" value="Destroy"></form>
      <% if translation.is_orig %>
       (This is the original Translation for the instance and so cannot be destroyed.)
      <% else %>
       (This is the only Translation for the instance and so cannot be destroyed.)
      <% end %>
     <% end %>
   </div>
  </div>
<% end %>

<p>
  <% if ! translation.new_record? %>
    <%= link_to 'Show', translation %> |
  <% end %>
  <%= link_to 'Back to Index', translations_path %>
</p>

<% if translation.translatable.respond_to? :translations %>
  <%= render partial: 'layouts/all_registered_translations', locals: {model: translation.translatable, add_buttons: false, myself: translation} %>
  <hr>
<% end %>

