
<h1>Translations <%= h1_note_editor_only(Translation, method: :index) %></h1>

<% if false %>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th colspan="2">Translatable</th>
      <th>Lang</th>
      <th>Title</th>
      <th>Alt title</th>
      <th>Ruby</th>
      <th>Alt ruby</th>
      <th>Romaji</th>
      <th>Alt romaji</th>
      <th>Orig?</th>
      <th>Weight</th>
      <th>Create user</th>
      <th>Update user</th>
      <th>Note</th>
      <%# See below to see why this is cancelled <th colspan="3"></th> %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @translations.each do |translation| %>
      <% next if cannot? :read, translation %>
      <tr>
        <td><%= translation.id %></td>
        <% model = translation.translatable_type.classify.constantize %>
        <td><%= link_to translation.translatable_type, polymorphic_path(model) %></td>
        <td><%= link_to translation.translatable_id, polymorphic_path(model.find(translation.translatable_id)) %></td>
        <td><%= translation.langcode %></td>
        <td><%= translation.title %></td>
        <td><%= translation.alt_title %></td>
        <td><%= translation.ruby %></td>
        <td><%= translation.alt_ruby %></td>
        <td><%= translation.romaji %></td>
        <td><%= translation.alt_romaji %></td>
        <td><%= translation.is_orig %></td>
        <td><%= translation.weight %></td>
        <td><%= translation.create_user_id ? @hsuser[translation.create_user_id].html_safe : ''%></td>
        <td><%= translation.update_user_id ? @hsuser[translation.update_user_id].html_safe : ''%></td>
        <td><%= translation.note %></td>
        <td class="cell_show"><%= link_to 'Show', translation %></td>
        <% if false %>
          <%# This is far too DB-heavy... It may take 1 minute to process 5000 records! Unless serious pagenation is introduced, this is not viable in practice. %>
          <% if can? :edit, translation %>
            <td class="cell_edit"><%= link_to 'Edit', edit_translation_path(translation) %></td>
            <% if can? :destroy, translation %>
              <td class="cell_destroy"><%= link_to 'Destroy', translation, method: :delete, data: { confirm: t('are_you_sure') } %></td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= datagrid_form_with model: @grid, method: :get, url: translations_path %>
<% nrows = @grid.assets.count %>

<%= paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= paginate(@grid.assets) %>

<p>
  <%= ApplicationController.str_info_entry_page_numbers(@grid, Translation) %>
</p>

<br>

<% if can? :create, Translation %>
  <%= link_to 'New Translation', new_translation_path %>
<% end %>

