<h2>A Translation for <%= link_to @translation.translatable_type, @translation.translatable %>
  <% if cancrud=can?(:crud, Translation) %>
    ID=<%= @translation.translatable.id %>
    (Translation ID=<%= @translation.id %>)
  <% end %>
</h2>

<dl>
  <dt>Translatable:</dt>
  <dd><%= link_to @translation.translatable_type, @translation.translatable %></dd>

  <dt> Langcode:</dt>
  <dd><%= @translation.langcode %></dd>

  <dt> Title:</dt>
  <dd><%= @translation.title %></dd>

  <dt> Alt title:</dt>
  <dd><%= @translation.alt_title %></dd>

  <dt> Ruby:</dt>
  <dd><%= @translation.ruby %></dd>

  <dt> Alt ruby:</dt>
  <dd><%= @translation.alt_ruby %></dd>

  <dt> Romaji:</dt>
  <dd><%= @translation.romaji %></dd>

  <dt> Alt romaji:</dt>
  <dd><%= @translation.alt_romaji %></dd>

  <dt><%= t(".is_orig") %>:</dt>
  <dd><%= @translation.is_orig %></dd>

  <% if can? :crud, Translation %>
    <dt> Weight:</dt>
    <dd><%= @translation.weight %></dd>
  <% end %>

  <%= render partial: 'layouts/show_note_memo_timestamps', locals: {model: @translation, model4ability: cancrud} %>
</dl>

<% if user_signed_in? && @translation.editable?(user: current_user) %>
  <%= button_to 'Edit', edit_translation_path(@translation), method: :get %>
<br>
<% end %>
<%= link_to 'Back to Index', translations_path %>

<hr>

<%= render partial: 'layouts/all_registered_translations', locals: {model: @translation.translatable, myself: @translation, add_buttons: true} %>

