
<h1>Url: <%= @url.title_or_alt(langcode: I18n.locale) %> <%= h1_note_editor_only(@url, method: :show) %></h1>

<hr>
<section id="sec_primary">
<%= render partial: 'layouts/all_registered_translations', locals: {model: @url, add_buttons: true} %>
<hr>

<%= render @url %>

<%= render partial: 'layouts/show_edit_destroy', locals: {model: @url, destroyable: true} %> <%# How about associations? %>


</section> <%# closing section id="sec_primary" %>

<hr>

<section id="anchorables_index">
<h2><%= t("urls.anchorable_type_full").capitalize %></h2>

<%= render partial: 'anchorables_index', locals: {url: @url} %>
</section>

<hr>
  <%= link_to t("layouts.back_to_index"), urls_path %>


