<p id="notice"><%= notice %></p>

<h1>Role Categories</h1>

<table>
  <thead>
    <tr>
      <th>Mname</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @role_categories.each do |role_category| %>
      <tr>
        <td><%= role_category.mname %></td>
        <td><%= role_category.note %></td>
        <td><%= link_to 'Show', role_category %></td>
        <td><%= link_to 'Edit', edit_role_category_path(role_category) %></td>
        <td><%= link_to 'Destroy', role_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role Category', new_role_category_path %>
