<div id="<%= dom_id play_role %>">
  <p>
  <% if can? :update, play_role %>
    <strong>ID (PlayRole):</strong>
     <%= play_role.id %>
  <% end %>
  </p>
  <p>
    <strong>Mname (machine name):</strong>
    <%= play_role.mname %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= play_role.weight %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= play_role.note %>
  </p>

  <% if can? :update, play_role %>
  <p>
    <strong>updated_at:</strong>
    <%= play_role.updated_at %>
  </p>
  <% end %>
</div>
