
<h1>PlayRole: <%= @play_role.title_or_alt(langcode: I18n.locale) %></h1>

<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: @play_role} %>
<hr>

<%= render @play_role %>

<div>
    <% if can? :update, @play_role %>
  <%= link_to "Edit this PlayRole", edit_play_role_path(@play_role) %> |
    <% end %>
  <%= link_to "Back to PlayRole index", play_roles_path %>

    <% if can?(:destroy, @play_role) %>
    <%# if !@play_role.play_role_items.exists? && can?(:destroy, @play_role) %>
  <%= button_to "Destroy", @play_role, method: :delete %>
    <% end %>
</div>

<% if false %>
<% if can? :read, EventItem %>  <%# should be redundant %>
<hr>

<h2>EventItems for this PlayRole</h2>

<% items = @play_role.event_items.order(:weight, event_ratio: :desc) %>
<%= render partial: 'layouts/event_items_index', locals: {event_items: items, with_event: false} %>
<% end %>

<hr>
  <%= link_to t("layouts.back_to_index"), play_roles_path %>
<% end %>  <%# if false %>

