
<h1>PlayRole: <%= @play_role.title_or_alt(langcode: I18n.locale) %></h1>

<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: @play_role} %>
<hr>

<%= render @play_role %>

<%= render partial: 'layouts/show_edit_destroy', locals: {model: @play_role, destroyable: @play_role.destroyable?} %>

  <%= link_to "Back to PlayRole index", play_roles_path %>

<% if false %>
<% if can? :read, EventItem %>  <%# should be redundant %>
<hr>

<h2>EventItems for this PlayRole</h2>

<% items = @play_role.event_items.order(:weight, event_ratio: :desc) %>
<%= render partial: 'layouts/event_items_index', locals: {event_items: items, with_event: false} %>
<% end %>

<hr>
  <%= link_to t("layouts.back_to_index"), play_roles_path %>
<% end %>  <%# if false %>

