<% mu_title = @music.title_or_alt %>
<h1>Merge Musics (<%= mu_title %>)</h1>
<%# Find me in app/views/musics/merges/new.html.erb %>

  <% if @music.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@music.errors.count, "error") %> prohibited merging:</h2>

      <ul>
        <% @music.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_with(model: @music, url: musics_edit_merge_users_path(@music), method: "get") do |form| %>
  <div class="field">
    <%= form.label :other_music_id, "Music-ID (to merge this with)" %>
    <%= form.text_field :other_music_id, class: "input_int" %>
  </div>

  <div class="field field-note">
    <%= form.label :other_music_title %>
    <%= form.text_field :other_music_title, id: "music_with_id" %>
  </div>

  <div class="actions">
    <%= form.submit 'Proceed' %> (to specify the details)
  </div>
  <div class="actions">
  <%= submit_tag("Reset (Start Over)", { :name => 'reset', :id => 'reset_button', :type => "reset" }) %>
  </div>
<% end %>

<%= link_to "Back to Music ID="+@music.id.to_s, music_path(@music) %>: (<%= mu_title %>)<br>
<%= link_to 'Musics Index', musics_path %>


