<%# = simple_form_for(@model_summary) do |f| %>
  <%# = f.error_notification %>
  <%# = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <% if model_summary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model_summary.errors.count, "error") %> prohibited this model_summary from being saved:</h2>

      <ul>
        <% model_summary.errors.full_messages.each_with_index do |message, ei| %>
          <% if !message %>
            <% if current_user.an_admin? %>
              <li>[Admin] for some reason, an error (i=<%= ei %>) is null: model_summary.errors.inspect=<%= model_summary.errors.inspect %> </li>
            <% end %>
            <% next %>
          <% end %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% if ! model_summary.new_record? %>
<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: model_summary, add_buttons: true} %>
<hr>

<h2>Unique parameters</h2>
<% end %>

<%= form_with(model: model_summary, local: true) do |form| %>

  <% if model_summary.new_record? %>
    <%= render partial: 'layouts/partial_new_translations', locals: {form: form, model: model_summary, trans: Translation.new, disable_is_orig: true} %>
  <% end %>

  <div class="field">
    <%= form.label :modelname %>
    <%= form.text_field :modelname %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <div class="actions">
  <%= submit_tag("Reset (Start Over)", { :name => 'reset', :id => 'reset_button', :type => "reset" }) %>
  </div>
<% end %>

