<div id="<%= dom_id event %>">

<dl>
  <% if can_update_gen=can?(:update, Event) %>
    <div class="editor_only">
      <dt>ID (Event)</dt>
      <dd> <%= @event.id %></dd>
    </div>
  <% end %>
  <dt><strong><%= t(:EventGroup) %>:</strong></dt>
    <dd><%= link_to event.event_group.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either, article_to_head: true), event_group_url(event.event_group), title: event.event_group.note %></dd>
  <dt class="item_place"> <%= t("tables.place_country") %>:</dt>
    <dd class="item_place"><%= event.place ? show_pref_place_country(event.place) : "" %></dd>  <%# defined in places_helper.rb %>
  <dt><strong>Start time [in <%= Rails.configuration.music_i18n_def_timezone_str %>] (± days/hrs/mins):</strong></dt>
    <dd><%= event.string_time_err2uptomin %> (± <%= time_in_units(event.start_time_err) %>)</dd> <%# in module_common.rb %>
  <dt><strong><%= t("events.Duration") %> [<%= t(:hour) %>]:</strong></dt>
    <dd><%= event.duration_hour %></dd>
  <% if can_update_gen %>
    <div class="editor_only">
      <dt><strong>Weight:</strong></dt>
      <dd><%= event.weight %></dd>
    </div>
  <% end %>
  <dt class="item_note"><%= t("tables.note").capitalize %>:</dt>
    <dd class="item_note"><%= auto_link(event.note) %></dd>
  <% if can_update_gen %>
    <div class="editor_only">
      <dt>updated_at:</dt>
        <dd><%= event.updated_at %></dd>
    </div>
  <% end %>
</dl>

</div>
