<%= notice %>

<h1><%= t("Event").pluralize(8, I18n.locale) %></h1>

<div id="events">
<table id="events_index_table">
  <thead>
    <tr>
     <% if can? :edit, Event %>
      <th>ID</th>
     <% end %>
       <%= render "layouts/title_alt_ja_en_table", model: nil, langcodes: %w(ja en) %>  <%# class="title_alt_ja" etc %>
      <th>From Time</th>
      <th>±hr</th>
      <th>Duration [h]</th>
      <th>Weight</th>
      <th>Place</th>
      <th>EventGroup</th>
        <% if can? :read, EventItem %>
      <th>Ev-Items</th>
        <% end %>
      <th title="Note in this DB">Note</th>
      <% if can? :update, Event %>
        <th colspan="3"></th>
      <% else %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |model| %>
      <tr>
       <% if can? :edit, Event %>
        <td><%= model.id %></td>
       <% end %>
       <%= render "layouts/title_alt_ja_en_table", model: model, langcodes: %w(ja en) %>  <%# class="title_alt_ja" etc %>

        <%#td  %= model.order_no %  /td %>
        <td><%= model.string_time_err2uptomin %></td>
         <% err = model.start_time_err %>
        <td><%= err ? sprintf("%.2f", err.second.in_hours) : "&mdash;".html_safe %></td>
        <td><%= model.duration_hour %></td>
        <td><%= model.weight %></td>
        <td><%= model.place ? h(model.txt_place_pref_ctry) : "" %></td>
         <% eg = model.event_group %>
        <td><%= eg ? eg.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either) : "" %></td>
        <% if can? :read, EventItem %>
         <% items = model.event_items.order(:weight, event_ratio: :desc) %>
        <td class="events_index_items">
          <%= items.map.with_index{ |ei, i| link_to(sprintf("%d", i+1), event_item_path(ei)) }.join(", ").html_safe %>
        </td>
        <% end %>
        <td><%= h(model.note) %></td>

        <td><%= link_to "Show", model %></td>
        <% if can? :update, model  %>
          <td><%= link_to 'Edit', edit_event_path(model) %></td>
        <% end %>
        <% if can? :destroy, model %>
          <td><%= link_to 'Destroy', model, method: :delete, data: { confirm: t('are_you_sure') } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<% if can? :create, Event %>
  <%= button_to 'Create Event', new_event_path, method: :get %>
<% end %>
<% if can? :index, EventGroup %>
  <%= link_to "EventGroup index", event_groups_path %>
<% end %>

