<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Edit this Event", edit_event_path(@event) %> |
  <%= link_to "Back to Events", events_path %>

  <%= button_to "Destroy", @event, method: :delete %>
</div>
