
<h1>Event: <%= @event.title_or_alt(langcode: I18n.locale) %></h1>

<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: @event} %>
<hr>

<%= render @event %>

<div>
    <% if can? :update, @event %>
      <span class="lead editor_only">
      <%= link_to "Edit this Event", edit_event_path(@event) %>
      </span>
    <% end %>

    <%# if !@event.event_items.exists? && can?(:destroy, @event) %>
    <% if @event.destroyable? && can?(:destroy, @event) %>
      <span class="text-end"><%= button_to "Destroy", @event, method: :delete, data: { confirm: t('are_you_sure') } %></span>
    <% end %>
  <% if can? :create, Event %>
    <br>
    <span class="lead editor_only"><%= link_to "New Event in the same EventGroup", new_event_path(event_group_id: @event.event_group_id) %></span>
  <% end %>
</div>

<% if can? :read, EventItem %>
<div class="editor_only">
<hr>

<h2>EventItems for this Event (from <%= @event.string_time_err2uptomin %>)</h2>

<% items = @event.event_items.order(:weight, event_ratio: :desc) %>
<%= render partial: 'layouts/event_items_index', locals: {event_items: items, with_event: false} %>
<span class="lead editor_only"><%= link_to "New EventItem of this Event", new_event_item_path(event_id: @event.id) %></span>
</div>

<% end %>

<hr>
<h2>HaramiVids for this Event</h2>

<%= render partial: "layouts/harami_vids_index", locals: {harami_vids: @event.harami_vids.distinct, sort_asc: true} %>

<% if can? :index, Event %>  <%# Event-index will perhaps become public in the future... %>
<hr>
  <section id="section_event_show_footer">
  <p class="link_back_to_index">
  <%= link_to t("layouts.back_to_index"), events_path %>
  </p>
  </section>
<% end %>

