<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<h1>Static page index (<em>admin only</em>)</h1>

<% if @static_pages.empty? %>
  <p>None.</p>
<% end %>
<dl>
  <% @static_pages.each do |static_page| %>
    <% path = static_page.public_path(static_page.langcode) %>
    <dt id="<%= static_page.form_id_model %>">(<%= static_page.langcode.upcase %>) <%= link_to static_page.title, path %></dt>
    <dd id="path_row_<%= static_page.form_id_model %>"><span id="path_<%= static_page.form_id_model %>"><%= path %></span> | <span id="path_helper_<%= static_page.form_id_model %>">StaticPagesController.public_path('<%= static_page.mname %>')</span></dd>
    <dd id="summary_<%= static_page.form_id_model %>"><%= static_page.summary_or_trimmed_content %></dd>
    <dd><%= link_to 'Show(Internal)', static_page %> / <%= link_to 'Edit', edit_static_page_path(static_page) %></dd>
  <% end %>
</dl>

<%= link_to 'Home', root_url %>

