  <% if prefecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prefecture.errors.count, "error") %> prohibited this prefecture from being saved:</h2>

      <ul>
        <% prefecture.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% if ! prefecture.new_record? %>

<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: prefecture, add_buttons: true} %>
<hr>
<% end %>

<%= form_with(model: prefecture, local: true) do |form| %>

  <% if prefecture.new_record? %>
    <%= render partial: 'layouts/partial_new_translations', locals: {form: form, model: prefecture, trans: Translation.new, disable_is_orig: true} %>
  <% end %>

  <div class="field" id="div_select_country">
    <%= form.label :country_id, t('Country')%>
    <%= form.collection_select :country_id, @countries, :id, Proc.new{|i| i.title_or_alt(langcode: I18n.locale, prefer_alt: true)}, {include_blank: false,  selected: (prefecture.country ? prefecture.country_id : Country.unknown.id) } %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <div class="actions">
  <%= submit_tag("Reset (Start Over)", { :name => 'reset', :id => 'reset_button', :type => "reset" }) %>
  </div>
<% end %>

<p>
  <% if ! @prefecture.new_record? %>
    <%= link_to 'Show', @prefecture %> |
  <% end %>
  <%= link_to 'Back to Index', prefectures_path %>
</p>

