
<%= render partial: 'layouts/form_print_errors', locals: {model: prefecture} %>

<% if ! prefecture.new_record? %>

<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: prefecture, add_buttons: true} %>
<hr>

<h2>Unique parameters</h2>
<% end %>

<div id="form_main">
<% if false %> <%# ################################################# %>
<%= form_with(model: prefecture, local: true) do |form| %>

  <% if prefecture.new_record? %>
    <%= render partial: 'layouts/partial_new_translations', locals: {form: form, model: prefecture, trans: Translation.new, disable_is_orig: true} %>
  <% end %>

  <div class="field" id="div_select_country">
    <%= form.label :country_id, t('Country')%>
    <%= form.collection_select :country_id, @countries, :id, Proc.new{|i| i.title_or_alt(langcode: I18n.locale, prefer_alt: true, str_fallback: "NONE")}, {include_blank: false,  selected: (prefecture.country ? prefecture.country_id : Country.unknown.id) } %> <%# If no translation exists and left empty (instead of "NONE"), it would violate the HTML spec: Element “option” without attribute “label” must not be empty. %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <div class="actions">
  <%= submit_tag("Reset (Start Over)", { :name => 'reset', :id => 'reset_button', :type => "reset" }) %>
  </div>
<% end %>
<% else %> <%# ################################################# %>

<%= simple_form_for prefecture do |f| %>
  <% if prefecture.new_record? %>
    <%= render partial: 'layouts/partial_new_translations', locals: {form: f, model: prefecture, trans: Translation.new, disable_is_orig: true, is_simple_form: true} %>
  <% end %>

  <div class="field" id="<%= ApplicationController::HTML_KEYS[:ids][:div_sel_country] %>"> <%# div_select_country %>
   <%= f.input :country_id, label: t('Country') do %>
    <%= f.collection_select :country_id, @countries, :id, Proc.new{|i| i.title_or_alt(langcode: I18n.locale, prefer_alt: true, str_fallback: "NONE")}, {include_blank: false,  selected: (prefecture.country ? prefecture.country_id : Country.unknown.id) } %> <%# If no translation exists and left empty (instead of "NONE"), it would violate the HTML spec: Element “option” without attribute “label” must not be empty. %>
   <% end %>
  </div>

  <%= f.input :note %>

  <%= f.submit %>
  <div class="actions">
  <%= submit_tag(t("layouts.reset_button"), { :name => 'reset', :id => 'reset_button', :type => "reset" }) %>
  </div>
<% end %>

<% end %> <%# ################################################# %>
</div>

<% if ! prefecture.new_record? && can?(:destroy, prefecture) %>
  <div class="actions-destroy" style="margin-right: 1em;">
   <div class="actions" style="text-align: right">
  <%# check_box_tag('force_destroy', "1", false, title: "This should not be destroyed because it either has significant child Places or the set of Prefecture in the country should be already complete. If you are sure you want to proceed, check this.") %>
  <%# check_box_tag('force_destroy2') %>
       <% msg = nil
          if !prefecture.destroyable?(with_msg: false)
            msg = sprintf("it has significant child Places (n=%d)", prefecture.places.size)
          elsif prefecture.all_prefectures_fixed?
            msg = sprintf("the set of Prefecture in the country (%s) should be already complete", prefecture.country.title_or_alt)
          end
          msg = "This should not be destroyed because #{msg}. If you are sure you want to proceed, check this:"
       %>
         <!-- input id="force_destroy" type="checkbox" name="force_destroy" value="1" / -->
     <%= button_to 'Destroy', prefecture, method: :delete, data: { confirm: t('common.are_you_sure') } %>
   </div>
  </div>
<% end %>

  <%# form_with(model: prefecture, method: :delete, local: true) do |form| %>
        <%# form.check_box :force_destroy, {checked: false} %>
<p>
  <% if ! prefecture.new_record? %>
    <%= link_to 'Show', prefecture %> |
  <% end %>
  <%= link_to 'Back to Index', prefectures_path %>
</p>

