
<% country_name = @prefecture.country.title_or_alt(langcode: I18n.locale) %>
<h1>Prefecture: <%= my_title = @prefecture.title_or_alt_tuple_str("[", "]", langcode: I18n.locale) %> (&lt; <%= country_name %>)</h1>

<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: @prefecture} %>
<hr>

<dl>
  <% if current_user && current_user.moderator? %>
    <dt>ID (Prefecture)</dt>
    <dd> <%= @prefecture.id %></dd>
  <% end %>
  <dt><strong>Country:</strong></dt>
  <dd><%= link_to country_name, country_path(@prefecture.country_id) %></dd>

  <dt>start_date</dt>
  <dd> <%= @prefecture.start_date %></dd>
  <dt>end_date</dt>
  <dd> <%= @prefecture.end_date %></dd>
  <dt>iso3166_loc_code (ISO 3166-2:JP (etc) code (JIS X 0401:1973))</dt>
  <dd> <%= @prefecture.iso3166_loc_code %></dd>
  <dt>orig_note (Remarks by HirMtsd)</dt>
  <dd> <%= @prefecture.orig_note %></dd>
  <dt><%= t("tables.n_harami_vids_long") %></dt>
  <dd><%= @prefecture.harami_vids.count.to_s %></dd>
  <dt><%= t("tables.note").capitalize %></dt>
  <dd><%= @prefecture.note %></dd>
</dl>

<p>
<% if can? :update, @prefecture %>
  <%= link_to 'Edit', edit_prefecture_path(@prefecture) %> |
<% end %>
<%= link_to 'Back to Index', prefectures_path %>
</p>

<hr>

<h2>Places in Prefecture <%= my_title %></h2>

<table id="places_in_prefecture">
  <thead>
    <tr>
      <th>和名</th>
      <th>別名</th>
      <th>英語名 [別名]</th>
      <th>N_Musics</th>
      <th>N_Artists</th>
      <th title="<%= t("tables.n_harami_vids_long") %>"><%= t("tables.n_harami_vids_short") %></th>
      <th>Note</th>
      <% if can? :edit, Place %>
        <th colspan="2">Action</th>
      <% else %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% (@places || @prefecture.places).uniq.each do |place| %>
      <tr>
        <td><%= (place.title langcode: 'ja') || '' %></td>
        <td><%= sprintf '%s', (place.alt_title(langcode: 'ja') || '') %></td>
        <td><%= sprintf '%s [%s]', *(%i(title alt_title).map{|i| place.send(i, langcode: 'en') || ''}) %></td>
        <td><%= place.musics.count.to_s %></td>
        <td><%= place.artists.count.to_s %></td>
        <td class="text-end"><%= place.harami_vids.count.to_s %></td>
        <td><%= place.note %></td>
        <td><%= link_to 'Show', place %></td>
        <% if can? :update, place %>
          <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if can? :create, Place %>
<p class="lead">
  <%= link_to sprintf('Create a new Place in Prefecture "%s"', my_title), new_place_path(place: {prefecture_id: @prefecture.id}) %>
</p>
<% end %>

<p>
<%= link_to 'Back to Index', prefectures_path %>
</p>

<hr>

<section id="harami_vid_table">
<h3><%= t("show.h2_harami_vid") %></h3>

  <%= render partial: 'layouts/harami_vids_index', locals: {harami_vids: @prefecture.harami_vids.order("harami_vids.release_date" => :desc).distinct, music: nil, with_place: true} %>
</section>


