
<% country_name = @prefecture.country.title_or_alt(langcode: I18n.locale) %>
<h1>Prefecture: <%= my_title = @prefecture.title_or_alt_tuple_str("[", "]", langcode: I18n.locale) %> (&lt; <%= country_name %>)</h1>

<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: @prefecture} %>
<hr>

<dl>
  <% if (canedit=can?(:edit, Prefecture)) %>
    <div class="editor_only">
      <dt>ID (Prefecture)</dt>
      <dd> <%= @prefecture.id %></dd>
    </div>
  <% end %>
  <dt><strong><%= t(:Country) %>:</strong></dt>
  <dd><%= link_to country_name, country_path(@prefecture.country_id) %></dd>

  <dt>start_date</dt>
  <dd> <%= @prefecture.start_date %></dd>
  <dt>end_date</dt>
  <dd> <%= @prefecture.end_date %></dd>
  <% if canedit %>
    <div class="editor_only">
      <dt>iso3166_loc_code (ISO 3166-2:JP (etc) code (JIS X 0401:1973))</dt>
      <dd> <%= @prefecture.iso3166_loc_code %></dd>
      <dt>orig_note (Remarks by HirMtsd)</dt>
      <dd> <%= @prefecture.orig_note %></dd>
    </div>
  <% end %>
  <dt><%= t("tables.n_harami_vids_long") %></dt>
  <dd><%= @prefecture.harami_vids.count.to_s %></dd>
  <dt><%= t(".n_artists_long") %></dt>
  <dd><%= @prefecture.artists.count.to_s %></dd>
  <% if canedit  %>
    <div class="editor_only">
      <dt><%= t(".n_musics_long") %></dt>
      <dd> <%= @prefecture.musics.count.to_s %></dd>
    </div>
  <% end %>
  <dt><%= t("tables.note").capitalize %></dt>
  <dd><%= auto_link(@prefecture.note) %></dd>
</dl>

<p>
<% if can? :update, @prefecture %>
  <%= link_to 'Edit', edit_prefecture_path(@prefecture) %> |
<% end %>
<%= link_to t('layouts.back_to_index'), prefectures_path %>
</p>

<hr>

<%= render partial: '/layouts/places_in_prefecture', locals: {prefecture: @prefecture, places: @places, pref_title: my_title} %>

<% if can? :create, Place %>
<p class="lead">
  <%= link_to sprintf('Create a new Place in Prefecture "%s"', my_title), new_place_path(place: {prefecture_id: @prefecture.id}) %>
</p>
<% end %>

<p>
<%= link_to t('layouts.back_to_index'), prefectures_path %>
</p>

<hr>

<section id="section_event_table">

<h2><%= t(".events_in_prefecture", this_pref: my_title) %></h2>

<%= render partial: "layouts/events_index", locals: {events: @prefecture.events, hide_prefecture: true} %>
</section> <!-- section id="section_event_table" -->

<hr>

<section id="harami_vid_table">
<h2><%= t("show.h2_harami_vid") %></h2>

  <%= render partial: 'layouts/harami_vids_index', locals: {harami_vids: @prefecture.harami_vids.order("harami_vids.release_date" => :desc).distinct, music: nil, with_place: true} %>
</section>

<hr>

<section id="artist_table">
<h2><%= t(".h2_artists") %></h2>

  <%= render partial: 'layouts/artists_table', locals: {artists: @prefecture.artists} %>
</section>

