
<% country_name = @prefecture.country.title_or_alt(langcode: I18n.locale) %>
<h1>Prefecture: <%= my_title = @prefecture.title_or_alt_tuple_str("[", "]", langcode: I18n.locale) %> (&lt; <%= country_name %>)</h1>

<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: @prefecture} %>
<hr>

<dl>
  <% if (canedit=can?(:edit, Prefecture)) %>
    <div class="editor_only">
      <dt>ID (Prefecture)</dt>
      <dd> <%= @prefecture.id %></dd>
    </div>
  <% end %>
  <dt><strong><%= t(:Country) %>:</strong></dt>
  <dd><%= link_to country_name, country_path(@prefecture.country_id) %></dd>

  <dt>start_date</dt>
  <dd> <%= @prefecture.start_date %></dd>
  <dt>end_date</dt>
  <dd> <%= @prefecture.end_date %></dd>
  <% if canedit %>
    <div class="editor_only">
      <dt>iso3166_loc_code (ISO 3166-2:JP (etc) code (JIS X 0401:1973))</dt>
      <dd> <%= @prefecture.iso3166_loc_code %></dd>
      <dt>orig_note (Remarks by HirMtsd)</dt>
      <dd> <%= @prefecture.orig_note %></dd>
    </div>
  <% end %>
  <dt><%= t("tables.n_harami_vids_long") %></dt>
  <dd><%= @prefecture.harami_vids.count.to_s %></dd>
  <dt><%= t(".n_artists_long") %></dt>
  <dd><%= @prefecture.artists.count.to_s %></dd>
  <% if canedit  %>
    <div class="editor_only">
      <dt><%= t(".n_musics_long") %></dt>
      <dd> <%= @prefecture.musics.count.to_s %></dd>
    </div>
  <% end %>
  <dt><%= t("tables.note").capitalize %></dt>
  <dd><%= @prefecture.note %></dd>
</dl>

<p>
<% if can? :update, @prefecture %>
  <%= link_to 'Edit', edit_prefecture_path(@prefecture) %> |
<% end %>
<%= link_to t('layouts.back_to_index'), prefectures_path %>
</p>

<hr>

<h2><%= t(".places_in_prefecture", this_pref: my_title) %></h2>

<% canshow_pla = can?(:show, Place) %>
<% canedit_pla = can?(:edit, Place) %>

<table id="places_in_prefecture">
  <thead>
    <tr>
      <% if canedit_pla %>
        <th class="editor_only">pID</th>
      <% end %>

      <%= render partial: "layouts/thead_title_ja_alt_en", locals: {can_update: canedit_pla} %>

      <th><%= t(".N_Artists") %></th>
      <% if canedit_pla  %>
        <th class="editor_only"><%= t(".N_Musics") %></th>
      <% end %>
      <th title="<%= t("tables.n_harami_vids_long") %>"><%= t("tables.n_harami_vids_short") %></th>
      <th><%= t("tables.note").capitalize %></th>

      <% if canedit_pla %>
        <th colspan="2" class="editor_only">Action</th>
      <% elsif canshow_pla %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% (@places || @prefecture.places).uniq.each do |place| %>
      <tr>
        <% if canedit_pla %>
          <td class="editor_only"><%= link_to place.id, place %></td>
        <% end %>

        <%= render partial: "layouts/tbody_title_ja_alt_en", locals: {model: place, can_update: canedit_pla} %>

        <td class="text-end"><%= place.artists.count.to_s %></td>
      <% if canedit_pla  %>
        <td class="editor_only text-end"><%= place.musics.count.to_s %></td>
      <% end %>
        <td class="text-end"><%= place.harami_vids.count.to_s %></td>
        <td class="text-start"><%= place.note %></td>
      <% if (canshow_pla) %>
        <td><%= link_to t("tables.Show"), place %></td>
      <% end %>
        <% if can? :update, place %>
          <td class="editor_only"><%= link_to 'Edit', edit_place_path(place) %></td>
        <% elsif canshow_pla %>
          <td class="editor_only"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if can? :create, Place %>
<p class="lead">
  <%= link_to sprintf('Create a new Place in Prefecture "%s"', my_title), new_place_path(place: {prefecture_id: @prefecture.id}) %>
</p>
<% end %>

<p>
<%= link_to t('layouts.back_to_index'), prefectures_path %>
</p>

<hr>

<section id="section_event_table">

<h2><%= t(".events_in_prefecture", this_pref: my_title) %></h2>

<%= render partial: "layouts/events_index", locals: {events: @prefecture.events, hide_prefecture: true} %>
</section> <!-- section id="section_event_table" -->

<hr>

<section id="harami_vid_table">
<h2><%= t("show.h2_harami_vid") %></h2>

  <%= render partial: 'layouts/harami_vids_index', locals: {harami_vids: @prefecture.harami_vids.order("harami_vids.release_date" => :desc).distinct, music: nil, with_place: true} %>
</section>

<hr>

<section id="artist_table">
<h2><%= t(".h2_artists") %></h2>

  <%= render partial: 'layouts/artists_table', locals: {artists: @prefecture.artists} %>
</section>

