<%# locals: (from_non_turbo: nil) %>

<%# Assumed instance variables: @harami_vid; local variables: (optional) from_non_turbo: Def(false) true if requested from show.html.erb %>

    <%= turbo_frame_tag "update_place_"+dom_id(@harami_vid) do %>
      <%= show_pref_place_country(@harami_vid.place) %> <%# defined in places_helper.rb %>
      <% if (canupdate=can?(:update, @harami_vid)) %>
        <%= html_consistent_or_inconsistent(@harami_vid.is_place_all_consistent?(strict: true)) %>
      <% end %>
      <% if canupdate && (evit_place=get_evit_place_if_need_updating(@harami_vid)) %>
        <br>
        <div class="editor_only harami_vids_update_place">
          / In EventItem(s): <%= show_pref_place_country(evit_place) %>
          <%= button_to "Update Place", harami_vids_update_place_path(@harami_vid), method: :patch, form_class: "inline_form_tight", class: "text-end inline_form_tightest" %>
        </div>
      <% end %>
      <% if !from_non_turbo && canupdate %>
        <%= render partial: 'layouts/form_print_errors', locals: {model: @harami_vid, error_explanation_for_class: true} %>
        <%= render partial: "/layouts/flash_display" %>
      <% end %>
    <% end %>
