
<h1>Harami1129s <%= h1_note_editor_only(Harami1129, method: :index) %></h1>

<% if Harami1129sController::URI2FETCH.blank? %>
  <span style="color: red">WARNING: Remote Server is not defined. The data cannot be refreshed. Contact the site administrator.</span>
<% end %>

<%# NOTE to Developer:
  # This section should be rewritten, taking into consideration @alert and Flash messages. %>
<% if @msg %>
  <% if !@num_errors %>
    <div id="error_explanation">
      <h2>Complete failure in downloading:</h2>
      <div id="error_explanation_content">
      <p><%= sanitize @msg %></p>
      </div>
    </div>
  <% else %>
    <div id="harami1129_remote_data_fetching">
      <h2>Data fetched from the
        <% if Harami1129sController::URI2FETCH.blank?  %>
          [NO DEFINED SERVER]
        <% else %>
          <%= link_to 'remote server', Harami1129sController::URI2FETCH %>
        <% end %>:</h2>
      <div id="harami1129_remote_data_fetching_content">
      <p><% "abcdefefghik" %></p>
      <p><%= sanitize @msg %></p>
      </div>
    <% if @last_err %>
      <div id="error_explanation">
        <h2>Something wrong in downloading happened:</h2>
        <div id="error_explanation_content">
        <h3>Last error:</h3>
        <p><%= sanitize @last_err %></p>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
<% end %>

<% if user_signed_in? %> <%# should be redundant %>
  <hr>
<div id="form_download_data">
  <h3>Update the data by downloading</h3>
<div id="inside_form_download_data">
<%= form_with(url: new_harami1129s_download_harami1129s_path, method: 'GET') do |form| %>
  <div class="actions">
    <div class="form_download_data_options">
    <% if ApplicationGrid.qualified_as?(:an_admin) %>
     <div class="admin_only">
      <%= form.label :debug, '[Admin] DEBUG?' %>
      <%= form.radio_button(:debug, '1', checked: false) %>
      <%= form.label        :debug, 'Yes', value: '1' %>
      <%= form.radio_button(:debug, '0', checked: true) %>
      <%= form.label        :debug, 'No',  value: '0' %>
     </div>
    <% end %>
    <%= form.label      :init_entry_fetch, 'Initial entry number to download (Def: 1)' %>
    <%= form.text_field :init_entry_fetch,  value: 1 %><br>
    <% msg_admin = (ApplicationGrid.qualified_as?(:an_admin) ? '<span class="admin_only">(-99 means all: admin only)</span>'.html_safe : "") %>
    <%= form.label      :max_entries_fetch, (h("Number of entries to download (Max: #{Harami1129s::DownloadHarami1129sController::MAX_ENTRIES})")+msg_admin).html_safe %>
    <%= form.text_field :max_entries_fetch,  value: Harami1129s::DownloadHarami1129sController::MAX_ENTRIES %><br>
      <% Harami1129s::DownloadHarami1129sController::DOWNLOAD_FORM_STEP.each_value do |ev| %>
        <%= form.radio_button(:step_to, ev, checked: "populate" == ev.to_s.downcase) %>
        <%= form.label :step_to, ev.capitalize, value: ev %>
      <% end %> (Range for "Populate_only" are for local pIDs)
    </div>
    <%= submit_tag "Download data", :name => Harami1129s::DownloadHarami1129sController::DOWNLOAD_FORM_SUBMIT_NAME, :class => "btn btn-info"%>  (Note that all the form parameters will be reverted back after you submit with this button. <%# = link_to 'this link', new_harami1129s_download_harami1129s_path+'?debug=true&max_entries_fetch=-99' %> <%# instead (to download all)?   Or, %> <%# = link_to 'Back to Home', root_path, data: { turbolinks: false } %>)
  </div>
<% end %>
<%# NOTE to Developer:
  # Options may be given for the user (admin): Download, Download+Insert_within, Download+Insert_within+Inject_all.
  # Maybe the selection is passed to GET/params and Controllers will redirect_to a different destination according to it.
 %>
</div>
</div>

<div id="form_insert_data">
<div id="inside_form_insert_data">
<%= form_with(model: @harami1129s, url: harami1129s_internal_insertions_path) do |form| %>
  <div class="actions">
    <%= submit_tag "Insert within Table", :name => Harami1129sController::FORM_SUBMIT_INSERTION_WITHIN_NAME, :class => "btn btn-info", title: 'Fill the imported columns with the downloaded data.' %> (This makes sense only after you have chosen and done &quot;download&quot; above but nothing else.)
  </div>
<% end %>
</div>
</div>
<hr>
<% end %>

<p><strong>Notations in the table below</strong></p>

<ul>
  <% Harami1129::TABLE_STATUS_MARKER_DESCRIPTION.each_pair do |ek, desc| %>
    <li><%= Harami1129::TABLE_STATUS_MARKER[ek].inspect+': '+desc %></li>
  <% end %>
</ul>
<p>
  The status is defined in each cell in each row; the first column shows the representative one (basically the worst one) of the row.
</p>
<p>
  When there is an indication somthing is wrong in a row, the best way to check is to click <strong>Show</strong> from the right-most column to jump to the detailed information of each entry, where editing options are available.
</p>

<%= datagrid_form_with model: @grid, method: :get, url: harami1129s_path %>

<%= paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= paginate(@grid.assets) %>

<p class="pagenation_stats">
  <%= ApplicationController.str_info_entry_page_numbers(@grid, Harami1129) %>
</p>

<br>

<% if ApplicationGrid.qualified_as?(:an_admin) %>
  <span class="admin_only"><%= link_to 'New Harami1129 entry', new_harami1129_path %></span>
<% end %>
