
<% popst = @harami1129.populate_status %>
<% engage = @harami1129.engage %>
<% event_item = @harami1129.event_item %>

<h1>HARAMI1129 Entry</h1>

<dl id="h1129_main_dl">
  <dt id="h1129_id_dt">ID:</dt>
  <dd id="h1129_id_dd">
  <%= @harami1129.id %>
  </dd>

  <dt id="h1129_remote_row_dt">Row number in Remote (id_remote):</dt>
  <dd id="h1129_remote_row_dd">
  <%= @harami1129.id_remote %>
  </dd>

  <dt id="h1129_title_dt">Title [<%= popst.marker(:ins_title) %>]:</dt>
  <dd id="h1129_title_dd">
  <table>
    <tbody>
      <tr><th>Downloaded</th><td><%= @harami1129.title %></td></tr>
      <tr><th>Internally inserted</th><td><%= @harami1129.ins_title %></td></tr>
    <% hvid = (@harami1129.harami_vid || nil) %>
      <tr><th><%= s='Current Destination'; (hvid ? link_to(s, hvid) : s) %></th><td><%= s=popst.dest_current(:ins_title); (hvid ? link_to(s, hvid) : s) %></td></tr>
      <% if @harami1129.ins_title.blank? && !@harami1129.title.blank?  %>
        <tr><th>(Downloaded → ins_title)</th><td><%= popst.ins_to_be(:ins_title) %></td></tr>
      <% end %>
      <% hvid_tgt = popst.tgt[:harami_vid]
         is_new = (hvid_tgt && !hvid_tgt.id) %> <%# equivalent to new_record? %>
      <tr><th>(Downloaded → Destination)</th><td><%= s=popst.dest_to_be(:ins_title); (is_new ? s : link_to(s, hvid_tgt)) %><%= is_new ? " (New)" : "" %></td></tr>
    </tbody>
  </table>
  </dd>

  <dt id="h1129_release_date_dt">Release date [<%= popst.marker(:ins_release_date) %>]:</dt>
  <dd id="h1129_release_date_dd">
  <table>
    <tbody>
      <tr><th>Downloaded</th><td><%= @harami1129.release_date %></td></tr>
      <tr><th>Internally inserted</th><td><%= @harami1129.ins_release_date %></td></tr>
      <tr><th><%= s='Current Destination'; (hvid ? link_to(s, hvid) : s) %></th><td><%= s=popst.dest_current(:ins_release_date); (hvid ? link_to(s, hvid) : s) %></td></tr>
      <tr><th>(Downloaded → Destination)</th><td><%= popst.ins_to_be(:ins_release_date) %></td></tr>
    </tbody>
  </table>
  </dd>

  <dt id="h1129_link_root_dt">Link_root [<%= popst.marker(:ins_link_root) %>]:</dt>
  <dd id="h1129_link_root_dd">
  <table>
    <tbody>
      <tr><th></td><th></th><th>Full link</th></tr>
      <tr><th>Downloaded</th><td><%= @harami1129.link_root %></td><td><cite><%= lin = @harami1129.link_root; lin ? link_to_youtube(:uri, lin, @harami1129.link_time) : lin %></cite></td></tr>
      <tr><th>Internally inserted</th><td><%= @harami1129.ins_link_root %></td><td><cite><%= lin = @harami1129.ins_link_root; lin ? link_to_youtube(:uri, lin, @harami1129.ins_link_time) : lin %></cite></td></tr>
      <tr><th><%= s='Current Destination'; @harami1129.harami_vid ? link_to(s, @harami1129.harami_vid) : s %></th><td><%= popst.dest_current(:ins_link_root) %></td><td><cite><%= lin = popst.dest_current(:ins_link_root); lin ? link_to_youtube(:uri, lin, popst.dest_current(:ins_link_time)) : lin %></cite></td></tr>
      <tr><th>(Downloaded → Destination)</th><td><%= popst.ins_to_be(:ins_link_root) %></td><td><cite><%= lin = popst.ins_to_be(:ins_link_root); lin ? link_to_youtube(:uri, lin, popst.ins_to_be(:ins_link_time)) : lin %></cite></td></tr></tr>
    </tbody>
  </table>
  </dd>

  <dt id="h1129_link_time_dt">Link_time [sec] [<%= popst.marker(:ins_link_time) %>]:</dt>
  <dd id="h1129_link_time_dd">
  <table>
    <tbody>
      <tr><th>Downloaded</th><td><%= @harami1129.link_time %></td></tr>
      <tr><th>Internally inserted</th><td><%= @harami1129.ins_link_time %></td></tr>
      <% hvid_tgt = popst.hvma_current
         is_new = (hvid_tgt && !hvid_tgt.id) %> <%# equivalent to new_record? %>
      <% span_tit = sprintf('HVMA-ID=%d', hvid_tgt.id) if hvid_tgt && !is_new %> 
      <tr><th>Current Destination</th><td><span title="<%= span_tit %>"><%= popst.dest_current(:ins_link_time) %></span></td></tr>
      <% hvid_tgt = popst.tgt[:harami_vid_music_assoc]
         is_new = (hvid_tgt && !hvid_tgt.id) %> <%# equivalent to new_record? %>
      <% span_tit = sprintf('HVMA-ID=%d', hvid_tgt.id) if hvid_tgt && !is_new %> 
      <tr><th>(Downloaded → Destination)</th><td><span title="<%= span_tit %>"><%= popst.ins_to_be(:ins_link_time) %><%= is_new ? " (New)" : "" %></span></td></tr>
    </tbody>
  </table>
  </dd>

  <dt id="h1129_singer_dt">Singer [<%= popst.marker(:ins_singer) %>]:</dt>
  <dd id="h1129_singer_dd">
  <table>
    <tbody>
      <tr><th>Downloaded</th><td><%= @harami1129.singer %></td></tr>
      <tr><th>Internally inserted</th><td><%= @harami1129.ins_singer %></td></tr>
      <% art = (engage && engage.artist ? engage.artist : nil) %>
      <tr><th><%= s='Current Destination'; (art ? link_to(s, art) : s) %></th><td><%= s=popst.dest_current(:ins_singer); (art ? link_to(s, art) : s) %></td><td><%= engage ? ('['.html_safe+link_to((engage.engage_how ? engage.engage_how.title(langcode: I18n.locale) : 'nil')+(engage.year ? sprintf(' (%d)', engage.year) : '(Year=?)'), engage, title: 'Way of engagement between the singer/artist and song/music and its year')+']') : '' %></td></tr>
      <% if @harami1129.ins_singer.blank? && !@harami1129.singer.blank?  %>
      <tr><th>(Downloaded → ins_singer)</th><td><%= popst.ins_to_be(:ins_singer) %></td></tr>
      <% end %>
      <% art_tgt = popst.tgt[:artist]
         is_new = (art_tgt && !art_tgt.id) %> <%# equivalent to new_record? %>
      <tr><th>(Downloaded → Destination)</th><td><%= s=popst.dest_to_be(:ins_singer); (is_new ? s : link_to(s, art_tgt)) %><%= is_new ? " (New)" : "" %></td>
      <% eng_tgt = popst.tgt[:engage]
         is_new = (eng_tgt && !eng_tgt.id) %> <%# equivalent to new_record? %>
      <% link_str = ""
         if eng_tgt
           s = (eng_tgt.engage_how ? eng_tgt.engage_how.title(langcode: I18n.locale) : 'nil')+(eng_tgt.year ? sprintf(' (%d)', eng_tgt.year) : '(Year=?)')
           link_str = "["+link_to(s, eng_tgt, title: 'Way of engagement between the singer/artist and song/music and its year')+"]"
           link_str = link_str.html_safe
         end
        %>
        <td><%= link_str %><%= is_new ? " (New)" : "" %></td>
        </tr>
    </tbody>
  </table>
  </dd>

  <dt id="h1129_song_dt">Song [<%= popst.marker(:ins_song) %>]:</dt>
  <dd id="h1129_song_dd">
  <table>
    <tbody>
      <tr><th>Downloaded</th><td><%= @harami1129.song %></td></tr>
      <tr><th>Internally inserted</th><td><%= @harami1129.ins_song %></td></tr>
      <% mu = (engage && engage.music ? engage.music : nil) %>
      <tr><th><%= s='Current Destination'; (mu ? link_to(s, mu) : s) %></th><td><%= s=popst.dest_current(:ins_song); (mu ? link_to(s, mu) : s) %><%= (mu && mu.year ? sprintf(' (<span title="Year of this music/song">%d</span>)', mu.year).html_safe : '') %></td></tr>
      <% if @harami1129.ins_song.blank? && !@harami1129.song.blank?  %>
      <tr><th>(Downloaded → ins_song)</th><td><%= popst.ins_to_be(:ins_song) %></td></tr>
      <% end %>
      <% mus_tgt = popst.tgt[:music]
         is_new = (mus_tgt && !mus_tgt.id) %> <%# equivalent to new_record? %>
      <tr><th>(Downloaded → Destination)</th><td><%= s=popst.dest_to_be(:ins_song); (is_new ? s : link_to(s, mus_tgt)) %><%= is_new ? " (New)" : "" %></td>
    </tbody>
  </table>
  </dd>

  <dt id="h1129_timerelated_dt">Time-related table columns:</dt>
  <dd id="h1129_timerelated_dd">
  <table>
    <tbody>
      <tr><th title="Oldest first.">Order</th><th>Column</th><th>Value</th></tr>
      <% @harami1129.time_attrs_with_order.each_pair do |ek, eh| %>
        <tr><td><%= eh[:order] %></td><td><strong><%= ek.to_s%></strong></td><td><%= eh[:value]%></td></tr>
      <% end %>
    </tbody>
  </table>
  </dd>

  <% if can? :edit, @harami1129 %>  <%# Because this "not_music" entry should be removed... %>
  <dt>NOT music video?:</dt>
  <dd>
      <%= @harami1129.not_music ? 'True' : (@harami1129.not_music.nil? ? 'nil' : 'False') %>
  </dd>
  <% end %>

  <dt id="harami1129_show_HaramiVid">HaramiVid (in our DB, for Title, Date, Link):</dt>
  <dd id="harami1129_show_HaramiVid_dd">
    <% hv = @harami1129.harami_vid %>
    <%= hv ? link_to(sprintf('(ID=%d) %s', hv.id, hv.title), hv) : 'nil' %>
  </dd>

  <dt id="harami1129_show_Engage" title="Table of the association for Engagement of Song(Music)-Singer(Artist)">Engage (in our DB, for Singer and Song):</dt>
  <dd id="harami1129_show_Engage_dd">
    <%= engage ? link_to(sprintf('(ID=%d) %s by %s [%s]', engage.id, engage.music.title, engage.artist.title, engage.engage_how.title(langcode: I18n.locale, lang_fallback: true)), engage) : 'nil' %>
  </dd>
  
  <dt id="harami1129_show_EventItem" title="Table of the association for EventItem">EventItem (in our DB, for Song and Artists to collaborate):</dt>
  <dd id="harami1129_show_EventItem_dd">
    EventItem: <%= @harami1129.event_item ? link_to(sprintf('(ID=%d) %s', @harami1129.event_item.id, @harami1129.event_item.machine_title)) : 'nil' %> </dd>
  <dd id="harami1129_show_Event_dd">
    &lt; Event: <%= @harami1129.event_item ? link_to(sprintf('(ID=%d) %s', (evt=@harami1129.event_item.event).id, evt.title(langcode: I18n.locale, lang_fallback: true)), evt) : 'nil' %> </dd>
  <dd id="harami1129_show_EventGroup_dd">
    &lt; EventGroup: <%= @harami1129.event_item ? link_to(sprintf('(ID=%d) %s', (evg=@harami1129.event_item.event_group).id, evg.title(langcode: I18n.locale, lang_fallback: true)), evg) : 'nil' %> </dd>
  <dd id="harami1129_show_EventItem_in_HaramiVid_dd">
    (<strong>in HaramiVid</strong>):
    <% if !hv %>
      HaramiVid undefined
    <% elsif !event_item %>
      <%= cnt = hv.event_items.ids.size %> <%= "EventItem".pluralize(cnt) %>
    <% else %>
      <% if hv.event_items.joins(harami1129s: :event_item).where("harami1129s.id" => @harami1129.id).exists? %>
        EventItem included
      <% else %>
        EventItem (ID=<%= @harami1129.event_item.id %>)<strong>NOT</strong> included in
        <%= hv.event_items.ids.inspect %>
      <% end %>
    <% end %>
    </dd>
  <dd id="harami1129_show_EventItem_in_ArtistMusicPlay_dd">
    (<strong>in ArtistMusicPlay</strong>):
    <% if evit=@harami1129.event_item %>
      Song(Music)
      <% if @harami1129.ins_song.blank? %>
      <% elsif evit.musics.joins(:translations).where("translations.title" => @harami1129.ins_song).exists? %>
        <em>included</em>
      <% else %>
        <strong>NOT</strong> included
      <% end %>

      / Singer(Artist)
      <% if @harami1129.ins_singer.blank? %>
      <% elsif evit.artists.joins(:translations).where("translations.title" => @harami1129.ins_singer).exists? %>
        <em>included</em>
      <% else %>
        <strong>NOT</strong> included
      <% end %>
    <% end %>
    </dd>

  <dt id="h1129_note_dt">Note:</dt>
  <dd id="h1129_note_dd">
  <%= @harami1129.note %>
  </dd>

</dl>
    
<h3>Summary</h3>
<table>
  <thead>
    <tr>
      <th>Singer</th>
      <th>Song</th>
      <th>Release date</th>
      <th>Title</th>
      <th>Link_root</th>
      <th>Link_time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= popst.marker(:ins_singer) %></td>
      <td><%= popst.marker(:ins_song) %></td>
      <td><%= popst.marker(:ins_release_date) %></td>
      <td><%= popst.marker(:ins_title) %></td>
      <td><%= popst.marker(:ins_link_root) %></td>
      <td><%= popst.marker(:ins_link_time) %></td>
    </tr>
  </tbody>
</table>

<p>
<% if can? :update, @harami1129 %>
  <span class="lead">
<%= link_to 'Edit', edit_harami1129_path(@harami1129) %> |
  </span>
<% end %>
<%= link_to 'Back', harami1129s_path %>
<br />
</p>


<% if can? :update, @harami1129 %>
<p>
  <% if :checked == popst.sorted_status.first %>
    Everything looks OK. If you want to <it>undo</it> confirmation (in order to properly edit and fix it later), go to <%= link_to 'Edit', edit_harami1129_path(@harami1129) %> page.
  <% else %>
    <% if ![:consistent, :checked].include? popst.sorted_status.last %>
    <% if :no_insert == popst.sorted_status.first %>
      Please insert within the table (or go to <%= link_to 'Edit', edit_harami1129_path(@harami1129) %> page).
    <% end %>
    <div id="form_insert_data">
    <div id="inside_form_insert_data">
    <%= form_with(model: @harami1129, url: harami1129_internal_insertions_path(harami1129_id: @harami1129.id)) do |form| %>
      <div class="actions">
        <%= submit_tag "Insert within Table", :name => Harami1129sController::FORM_SUBMIT_INSERTION_WITHIN_NAME, :class => "btn btn-info", title: 'Fill the imported columns with the downloaded data.' %>
      </div>
    <% end %>
    </div>
    </div>
    <% end %>

    <% if :no_insert != popst.sorted_status.first && :checked != popst.sorted_status.last %>
    <div id="show_populate_button">
     <% if [:ins_inconsistent, :consistent].include? popst.sorted_status.last %>
       <%  button_text = "Re-populate" %>
      [WARNING] Second-time attempt may do nothing. <%# b/c @updated_col_syms called from Harami1129#populate_ins_cols_default is never set (i.e., nil) You first must decide what this "Populate" button should do when the data are already populated, as well as what other "Populate" button (such as those appearing in Index) should do, i.e., to what extent it should populate the data, overwriting the existing ones or not, etc. %>
     <% else %>
       <%  button_text = 'Populate' %>
     <% end %>
      <%= button_to button_text, harami1129_populate_url(harami1129_id: @harami1129.id), method: :patch  %>
    </div>
    <% end %>
    <% if :no_insert != popst.sorted_status.first && :checked != popst.sorted_status.last %>
    <div id="show_check_button">
      Check if everything is OK and if not, go to <%= link_to 'Edit', edit_harami1129_path(@harami1129) %> page).
      If everything looks OK<%= ' (<em>unlikely</em> as Title in HaramiVid is blank)'.html_safe if popst.dest_current(:ins_title).blank? %>, please
      <%= button_to 'Confirm', harami1129_url, method: :patch, params: { harami1129: {human_check: "1"} } %>
    </div>
    <% end %>
  <% end %>
</p>
<% end %>

<h4>Notations</h4>
<ul>
  <% Harami1129::TABLE_STATUS_MARKER_DESCRIPTION.each_pair do |ek, desc| %>
    <li><%= Harami1129::TABLE_STATUS_MARKER[ek].inspect+': '+desc %></li>
  <% end %>
</ul>
<p>
<%= link_to 'Back', harami1129s_path %>
</p>
