<p id="notice"><%= notice %></p>

<h1>Countries</h1>

<table class="table_index table_string">
  <thead>
    <tr>
      <th>ID</th>
     <%= render "layouts/title_alt_ja_en_table", model: nil, langcodes: %w(ja en fr) %>   <%# class="title_alt_ja" etc %>
      <th title="ISO-3166-1 Alpha 2 code, JIS X 0304">A2</th>
      <th title="ISO-3166-1 Alpha 3 code, JIS X 0304">A3</th>
      <th title="ISO-3166-1 Numeric code, JIS X 0304">N3</th>
      <% if can? :read, CountryMaster %>
        <th title="Link to CountryMaster, the original record; if all the JA/EN (but ignoring FR) translations are the same, except for potentially added ones in Country, it is marked as Same, else Differ">Master</th>
      <% end %>
      <th title="Independent in ISO-3166-1">Independent?</th>
      <th title="Territory name in ISO-3166-1">Territory</th>
      <th title="Remarks in ISO-3166-1, 2, 3">Remark<br>(ISO3166-1,2,3)</th>
      <th title="Remarks by HirMtsd">Remark<br>(by HirMtsd)</th>
      <th>Start date</th>
      <th>End date</th>
      <th title="Note in this DB">Note</th>
      <% if can? :update, Country %>
        <th colspan="3"></th>
      <% else %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |model| %>
      <tr>
        <td><%= model.id %></td>
       <%= render "layouts/title_alt_ja_en_table", model: model, langcodes: %w(ja en fr) %>  <%# class="title_alt_ja" etc %>
        <td><%= model.iso3166_a2_code %></td>
        <td><%= model.iso3166_a3_code %></td>
        <td><%= model.iso3166_n3_code %></td>
        <% if can? :read, CountryMaster %>
          <td><%= model.link_to_master %>
        <% end %>
        <td><%= model.independent.inspect %></td>
        <td><%= model.territory %></td>
        <td><%= model.iso3166_remark %></td>
        <td><%= model.orig_note %></td>
        <td><%= model.start_date %></td>
        <td><%= model.end_date %></td>
        <td><%= auto_link50(model.note) %></td>
        <td><%= link_to 'Show', model %></td>
        <% if can? :update, model  %>
          <td><%= link_to 'Edit', edit_country_path(model) %></td>
        <% end %>
        <% if can? :destroy, model %>
          <td><%= link_to 'Destroy', model, method: :delete, data: { confirm: t('are_you_sure') } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Country %>
  <%= button_to 'Create New Country', new_country_path, method: :get %>
  <%# link_to 'New Country', new_country_path %>
<% end %>
