<h1>Country: <%= my_title = @country.title_or_alt_tuple_str(langcode: I18n.locale) %></h1>

<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: @country} %>

<% if can? :show, CountryMaster %>
<% cm = @country.country_master %>
<% if !cm %> <%# In practice, this is the case only for "World". %>
  <p><strong>Master country data:</strong> None</p>
<% else %>

<%# div class="show_or_hide" style="display: none;">  <%# This is not working... %>
<div>
  <h4>master names</h4>
  <dl>
    <% %w(ja en fr).each do |lcode| %>
      <dt><%= BaseWithTranslation::LANGUAGE_TITLES[lcode.to_sym][lcode] || lcode %></dt>
      <dd><%= [cm.send('name_'+lcode+'_full'), cm.send('name_'+lcode+'_short')].compact.join(' | ') %></dd>
    <% end %>
  </dl>
  <p>
  <%#(……%><%# a id="Link_show_or_hide" title="Show or hide" href="#"#><%#Show%><%#/a%><%#)%>
  </p>
</div>
<% if can? :show, cm %>
  <p><%= link_to 'Show CountryMaster', country_master_path(cm) %></p>
<% end %>
<%# javascript_pack_tag 'show_or_hide' %>
<hr>
<% end %> <%# if !cm %>
<% end %> <%# if can? :show, CountryMaster %>

<dl>
  <dt>ID</dt>
        <dd><%= @country.id %></dd>
  <dt>A2 (ISO-3166-1 Alpha 2 code, JIS X 0304)</dt>
        <dd><%= @country.iso3166_a2_code %></dd>
  <dt>A3 (ISO-3166-1 Alpha 3 code, JIS X 0304)</dt>
        <dd><%= @country.iso3166_a3_code %></dd>
  <dt>N3 (ISO-3166-1 Numeric code, JIS X 0304)</dt>
        <dd><%= @country.iso3166_n3_code %></dd>
  <% if can? :read, CountryMaster %>
    <dt>CountryMaster (if all the JA/EN (but ignoring FR) translations are the same, except for potentially added ones in Country, it is marked as Same, else Differ)</dt>
        <dd><%= @country.link_to_master %></dd>
  <% end %>
  <dt>Independent? (Independent in ISO-3166-1)</dt>
        <dd><%= @country.independent.inspect %></dd>
  <dt>Territory (Territory name in ISO-3166-1)</dt>
        <dd><%= @country.territory %></dd>
  <dt>Remark (ISO-3166-1, 2, 3)</dt>
        <dd><%= @country.iso3166_remark %></dd>
  <dt>Remarks by HirMtsd</dt>
        <dd><%= @country.orig_note %></dd>
  <dt>Start date</dt>
        <dd><%= @country.start_date %></dd>
  <dt>End date</dt>
        <dd><%= @country.end_date %></dd>
  <dt>Note:</dt>
  <dd><%= auto_link(@country.note) %></dd>
</dl>

<% if can? :update, CountryMaster %>
  <%= button_to 'Edit', edit_country_path(@country) %>
  <br>
<% end %>
<%= link_to 'Back to Index', countries_path %>

<hr>

<h2>Prefectures <%= sprintf("(n=%d)", (@prefectures || @country.prefectures).count) if can?(:create, Prefecture) %> in Country <%= my_title %></h2>

<table id="prefectures_in_country">
  <thead>
    <tr>
      <th>和名</th>
      <th>別名</th>
      <th>英語名 [別名]</th>
      <th>N_Places</th>
      <th>N_Musics</th>
      <th>N_Artists</th>
      <th>N_HaramiVids</th>
      <th>Note</th>
      <% if can? :edit, Prefecture %>
        <th colspan="2">Action</th>
      <% else %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% (@prefectures || @country.prefectures).uniq.each do |prefecture| %>
      <tr>
        <td><%= (prefecture.title langcode: 'ja') || '' %></td>
        <td><%= sprintf '%s', (prefecture.alt_title(langcode: 'ja') || '') %></td>
        <td><%= sprintf '%s [%s]', *(%i(title alt_title).map{|i| prefecture.send(i, langcode: 'en') || ''}) %></td>
        <td><%= prefecture.places.count.to_s %></td>
        <td><%= prefecture.musics.count.to_s %></td>
        <td><%= prefecture.artists.count.to_s %></td>
        <td><%= prefecture.harami_vids.count.to_s %></td>
        <td><%= auto_link50(prefecture.note) %></td>
        <td><%= link_to 'Show', prefecture %></td>
        <% if can? :update, prefecture %>
          <td><%= link_to 'Edit', edit_prefecture_path(prefecture) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if can?(:create, Prefecture) || can?(:create, Place) %>
<p>
<% if can?(:create, Prefecture) && (!@country.all_prefectures_fixed? || can?(:manage_prefecture_jp, Prefecture)) %>
  <%= link_to(sprintf('Create new Prefecture in Country "%s"', my_title), new_prefecture_path(prefecture: {country_id: @country.id})) %>
  <br>
<% end %>
<% if can?(:create, Place) %>
  <%= link_to(sprintf('Create new Place in Country "%s"', my_title), new_place_path(place: {country_id: @country.id})) %>
<% end %>
</p>
<% end %>

