<div id="<%= dom_id channel_owner %>">
<dl>
  <% if can? :update, channel_owner %>
    <dt>ID (<%= channel_owner.class.name %>)</dt>
    <dd> <%= channel_owner.id %></dd>
  <% end %>
  <dt title="Whether this is basically identical to an Artist"><strong>Themselves?:</strong></dt>
    <dd><%= channel_owner.themselves ? "Y" : "N" %></dd>
  <dt title="Note"><strong>Note:</dt>strong></dt>
    <dd><%= channel_owner.note %></dd>
 <% if can? :update, Users::EditRolesController %>
   <% %w(create_user update_user).each do |metho| %>
  <dt><%= metho %>:</dt>
    <dd><%= ur = channel_owner.send(metho); link_to(ur.display_name, ur) if ur %></dd>
   <% end %>
 <% end %>
 <% if can? :edit, channel_owner %>
  <dt>updated_at:</dt>
    <dd><%= channel_owner.updated_at %></dd>
 <% end %>
</dl>
</div>
