<div id="<%= dom_id channel_owner %>">
<dl>
 <% if canedit=can?(:edit, ChannelOwner) %>
  <div class="editor_only">
    <dt>pID (<%= channel_owner.class.name %>)</dt>
    <dd> <%= channel_owner.id %></dd>
  </div>
 <% end %>
  <dt><strong><%= t(:Artist) %>:</strong></dt>
    <dd><%= channel_owner.artist ? link_to(channel_owner.artist.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either, article_to_head: true), artist_path(channel_owner.artist)) : "" %></dd>
  <dt title="Whether this is basically identical to an Artist"><strong><%= t("channels.index.themselves") %>?:</strong></dt>
    <dd><%= channel_owner.themselves ? "Y" : "N" %></dd>
  <%= render partial: 'layouts/show_note_memo_timestamps', locals: {model: channel_owner, model4ability: canedit} %>
</dl>
</div>
