<h3><%= t("show.h2_artist").pluralize(music.artists.count, I18n.locale) %><%= t("show.h2_for") %><%= t("Music") %>: <%= music.title_or_alt_tuple_str(langcode: I18n.locale) %> (<%= music.year ? l(Date.new(music.year), format: :year_comma) : t('musics.show.year_unknown') %>)</h3>

<table>
  <thead>
    <tr>
      <th title="'*' indicates the original name"><%= t("tables.title_name_ja") %></th>
      <th><%= t("tables.alt_title_name_ja") %></th>
      <th title="'*' indicates the original name"><%= t("tables.title_name_en") %></th>
      <th title="Show/Edit Engagement between Artist and Music">
      <% if can? :update, EngageHow %>
        <%= link_to 'How?', engage_hows_url %>
      <% else %>
        <%= t('tables.how_short', default: "How?") %>
      <% end %>
      </th>
      <th title="Place"><%= t("tables.place_country") %></th>
      <th title="Birthday of the artist (person or group)"><%= t('artists.show.birthday').capitalize %></th>
      <% if can? :update, Sex %>
        <th><%= link_to t(:Sex), sexes_url %></th>
      <% else %>
        <th><%= t(:Sex) %></th>
      <% end %>
      <th><%= t("tables.note") %></th>
      <% if can? :update, Artist %>
        <th colspan="2" title="Show/Edit Artist">Artist</th>
        <th title="Edit (Show) Engagements between Artist and Music">Engages</th>
      <% else %>
        <th title="Show Artist">Artist</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% music.artists.uniq.each do |artist| %>
      <tr>
        <% orig_lc = artist.orig_langcode %>
        <td><%= (artist.title langcode: 'ja') || '' %><%= (orig_lc == 'ja') ? '*' : '' %></td>
        <td><%= sprintf '%s [%s/%s]', *(%i(alt_title alt_ruby alt_romaji).map{|i| artist.send(i, langcode: 'ja') || ''}) %></td>
        <td><%= tits = %i(title alt_title).map{|i| artist.send(i, langcode: 'en') || ''}; sprintf '%s%s [%s]', tits[0], ((orig_lc == 'en') ? '*' : ''), tits[2] %></td>
        <% s = artist.engage_how_titles(music, year: music.year).join(', ') %>
        <% label_str = ((/\d/ =~ s) ? s : s+'('+(music.year || t('musics.show.year_unknown')).to_s+')') %>
        <% engage = artist.engages.where(music: music).first %>
        <td>
          <% linktxt, engage = engage_title_link(music, artist) %> <%# defined in musics_helper.rb %>
          <%= linktxt %> <%# defined in musics_helper.rb %>
          <% if false %>
        <% if can? :read, engage %>
          <%= link_to label_str, edit_engage_multi_how_path(engage) %>
        <% else %>
          <%= label_str %>
        <% end %>
        <% end %>
        </td>
        <td><%= ar = artist.place.title_or_alt_ascendants(langcode: I18n.locale, prefer_alt: true);
                sprintf '%s %s(%s)', ar[1], ((ar[1] == Prefecture::UnknownPrefecture['ja'] || ar[0].blank?) ? '' : '— '+ar[0]+' '), ar[2] %></td>
        <td><%= sprintf '%s年%s月%s日', *(%i(birth_year birth_month birth_day).map{|m|
                  i = artist.send m; (i.blank? ? '——' : i.to_s)}) %></td>
        <td><%= artist.sex.title langcode: I18n.locale, lang_fallback: true %></td>
        <td><%= artist.note %></td>
        <td><%= link_to t("tables.Show"), artist %></td>
        <% if can? :update, artist %>
          <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
          <td><%= link_to 'Edit', edit_engage_multi_how_path(engage) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Artist %>
  <p>Add a <span class="lead"><%= link_to "new Artist-Engage", new_engage_path(music_id: music.id) %></span>.</p>
<% end %>

