<h3><%= t("show.h2_artist").pluralize(music.artists.count, I18n.locale) %><%= t("show.h2_for") %><%= t("Music") %>: <%= music.title_or_alt_tuple_str(langcode: I18n.locale, lang_fallback_option: :either, article_to_head: true) %> (<%= music.year ? l(Date.new(music.year), format: :year) : t('musics.show.year_unknown') %>)</h3>

<%# local variables: music %>

<table>
  <thead>
    <tr>
     <% if (can_edit=can?(:edit, Artist)) %>
      <th title="DB pID" class="editor_only">pID</th>
     <% end %>
      <th title="'*' indicates the original name"><%= t("tables.title_name_ja") %></th>
      <th><%= t("tables.alt_title_name_ja") %></th>
      <th title="'*' indicates the original name"><%= t("tables.title_name_en") %></th>
      <th title="Show/Edit Engagement between Artist and Music">
      <% if can? :update, EngageHow %>
        <%= link_to t('engage_multi_hows.table_head.how_related'), engage_hows_url %>
      <% else %>
        <%= t('engage_multi_hows.table_head.how_related') %>
      <% end %>
      </th>
      <th title="Place"><%= t("tables.place_country") %></th>
      <th title="Birthday of the artist (person or group)"><%= t('artists.show.birthday').capitalize %></th>
      <% if can? :update, Sex %>
        <th><%= link_to t(:Sex), sexes_url %></th>
      <% else %>
        <th><%= t(:Sex) %></th>
      <% end %>
      <th><%= t("tables.note") %></th>
      <% if can_edit %>
        <th colspan="2" title="Show/Edit Artist"><%= t(:Artist) %></th>
      <% else %>
        <th title="Show Artist"><%= t(:Artist) %></th>
      <% end %>
      <th><%= t("tables.note") %> (<%= t("engage_multi_hows.table_head.how_related") %>)</th>
      <% if can_edit %>
        <th title="Edit (Show) Engagements between Artist and Music" class="editor_only">Engages</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% asterisk = (can_edit ? ('<span title="'+t('datagrid.footnote.is_original')+'">*</span>') : "").html_safe %>
    <% music.artists.uniq.each do |artist| %>
      <tr>
       <% if can_edit %>
        <td title="DB pID" class="number editor_only"><%= link_to artist.id, artist %></td>
       <% end %>
       <%= render partial: "layouts/tbody_title_ja_alt_en", locals: {model: artist, can_update: can_edit} %>
        <% s = artist.engage_how_titles(music, year: music.year).join(', ') %>
        <% label_str = ((/\d/ =~ s) ? s : s+'('+(music.year || t('musics.show.year_unknown')).to_s+')') %>
        <% engage = artist.engages.where(music: music).first %>
        <td>
          <% linktxt, engage = engage_title_link(music, artist) %> <%# defined in musics_helper.rb %>
          <%= linktxt %>
        </td>
<% if false %>
        <td><%= ar = artist.place.title_or_alt_ascendants(langcode: I18n.locale, prefer_alt: true);
                sprintf '%s %s(%s)', ar[1], ((ar[1] == Prefecture::UnknownPrefecture['ja'] || ar[0].blank?) ? '' : '— '+ar[0]+' '), ar[2] %></td>
<% else %>
        <td><%= artist.txt_place_pref_ctry(without_country_maybe: true) %></td>
<% end %>
        <td><%= sprintf '%s年%s月%s日', *(%i(birth_year birth_month birth_day).map{|m|
                  i = artist.send m; (i.blank? ? '——' : i.to_s)}) %></td>
        <td class="text-center"><%= artist.sex.title langcode: I18n.locale, lang_fallback: true %></td>
        <td><%= sanitized_html(auto_link50(artist.note)).html_safe %></td>
        <td><%= link_to t("tables.Show"), artist %></td>
        <% if can? :update, artist %>
          <td class="editor_only"><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <% end %>
        <td>ABC<%= sanitized_html(auto_link50(compile_engage_notes(artist, music))).html_safe %></td> <%# defined in musics_helper.rb %>
        <% if can? :update, artist %>
          <td class="editor_only text-center"><%= link_to 'Edit', edit_engage_multi_how_path(engage) %></td> <%# "engage" is set above %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Artist %>
  <p><span class=" editor_only">Add a <span class="lead"><%= link_to "new Artist-Engage", new_engage_path(music_id: music.id) %></span>.</span></p>
<% end %>

