<h3><%= t("show.h2_artist").pluralize(music.artists.count, I18n.locale) %><%= t("show.h2_for") %><%= t("Music") %>: <%= music.title_or_alt_tuple_str(langcode: I18n.locale, lang_fallback_option: :either, article_to_head: true) %> (<%= music.year ? l(Date.new(music.year), format: :year) : t('musics.show.year_unknown') %>)</h3>

<%# local variables: music %>

<table>
  <thead>
    <tr>
     <% if (can_edit=can?(:edit, Artist)) %>
      <th title="DB pID" class="editor_only cell_pid">pID</th>
     <% end %>
      <th title="'*' indicates the original name"><%= t("tables.title_name_ja") %></th>
      <th><%= t("tables.alt_title_name_ja") %></th>
      <th title="'*' indicates the original name"><%= t("tables.title_name_en") %></th>
      <th title="Engagement between Artist and Music" class="cell_engage_how">
      <% if can? :update, EngageHow %>
        <%= link_to t('engage_multi_hows.table_head.how_related'), engage_hows_url %>
      <% else %>
        <%= t('engage_multi_hows.table_head.how_related') %>
      <% end %>
      </th>
      <th title="Place" class="cell_place"><%= t("tables.place_country") %></th>
      <th title="Birthday of the artist (person or group)" class="cell_birthday"><%= t('artists.show.birthday').capitalize %></th>
      <th class="cell_sex"> <%= can?(:update, Sex) ? link_to(t(:Sex), sexes_url) : t(:Sex) %> </th>
      <th class="cell_note"><%= t("tables.note") %></th>
      <% if can_edit %>
        <th colspan="2" title="Show/Edit Artist" class="cell_action"><%= t(:Artist) %></th>
      <% else %>
        <th title="Show Artist" class="cell_action"><%= t(:Artist) %></th>
      <% end %>
      <th class="cell_note_engage_how"><%= t("tables.note") %> (<%= t("engage_multi_hows.table_head.how_related") %>)</th>
      <% if can_edit %>
        <th title="Edit (Show) Engagements between Artist and Music" class="editor_only cell_action cell_edit_engage">Engages</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% asterisk = (can_edit ? ('<span title="'+t('datagrid.footnote.is_original')+'">*</span>') : "").html_safe %>
    <% music.sorted_artists.uniq.each do |artist| %>
      <tr>
       <% if can_edit %>
        <td title="DB pID" class="number editor_only cell_pid"><%= link_to artist.id, artist %></td>
       <% end %>
       <%= render partial: "layouts/tbody_title_ja_alt_en", locals: {model: artist, can_update: can_edit} %>
        <td class="cell_engage_how">
          <% linktxt, engage = engage_title_link(music, artist) %> <%# defined in musics_helper.rb %>
          <%= linktxt %>
        </td>
        <td class="cell_place"><%= artist.txt_place_pref_ctry(without_country_maybe: true) %></td>
        <td class="cell_birthday"><%= sprintf '%s年%s月%s日', *(%i(birth_year birth_month birth_day).map{|m|
                  i = artist.send m; (i.blank? ? '——' : i.to_s)}) %></td>
        <td class="text-center cell_sex"><%= artist.sex.title langcode: I18n.locale, lang_fallback: true %></td>
        <td class="cell_note"><%= sanitized_html(auto_link50(artist.note)).html_safe %></td>
        <td class="cell_action_show"><%= link_to t("tables.Show"), artist %></td>
        <% if can? :update, artist %>
          <td class="editor_only cell_action"><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <% end %>
        <td class="cell_note_engage_how"><%= sanitized_html(auto_link50(compile_engage_notes(artist, music))).html_safe %></td> <%# defined in musics_helper.rb %>
        <% if can? :update, artist %>
          <td class="editor_only text-center cell_action cell_edit_engage"><%= link_to 'Edit', edit_engage_multi_how_path(engage) %></td> <%# "engage" is set above %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Artist %>
  <p><span class=" editor_only">Add a <span class="lead"><%= link_to "new Artist-Engage", new_engage_path(music_id: music.id) %></span>.</span></p>
<% end %>

