  <% if music.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(music.errors.count, "error") %> prohibited this music from being saved:</h2>

      <ul>
        <% music.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% if ! music.new_record? %>
<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: music, add_buttons: true} %>
<hr>

<h2>Unique parameters</h2>
<% end %>

<%= form_with(model: music, local: true) do |form| %>

  <% if music.new_record? %>
    <%= render partial: 'layouts/partial_new_translations', locals: {form: form, model: music, trans: Translation.new, disable_is_orig: true} %>
  <% end %>

  <div class="field" id="div_select_country">
    <%= form.label 'place.prefecture_id.country_id', t('Country')%>
    <% country = music.country %>
    <%= form.collection_select 'place.prefecture_id.country_id', @countries, :id, Proc.new{|i| i.title_or_alt(langcode: I18n.locale, prefer_alt: true)}, {include_blank: !country, selected: (country ? country.id : nil)} %>
  </div>

  <div class="field" id="div_select_prefecture">
    <%= form.label 'place.prefecture_id', t('Prefecture') %>
    <% prefecture = music.prefecture %>
    <%= form.grouped_collection_select 'place.prefecture_id', @countries, :prefectures, Proc.new{|i| i.title_or_alt(langcode: I18n.locale, prefer_alt: true)}, :id, Proc.new{|i| i.title_or_alt(langcode: I18n.locale, prefer_alt: true)}, {include_blank: true, selected: (prefecture ? prefecture.id : nil)} %>
  </div>

  <div class="field" id="div_select_place">
    <%= form.label :place_id, t('Place') %>
    <% place = music.place %>
    <%= form.grouped_collection_select 'place', @prefectures, :places, Proc.new{|pref| a=pref.title_or_alt_ascendants(langcode: I18n.locale, prefer_alt: true); a[0]+'/'+a[1]}, :id, Proc.new{|plac| plac.title_or_alt(langcode: I18n.locale, prefer_alt: true)}, {include_blank: true, selected: (place ? place.id : nil)} %>
  </div>

  <div class="field">
    <%= form.label :genre, t('Genre') %>
    <%= form.collection_select :genre_id, Genre.all.order(:weight), :id, Proc.new{|i| i.title(langcode: I18n.locale)}, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :year, t('Year_Title') %>
    <%= form.number_field :year, class: 'input_year' %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <% if music.new_record? %>
    <div class="register_assoc_artist">
    <h4><%= t('layouts.new_musics.assoc_artist_head') %></h4>
      <% if !@artist_name  %>
        <div class="new_artist_link"><p>(<%= t('layouts.new_musics.note_new_artist') %><%= link_to(t('layouts.new_musics.create_new_artist'), new_artist_path, target: "_blank") %>) </p></div>
      <% end%>
    <div class="register_assoc_artist_field">
    <div class="field">
      <% label_artist = sprintf '%s %s', t('layouts.new_musics.associated_artist_name'), (music.new_record? ? '' : 'to add ')%>
      <%= form.label 'artist_name', label_artist %>
      <% if @artist_name  %>
        <%= form.text_field 'artist_name', value: @artist_name, disabled: true %>
      <% else %>
        <%= form.text_field 'artist_name', placeholder: 'eg., "欅坂46", "Beatles, The", "The Beatles"' %>
        <%= content_tag :div, '', id: 'suggestions', data: {items: Artist.titles_for_form} %>
      <% end%>
    </div>

    <div class="field">
      <%= form.label :engage_hows, 'EngageHow('+t('layouts.new_musics.allow_multi')+'複数可)' %>
      <%= form.collection_select :engage_hows, EngageHow.all.order(:weight), :id, Proc.new{|i| i.title(langcode: I18n.locale)}, {include_blank: true}, {multiple: true} %>
    </div>

    <div class="field">
      <%= s_help = t('layouts.new_musics.year_engagement_hint'); form.label :year_engage, t('layouts.new_musics.year_engagement'), title: s_help %>
      <%= form.number_field :year_engage, class: 'input_year', title: s_help %>
    </div>

    <div class="field">
      <%= s_help = t('attr.contribution_hint'); form.label :contribution, t('attr.contribution')+'(0.0-1.0)', title: s_help %>
      <%= form.text_field :contribution, placeholder: s_help, class: 'input_float' %>
    </div>
    </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
  <div class="actions">
  <%= submit_tag("Reset (Start Over)", { :name => 'reset', :id => 'reset_button', :type => "reset" }) %>
  </div>
<% end %>
<% if can?(:destroy, music) || can?(:update, Musics::MergesController) %>
  <div class="actions-destroy" style="margin-right: 1em;">
   <div class="actions" style="text-align: right">
     <% if !music.new_record? && can?(:update, Musics::MergesController) %>
       <%= button_to 'Merge with another Music', musics_new_merge_users_path(music), method: :get, title: 'You will be asked to select Music to merge this one with.' %>
     <% end %>

     <% if !music.harami_vids.exists? && !music.harami1129s.exists? %>
       <%= button_to 'Destroy', music, method: :delete, data: { confirm: t('are_you_sure') } %>
     <% else %>
       <form class="button_to"><input disabled="disabled" type="submit" value="Destroy"></form>
       (Music has dependent HaramiVids and/or Harami1129s and so cannot be destroyed.)
     <% end %>
   </div>
  </div>
<% end %>

<p>
  <% if ! music.new_record? %>
    <%= link_to 'Show', music %> |
    <%= link_to 'Back to Index', musics_path %>
  <% end %>
</p>

<% if ! music.new_record? %>
  <hr>
  <%= render partial: 'artists_table', locals: {music: music, add_buttons: true} %>
  
  <hr>
  <%= render partial: 'harami_vids_table', locals: {music: music, add_buttons: true} %>

  <% if can? :read, Harami1129 %>
  <hr>
  <%= render partial: 'harami1129s_table', locals: {music: music} %>
  <% end %>
<% end %>

<%# javascript_pack_tag 'dropdown_music' %>
<%# javascript_pack_tag 'autocomplete_music_artist' %>

