<%# taking variables: model and is_to_edit (true for "edit" and false for "show") %>

<% model_name = model.class.name %>
<% if !is_to_edit && can?(:update, model) %>
  <div class="link-edit-destroy">
    <%= link_to 'Edit', edit_music_path(model) %> <%# -------- show only %>
<% end %>
<% if !model.new_record? && (can?(:destroy, model) || can?(:update, model) && can?(:update, Musics::MergesController)) %>
  <% if is_to_edit && can?(:update, model) %>
  <div class="actions-destroy" style="margin-right: 1em;">
   <div class="actions" style="text-align: right">
  <% end %>
     <% if can?(:update, model) && can?(:update, Musics::MergesController) %>
       <% if is_to_edit  %>
       <%= button_to "Merge with another #{model_name}", musics_new_merge_users_path(model), method: :get, title: "You will be asked to select #{model_name} to merge this one with." %>
       <% else %>
  &nbsp;&nbsp; / <%= link_to "Merge with another #{model_name}", musics_new_merge_users_path(model) %>
       <% end %>
     <% end %>

     <% if can?(:destroy, model) && !model.harami_vids.exists? && !model.harami1129s.exists? %>
      <% msg2confirm = (t('are_you_sure')+" "+t("are_you_sure.merge")).html_safe %>
      <% if is_to_edit %>
       <%= button_to 'Destroy', model, method: :delete, data: { confirm: msg2confirm } %>
      <% else %>
  &nbsp;&nbsp; / <%= link_to 'Destroy', model, method: :delete, data: { confirm: msg2confirm } %>
      <% end %>
     <% else %>
      <% if is_to_edit %> <%# ----- In "show", nothing related to "Destroy" is shown. %>
       <form class="button_to"><input disabled="disabled" type="submit" value="Destroy"></form>
       (<%= model_name %> has dependent HaramiVids and/or Harami1129s and so cannot be destroyed.)
      <% end %>
     <% end %>
  <% if is_to_edit && can?(:update, model) %>
   </div>
  <% end %>
  </div>
<% end %>

<% if is_to_edit && ! model.new_record? %>
  <p>
    <%= link_to 'Show', model %> |
    <%= link_to 'Back to Index', musics_path %>
  </p>
<% else %>
<br>
<%= link_to 'Back to Index', musics_path %>
<% end %>


