<p id="notice"><%= notice %></p>

<h1>Musics <%= @artist_title ? "to newly associate with Artist "+@artist_title : '' %></h1>
<% artist_id = (@artist ? @artist.id : nil) %>

<% if false %>
<% n_entries = 0 %>
<table>
  <thead>
    <tr>
      <%= @artist ? "<th>Engage</th>".html_safe : '' %>
      <th>和名</th>
      <th>[フリガナ/ローマ字]</th>
      <th>別名</th>
      <th>英語名</th>
      <th>Year</th>
      <th>
      <% if can? :read, Genre %>
        <%= link_to 'Genre', genres_url %>
      <% else %>
        Genre
      <% end %>
      </th>
      <th>
      <% if can? :read, Place %>
        <%= link_to 'Place', places_url %>
      <% else %>
        Place
      <% end %>
      </th>
      <th><%= link_to 'Artists', artists_url %></th>
      <th>HaramiVids</th>
      <th>Note</th>
      <% if can? :update, Music %>
        <th colspan="3"></th>
      <% else %>
        <th></th>
      <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% unknown_music = Music.unknown %>
    <% @musics.each do |music| %>
      <% next if music == unknown_music && (!current_user || !current_user.moderator?) %>
      <% n_entries += 1 %>
      <tr>
        <% if @artist_music_ids %>
          <td>
            <% music_id = music.id %>
            <% label_str = (@artist_music_ids.include?(music_id) ? 'Add' : 'Create') %>
            <%= button_to label_str, engage_multi_hows_path, method: :get, params: { a_token: nil, music_id: music_id, artist_id: artist_id} %>
          </td>
        <% end %>
        <td><%= (music.title langcode: 'ja') || '' %></td>
        <td><%= sprintf '[%s/%s]', *(%i(ruby romaji).map{|i| music.send(i, langcode: 'ja') || ''}) %></td>
        <td><%= sprintf '%s [%s/%s]', *(%i(alt_title alt_ruby alt_romaji).map{|i| music.send(i, langcode: 'ja') || ''}) %></td>
        <td><%= sprintf '%s [%s]', *(%i(title alt_title).map{|i| music.send(i, langcode: 'en') || ''}) %></td>
        <td><%= music.year %></td>
        <td><%= music.genre.title_or_alt(langcode: 'ja') %></td>
        <td><%= ar = music.place.title_or_alt_ascendants(langcode: 'ja', prefer_alt: true);
                sprintf '%s %s(%s)', ar[1], ((ar[1] == Prefecture::UnknownPrefecture['ja'] || ar[0].blank?) ? '' : '— '+ar[0]+' '), ar[2] %></td>
        <td><%= music.engages.joins(:engage_how).order('engage_hows.weight').pluck(:artist_id).uniq.map{|i| art = Artist.find(i); sprintf '%s [%s]', link_to(art.title_or_alt, art), h(art.engage_how_titles(music).join(', '))}.join(', ').html_safe %></td>
        <td><%= music.harami_vids.count.to_s+'回' %></td>
        <td><%= music.note %></td>
        <td><%= link_to 'Show', music %></td>
        <% if can? :update, music  %>
          <td><%= link_to 'Edit', edit_music_path(music) %></td>
        <% end %>
        <% if can? :destroy, music %>
          <td><%= link_to 'Destroy', music, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <%= "<td>(Moderator only)</td>".html_safe if music == unknown_music %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= datagrid_form_for @grid, :method => :get, :url => musics_path %>

<%= paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= paginate(@grid.assets) %>

<p>
  Total number of entries of Musics (without filters): <%= Music.count + ((current_user && current_user.moderator?) ? 1 : 0) %>
</p>

<% if can? :create, Music %>
  <% if @artist_title %>
    <%= link_to 'Create a new music associated with '+@artist_title, new_music_path(music: {artist_id: artist_id}) %> <%# button_to does not work with a GET parameter... %>
  <% else %>
    <%= button_to 'Create New Music', new_music_path, method: :get %>
  <% end %>
<% end %>

