<p id="notice"><%= notice %></p>

<h1><%= t("Music").pluralize(8, I18n.locale) %> <%= @artist_title ? "to newly associate with Artist "+@artist_title : '' %></h1>
<% artist_id = (@artist ? @artist.id : nil) %>

<%= datagrid_form_for @grid, :method => :get, :url => musics_path %>

<%= paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= paginate(@grid.assets) %>

<p>
  <%= ApplicationController.str_info_entry_page_numbers(@grid, Music) %>
</p>
<% if current_user && current_user.editor? %>
  <p>[*] <%= t("datagrid.footnote.is_original", default: "Original language.") %>
    <%= "(editor-only footnote)" if current_user.an_admin? %>
  </p>
<% end %>

<% if can? :create, Music %>
  <% if @artist_title %>
    <%= link_to 'Create a new music associated with '+@artist_title, new_music_path(music: {artist_id: artist_id}) %> <%# button_to does not work with a GET parameter... %>
  <% else %>
    <%= button_to 'Create New Music', new_music_path, method: :get %>
  <% end %>
<% end %>

