<div id="<%= dom_id instrument %>">
<dl>
  <% if can? :update, instrument %>
    <dt>ID (Instrument)</dt>
    <dd> <%= @instrument.id %></dd>
  <% end %>
  <dt><strong>Weight:</strong></dt>
    <dd><%= instrument.weight %></dd>
  <dt>note</dt>
    <dd><%= instrument.note %></dd>
  <% if can? :update, instrument %>
  <dt>updated_at</dt>
    <dd><%= instrument.updated_at %></dd>
  <% end %>
</dl>

  <p>
    <strong>Weight:</strong>
    <%= instrument.weight %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= instrument.note %>
  </p>

</div>
