
<h1>Instrument: <%= @instrument.title_or_alt(langcode: I18n.locale) %></h1>

<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: @instrument} %>
<hr>

<%= render @instrument %>

<div>
    <% if can? :update, @instrument %>
  <%= link_to "Edit this Instrument", edit_instrument_path(@instrument) %> |
    <% end %>

    <% if can?(:destroy, @instrument) %>
  <%= button_to "Destroy", @instrument, method: :delete %>
    <% end %>
</div>

<hr>
  <%= link_to t("layouts.back_to_index"), instruments_path %>
