
<h1>Instrument: <%= @instrument.title_or_alt(langcode: I18n.locale) %></h1>

<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: @instrument} %>
<hr>

<%= render @instrument %>

<%= render partial: 'layouts/show_edit_destroy', locals: {model: @instrument, destroyable: !@instrument.unknown?} %>

<hr>
  <%= link_to t("layouts.back_to_index"), instruments_path %>
