<div id="<%= dom_id event_item %>">
  <% canedit = can?(:edit, event_item) %>
<dl>
  <% if canedit %>
    <dt>pID (EventItem)</dt>
    <dd> <%= @event_item.id %></dd>
  <% end %>

  <dt><strong>Machine title:</strong></dt>
    <dd><%= event_item.machine_title %></dd>
  <dt><strong><%= t("events.parent_event") %>:</strong></dt>
    <dd><%= link_to event_item.event.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either, article_to_head: true), event_url(event_item.event) %> &lt; EventGroup(<%= link_to event_item.event.event_group.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either, article_to_head: true), event_item.event.event_group %>)</dd>
    <dd><strong># of EventItems of the Event</strong>: <%= @event_item.siblings.count+1 %>
      (including this<%= " and Unknown" if @event_item.siblings.include?(@event_item.unknown_sibling) %>) </dd>
    <% if canedit && @event_item.harami_vids.uniq.size == 1 %>
      <span class="editor_only associate_to_new_event">
        <dd> <%= link_to 'Associate to a new Event', event_items_resettle_new_event_url(@event_item), method: :patch, data: { confirm: t('are_you_sure') }, title: 'Creating a new Event and associating this EventItem to it.', class: "button_like" %>
          </dd>
      </span>
    <% end %>

  <dt class="item_place"> <%= t("tables.place_country") %>:</dt>
    <dd class="item_place"><%= event_item.place ? show_pref_place_country(event_item.place) : "" %></dd>  <%# defined in places_helper.rb %>

  <dt><strong>Start time [in <%= Rails.configuration.music_i18n_def_timezone_str %>] (± days/hrs/mins):</strong></dt>
    <dd><%= event_item.string_time_err2uptomin %> (± <%= time_in_units(event_item.start_time_err, for_editor: can?(:edit, event_item)) %>) <span class="moderator_only">[Raw-value=<%= event_item.start_time %>]</span></dd> <%# in module_common.rb %>
  <dt><strong><%= t("events.Duration") %> [<%= t(:minute) %>] (± <%= t(:minutes_short) %>):</strong></dt>
    <% err = event_item.duration_err_with_unit %>
    <dd><%= event_item.duration_minute %> <span class="moderator_only"> [=Raw-value] </span>(± <%= err ? err.in_minutes : "&mdash;".html_safe %> [<%= t(:minutes_short) %>]<span class="moderator_only"> /Raw-value=<%= event_item.duration_minute_err %></span>) </dd>
  <dt><strong><%= t("tables.publish_date", default: "Published on YYYY-MM-DD") %>:</strong></dt>
    <% da = event_item.publish_date %>
    <% end_str = (canedit ? nil : "&mdash;".html_safe) %>
    <dd><%= strdate = (da ? date2text(da, lower_end_str: end_str, upper_end_str: end_str) : (canedit ? date2text(nil, nil, nil) : "&mdash;".html_safe)) %></dd> <%# defined in ModuleCommon %>

  <dt><strong>Weight:</strong></dt>
    <dd><%= event_item.weight %></dd>
  <dt><strong># of  Musics / playing-Artists<%= " / ArtistMusicPlay-associations" if canedit %>:</strong></dt>
    <dd><%= event_item.musics.distinct.count %> / <%= event_item.artists.distinct.count %>
      <% if canedit %>
        / <%= event_item.artist_music_plays.distinct.count %>
      <% end %>
    </dd>
  <dt><strong># of HaramiVids<%= " / (directly-related) Harami1129s" if canedit %>:</strong></dt>
    <dd><%= event_item.harami_vids.distinct.count %>
      <% if can? :index, Harami1129 %>
        / <%= event_item.harami1129s.distinct.count %>
      <% end %>
    </dd>
  <dt><%= t("tables.note").capitalize %>:</dt>
    <dd><%= auto_link(event_item.note) %></dd>
  <% if canedit %>
  <dt>updated_at:</dt>
    <dd><%= event_item.updated_at %></dd>
  <% end %>
</dl>

</div>
