<div id="<%= dom_id event_item %>">
  <p>
    <strong>Machine title:</strong>
    <%= event_item.machine_title %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= event_item.start_time %>
  </p>

  <p>
    <strong>Start time err:</strong>
    <%= event_item.start_time_err %>
  </p>

  <p>
    <strong>Duration minute:</strong>
    <%= event_item.duration_minute %>
  </p>

  <p>
    <strong>Duration minute err:</strong>
    <%= event_item.duration_minute_err %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= event_item.weight %>
  </p>

  <p>
    <strong>Event ratio:</strong>
    <%= event_item.event_ratio %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= event_item.event_id %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= event_item.place_id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= event_item.note %>
  </p>

</div>
