
<h1>Event Items</h1>

<% if true %>
<%= datagrid_form_with model: @grid, url: event_items_path %>

<%= paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= paginate(@grid.assets) %>

<%= render "layouts/grid_table_tail", klass: EventItem %>

<% else %>
<%= render partial: 'layouts/event_items_index', locals: {event_items: @event_items, with_event: true} %>
<% end %>

<br>

<% if can? :create, EventItem %>
  <%= button_to 'New EventItem', new_event_item_path, method: :get %>
<% end %>
<% if can? :index, Event %>
  <%= link_to "Event index", events_path %>
<% end %>

