<h1>EventItem: <%= @event_item.machine_title.sub(/\s*_<_[^<]*$/, "").sub(%r@_in_\S+\s*\(\S+/\S+\)\s*$@, "").tr("-_", " -") %> <%= h1_note_editor_only(@event_item, method: :show) %></h1>

<%= render @event_item %>

<% hint_match_parent = hint_for_data_to_be_imported(@event_item) %> <%# defined in event_items_helper.rb %>
<% if hint_match_parent.present? %>
  <%= editor_only_safe_html(@event_item, method: :edit) do %> <%# defined in application_helper.rb %>
    <%= button_to "Match parent", event_items_match_parent_path, form_class: "button_to inline_form", method: :patch %>
    (<%= hint_match_parent %>)
  <% end %>
<% end %>

<%= render partial: 'layouts/link_edit_destroy_index', locals: {record: @event_item, is_to_edit: false, only: :editor} %> <%# dependent HaramiVids and/or Harami1129s %>

<hr>

<section id=event_item_harami_vid_index_table">
<h2><%= t("event_items.Playing_artists_for_this") %></h2>

<%= render partial: "layouts/artist_music_plays", locals: {artist_music_plays: @event_item.artist_music_plays} %>

  <div class="editor_only small">
    <% if @event_item.artist_music_plays.exists? %>
      To add a new type of collaboration/playing-style for a listed Artist and Music, click "<var>Edit</var>".<br>
      To add a new (but listed) Music for a listed Artist, click "<var>Edit</var>" and find the link below a table below the main-form table.<br>
    <% end %>
    To add a new (collab) Artist, edit <em>HaramiVid</em> listed in the table below. Note that when you add a new collaboration in <em>HaramiVid</em>, it is automatically added as a <em>Music</em> in <em>HaramiVid</em>, which you can later remove if in appropriate).
  </div>
</section>

<hr>

<section id=event_item_harami_vid_index_table">
<h2>HaramiVids<%= t("show.h2_for") %><%= t("adjective.this") %><%= t("EventItem") %></h2>

<%= render partial: 'layouts/harami_vids_index', locals: {harami_vids: @event_item.harami_vids.distinct, sort_asc: true} %>

</section>

<% if can? :read, Harami1129 %>
  <hr>
  <section id="sec_harami1129s_for">
    <h2>Harami1129s<%= t("show.h2_for") %><%= t("adjective.this") %><%= t("EventItem") %></h2>
    <%= render partial: 'layouts/harami1129s_table', locals: {harami1129s: @event_item.harami1129s} %>
  </section> <!-- section id="sec_harami1129s_for" -->
<% end %>

<hr>

<section id=event_item_sibling_event_items">
  <% event_tit = ((evt=@event_item.event) ? evt.title_or_alt(prefer_shorter: true, langcode: I18n.locale, lang_fallback_option: :either) : "") %> <%# should never be nil (DB constraint), but playing safe %>
  <h2>Sibling EventItems<%= t("show.h2_for") %><%= t("adjective.this") %><%= t("Event") %>: <%= event_tit %></h2>
  <%= render partial: "layouts/event_items_index", locals: {event_items: @event_item.event.event_items, this_event_item: @event_item} %>
</section>

