
<%= render partial: 'layouts/form_print_errors', locals: {model: place} %>

<% if ! place.new_record? %>

<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: place, add_buttons: true} %>
<hr>

<h2>Unique parameters</h2>
<% end %>

<div id="form_main">
<% if false %> <%# ################################################# %>
<%= form_with(model: place, local: true) do |form| %>

  <% if place.new_record? %>
    <%= render partial: 'layouts/partial_new_translations', locals: {form: form, model: place, trans: Translation.new, disable_is_orig: true} %>
  <% end %>

  <div class="field" id="<%= ApplicationController::HTML_KEYS[:ids][:div_sel_country] %>">
    <%= form.label 'prefecture.country_id', t('Country')%>
    <% country_id = (@country ? @country.id : (place.country ? place.country.id : Country.unknown.id) ) %>
    <%= form.collection_select 'prefecture.country_id', @countries, :id, Proc.new{|i| i.title_or_alt(langcode: I18n.locale, prefer_alt: true, str_fallback: "NONE")}, {include_blank: false,  selected: country_id } %> <%# If no translation exists and left empty (instead of "NONE"), it would violate the HTML spec: Element “option” without attribute “label” must not be empty. %>
  </div>

  <div class="field" id="<%= ApplicationController::HTML_KEYS[:ids][:div_sel_prefecture] %>">
    <%= form.label :prefecture_id, t('Prefecture') %>
    <%= form.grouped_collection_select 'prefecture', @countries, :prefectures, Proc.new{|i| i.title_or_alt(langcode: I18n.locale, prefer_alt: true)}, :id, Proc.new{|i| i.title_or_alt(langcode: I18n.locale, prefer_alt: true, str_fallback: "NONE")}, {include_blank: true, selected: (place.prefecture ? place.prefecture_id : false)} %>
  </div>
  
  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <% %i(prev_model_name prev_model_id).each do |metho| %>
    <% if place.send(metho) %>
      <%= hidden_field(:place, metho) %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
  <div class="actions">
  <%= submit_tag("Reset (Start Over)", { :name => 'reset', :id => 'reset_button', :type => "reset" }) %>
  </div>
<% end %>
<% else %> <%# ################################################# %>

<%= simple_form_for place do |f| %>
 <section id="sec_primary_input">
  <% if place.new_record? %>
    <%= render partial: 'layouts/partial_new_translations', locals: {form: f, model: place, trans: Translation.new, disable_is_orig: true, is_simple_form: true} %>
  <% end %>

  <div class="field" id="<%= ApplicationController::HTML_KEYS[:ids][:div_sel_country] %>"> <%# div_select_country %>
   <%= f.input 'prefecture.country_id', label: t('Country') do %>
    <% country_id = (@country ? @country.id : (place.country ? place.country.id : Country.unknown.id) ) %>
    <%= f.collection_select 'prefecture.country_id', @countries, :id, Proc.new{|i| i.title_or_alt(langcode: I18n.locale, prefer_alt: true, str_fallback: "NONE")}, {include_blank: false,  selected: country_id } %> <%# If no translation exists and left empty (instead of "NONE"), it would violate the HTML spec: Element “option” without attribute “label” must not be empty. %>
   <% end %>
  </div>

  <div class="field" id="<%= ApplicationController::HTML_KEYS[:ids][:div_sel_prefecture] %>">
   <%= f.input :prefecture_id, label: t('Prefecture') do %>
    <%= f.grouped_collection_select 'prefecture', @countries, :prefectures, Proc.new{|i| i.title_or_alt(langcode: I18n.locale, prefer_alt: true)}, :id, Proc.new{|i| i.title_or_alt(langcode: I18n.locale, prefer_alt: true, str_fallback: "NONE")}, {include_blank: true, selected: (place.prefecture ? place.prefecture_id : false)} %>
   <% end %>
  </div>

  <%= render partial: 'layouts/form_wiki_url', locals: {form: f, record: place} %>
  <%= render partial: 'layouts/form_note_memo_editor', locals: {form: f, model4ability: Place, skip_ability_check: true} %>

  <%# The following is used if a Prefecture is specified in GET for new. %>
  <% %i(prev_model_name prev_model_id).each do |metho| %>
    <% if place.send(metho) %>
      <%= hidden_field(:place, metho) %>
    <% end %>
  <% end %>

  <%= f.submit %>
  <div class="actions">
  <%= submit_tag(t("layouts.reset_button"), { :name => 'reset', :id => 'reset_button', :type => "reset" }) %>
  </div>
 </section> <!-- section id="sec_primary_input" -->
<% end %>

<% end %> <%# ################################################# %>
</div>

<% if ! place.new_record? && can?(:destroy, place) %>
  <div class="actions-destroy" style="margin-right: 1em;">
   <div class="actions" style="text-align: right">
     <% if ! place.has_descendants? %>
       <%= button_to 'Destroy', place, method: :delete, data: { confirm: t('are_you_sure') } %>
     <% else %>
       <form class="button_to"><input disabled="disabled" type="submit" value="Destroy"></form>
       (Place has descendants and so cannot be destroyed.)
     <% end %>
   </div>
  </div>
<% end %>

<p>
  <% if ! place.new_record? %>
    <%= link_to 'Show', place %> |
  <% end %>
  <%= link_to 'Back to Index', places_path %>
</p>

<%# javascript_pack_tag 'dropdown_place' %>

