<p id="notice"><%= notice %></p>

<h1>Places</h1>

<table>
  <thead>
    <tr>
      <% if current_user && current_user.moderator? %>
        <th>ID</th>
      <% end %>
      <th>和名</th>
      <th>[フリガナ/ローマ字]</th>
      <th>別名</th>
      <th>英語名</th>
      <th>Prefecture</th>
      <th>Country</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <% if current_user && current_user.moderator? %>
          <td><%= place.id %></td>
        <% end %>
        <td><%= (place.title langcode: 'ja') || '' %></td>
        <td><%= sprintf '[%s/%s]', *(%i(ruby romaji).map{|i| place.send(i, langcode: 'ja') || ''}) %></td>
        <td><%= sprintf '%s [%s/%s]', *(%i(alt_title alt_ruby alt_romaji).map{|i| place.send(i, langcode: 'ja') || ''}) %></td>
        <td><%= sprintf '%s [%s]', *(%i(title alt_title).map{|i| place.send(i, langcode: 'en') || ''}) %></td>
        <td><%= link_to place.prefecture.title_or_alt, prefecture_path(place.prefecture_id) %></td>
        <td><%= link_to place.country.title_or_alt, country_path(place.country) %></td>
        <td><%= place.note %></td>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_place_path %>
