<p id="notice"><%= notice %></p>

<h1>Places</h1>

<% if true %>
<%= datagrid_form_with model: @grid, url: places_path %>

<%= paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= paginate(@grid.assets) %>

<%= render "layouts/grid_table_tail", klass: Place %>

<% else %>
<table class="table_index_main">
  <thead>
    <tr>
      <% if current_user && current_user.moderator? %>
        <th>ID</th>
      <% end %>
      <th>和名</th>
      <th>[フリガナ/ローマ字]</th>
      <th>別名[読み]</th>
      <th>英語名[別名]</th>
      <th>Prefecture</th>
      <th>Country</th>
      <th title="<%= t("tables.n_harami_vids_long") %>"><%= t("tables.n_harami_vids_short") %></th>
      <th title="<%= t("tables.n_artists_long") %>"><%= t("tables.n_artists_short") %></th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <% if current_user && current_user.moderator? %>
          <td><%= place.id %></td>
        <% end %>
        <td class="title_ja"><%= place.title(langcode: 'ja', lang_fallback: false, str_fallback: "") %></td>
        <td><%= cell_ruby_romaji(place) %></td>              <%# defined in translations_helper.rb %>
        <td><%= cell_alt_all(place) %></td>                  <%# defined in translations_helper.rb %>
        <td class="title_en"><%= cell_tit_alt(place) %></td> <%# defined in translations_helper.rb %>
        <td><%= link_to place.prefecture.title_or_alt(prefer_alt: true, langcode: I18n.locale, lang_fallback_option: :either), prefecture_path(place.prefecture_id) %></td>
        <td><%= link_to place.country.title_or_alt(prefer_alt: true, langcode: I18n.locale, lang_fallback_option: :either), country_path(place.country) %></td>
        <td class="text-end"><%= place.harami_vids.count %></td>
        <td class="text-end"><%= place.artists.count %></td>
        <td><%= auto_link50(place.note) %></td>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><% if place.has_children? %>
          <span class="text_thinner1"><%= 'Destroy' %></span>
          <% elsif place.unknown? %>
          <span class="text_thinner2"><%= 'Destroy' %></span>
          <% else %>
          <%= link_to 'Destroy', place, method: :delete, data: { confirm: t('are_you_sure') } %>
          <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<% if can? :create, Place %>
  <div id="button_create_new_place">
  <%= button_to 'Create new Place', new_place_path, method: :get %>
  </div>
<% end %>

<% if can? :index, Prefecture %>
  <%= link_to t(:Prefecture)+" "+t(:index), prefectures_path %>
<% end %>

