
<% country_name = @place.country.title_or_alt %>
<% prefecture_name = @place.prefecture.title_or_alt %>
<h1>Place: <%= @place.title_or_alt %> (&lt; <%= prefecture_name %> &lt; <%= country_name %>)</h1>

<hr>
<%= render partial: 'layouts/all_registered_translations', locals: {model: @place, add_buttons: true} %>
<hr>

<dl>
  <% if current_user && current_user.moderator? %>
    <div class="editor_only">
      <dt>pID (Place)</dt>
      <dd> <%= @place.id %></dd>
    </div>
  <% end %>
  <dt><%= t(:Country) %>:</dt>
  <dd><%= link_to country_name, country_path(@place.country) %></dd>
  <dt><%= t(:Prefecture) %>:</dt>
  <dd><%= link_to prefecture_name, prefecture_path(@place.prefecture_id) %></dd>
  <dt><%= t("tables.n_harami_vids_long") %>:</dt>
  <dd><%= @place.harami_vids.count %></dd>
  <dt><%= t("tables.note").capitalize %></dt>
  <dd><%= sanitized_html(auto_link(@place.note)).html_safe %></dd>
  <% if (canedit_place=can?(:edit, Place)) %>
    <div class="editor_only">
      <dt>updated_at</dt>
      <dd><%= @place.updated_at %></dd>
    </div>
  <% end %>
</dl>

<%= link_to 'Back to Index', places_path %>
<% if can? :edit, @place %>
  <br>
  <span class="lead editor_only">
  <%= link_to 'Edit', edit_place_path(@place) %>
  </span>
<% end %>
<% if can? :create, Place %>
<p class="lead editor_only">
  <%= link_to(sprintf('Create another Place in the same Prefecture "%s"', @place.prefecture.title_or_alt), new_place_path(place: {prefecture_id: @place.prefecture_id})) if @place.prefecture_id %>
</p>
<% end %>

<hr>

<h2><%= t(:Artists) %> (<%= @place.title_or_alt(prefer_shorter: true, lang_fallback_option: :either, str_fallback: "") %>)</h2>

  <%= render partial: 'layouts/artists_table', locals: {artists: @place.artists} %>

<hr>

<h3><%= t(:Musics) %> (<%= @place.title_or_alt(prefer_shorter: true, lang_fallback_option: :either, str_fallback: "") %>)</h3>

<table>
  <thead>
    <tr>
      <th>曲名</th>
      <th>英語名</th>
      <th>Year</th>
      <th>Genre</th>
      <th><%= t(:Artist) %></th>
      <th><%= t("tables.n_harami_vids_short") %></th>
      <th><%= t("tables.note").capitalize %></th>
      <% if can? :edit, Music %>
        <th colspan="2" title="Show/Edit Artist">Action</th>
      <% else %>
        <th title="Show Artist">Action</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @place.musics.uniq.each do |music| %>
      <tr>
        <td><%= music.title_or_alt(prefer_shorter: true, langcode: I18n.locale, lang_fallback_option: :either, str_fallback: "", article_to_head: true) %></td>
        <td><%= sprintf '%s [%s]', *(%i(title alt_title).map{|i| music.send(i, langcode: 'en') || ''}) %></td>
        <td><%= music.year %></td>
        <td><%= music.genre.title_or_alt(prefer_shorter: true, langcode: I18n.locale, lang_fallback_option: :either, str_fallback: "", article_to_head: true) %></td>
        <td><%= music.engages.joins(:engage_how).order('engage_hows.weight').pluck(:artist_id).uniq.map{|i| art = Artist.find(i); sprintf '%s [%s]', link_to(art.title_or_alt(prefer_shorter: true, langcode: I18n.locale, lang_fallback_option: :either, str_fallback: "", article_to_head: true), art), h(art.engage_how_titles(music).join(', '))}.join(', ').html_safe %></td>
        <td><%= music.harami_vids.count.to_s+'回' %></td>
        <td><%= auto_link50(music.note) %></td>
        <td><%= link_to 'Show', music %></td>
        <% if can? :update, music %>
          <td><%= link_to 'Edit', edit_music_path(music) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if false %>
  <% if can? :create, Music %>
    <% if defined?(add_buttons) && add_buttons %>
      <tr><td colspan="7">
      <%= button_to 'Music追加', musics_path, method: :get, params: { a_token: nil, place_id: @place.id } %>
      </td></tr>
    <% end %>
  <% end %>
<% end %>

<% if can? :index, Event %>
  <hr>

  <section id="event_table">
  <h3 title="Events one of EventItems of which is held at this Place"><%= t(:Events) %> (<%= @place.title_or_alt(prefer_shorter: true, lang_fallback_option: :either, str_fallback: "") %>)</h3>
  
  <%= render partial: 'layouts/events_index', locals: {events: @place.events_thru_event_items.distinct, with_place: false} %> <%# ordered in the partial %>
  </section>
<% end %>

<hr>

<section id="harami_vid_table">
<h3><%= t("show.h2_harami_vid") %> (<%= @place.title_or_alt(prefer_shorter: true, lang_fallback_option: :either, str_fallback: "") %>)</h3>

  <% harami_vids_without_events = @place.harami_vids.left_joins(:harami_vid_event_item_assocs).where("harami_vid_event_item_assocs.event_item_id IS NULL") %>  <%# HaramiVids at the Place with no associated EventItems %>
  <% events = Event.where(id: @place.harami_vids.joins(:events).distinct.select("events.id AS evt_id").map(&:evt_id)) %>
  <% n_harami_vids = harami_vids_without_events.size + events.size %>

  <%= render partial: "layouts/events_harami_vids_index", locals: {events: events, with_place_public: false, max_rows: (canedit_place ? nil : 100), n_harami_vids: n_harami_vids, harami_vids_without_events: harami_vids_without_events } %>  <%# Some EventGroups have too many HaramiVid-s, so they are trimeed for non-Editors. %>

</section>

