<h2><%= t("layouts.all_registered") %><%= t("layouts."+(defined?(myself) ? 'translations' : 'translated_names')) %></h2>

<table id="all_registered_translations_<%= get_modelname(model) %>">
  <% allcolspan = 6
     allcolspan += (can?(:index, Translation) ? 1 : 0)
     action_colspan = (can?(:show, Translation)  ? 2 : 0)
     allcolspan += action_colspan
     increment1 =  (can?(:crud, Translation)  ? 1 : 0)  # showing a weight column

     hsflag = {
       demotable:  can?(:update, Translations::DemotesController),
       promotable: can?(:update, Translations::PromotesController),
     }
     
     increment2 = (hsflag[:demotable] ? 1 : 0) + (hsflag[:promotable] ? 1 : 0)
     allcolspan     += increment1 +  increment2
     action_colspan +=               increment2
   %>
  <thead>
    <tr>
      <th></th>
      <th>Orig?</th>
      <th>Title</th>
      <th>[Ruby|Romaji]</th>
      <th>Alt title</th>
      <th>[Ruby/Romaji]</th>
      <% if can? :index, Translation %>
        <th>You?</th>
      <% end %>
      <% if can? :show, Translation %>
        <% if can? :crud, Translation %>
          <th>Weight</th>
        <% end %>
        <th colspan="<%= action_colspan %>">Action</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% tra1 = model.translations.first %>
  <% (%w(ja en)+model.translations.pluck(:langcode)).uniq.each do |lcode| %>
    <% add_tra_button = defined?(add_buttons) && add_buttons if add_tra_button.nil? %>
    <% alltra = model.translations_with_lang(langcode: lcode) %>
    <% next if !%w(ja en).include?(lcode) && alltra.empty? %>
    <tr><th colspan="<%= allcolspan %>" class="middle_row"><%= BaseWithTranslation::LANGUAGE_TITLES[lcode.to_sym][lcode] || lcode %>
      <% if add_tra_button && (tra1 && tra1.creatable_other?(user: current_user, langcode: lcode) || (!tra1 && can?(:destroy, Translation))) %>
        <%= button_to t('layouts.add_translation'), new_translation_path, form_class: "inline_form button_to", method: :get, params: { a_token: nil, langcode: lcode, translatable_type: model.class.name, translatable_id: model.id } %>
      <% end %>
      </th></tr>
    <% alltra.each_with_index do |tra, i| %>
    <tr class="trans_row lc_<%= lcode %>">
      <td><%= i+1 %></td>
      <td class="trans_is_orig"><%= tra.is_orig_str %></td>
      <td class="trans_title"><%= tra.title %></td>
      <td class="trans_ruby_romaji">[<%= (tra.ruby || '') + ' | ' + (tra.romaji || '') %>]</td>
      <td class="trans_alt_title"><%= tra.alt_title %></td>
      <td class="trans_alt_ruby_romaji">[<%= (tra.alt_ruby || '') +  ' | ' + (tra.alt_romaji || '') %>]</td>
      <% if can?(:index, Translation) %>
        <td class="align-c trans_you"><%= [tra.create_user_id, tra.update_user_id].include?(current_user.id) ? "Yes" : "" %></td>
      <% end %>
      <% if can? :crud, Translation %>
        <td class="align-r trans_weight"><%= tra.weight%></td>
      <% end %>
      <% if defined?(myself) && tra == myself %>
        <td colspan="2" class="align-c trans_action" style="<%= (hsflag[:demotable] || hsflag[:promotable]) ? 'border-right-style: none;' : ''  %>"><strong>SELF</strong></td>  <%# Called from Translation-Edit %>
      <% else %>
        <% if can? :show, tra %>
          <td class="trans_action trans_show" style="border-right-style: none;"><%= link_to 'Show', tra %></td>
        <% end %>
        <td class="trans_action trans_edit" style="border-left-style: none;<%= (hsflag[:demotable] || hsflag[:promotable]) ? 'border-right-style: none;' : ''  %>">
        <% if tra.editable?(user: current_user) %>
          / <%= link_to 'Edit', edit_translation_path(tra) %>
        <% end %>
        </td>
      <% end %>
      <% if can?(:update, Translations::DemotesController) %>
        <td class="trans_action trans_demote" style="border-left-style: none;<%= hsflag[:promotable] ? 'border-right-style: none;' : ''  %>">
          <% if Translations::DemotesController.allowed?(tra) %>
            <%  strlink = "Demote↓" %>
             / <%= link_to strlink, translations_update_demotes_path(tra) %>
          <% end %>
        </td>
      <% end %>
      <% if can?(:update, Translations::PromotesController) %>
        <td class="trans_action trans_promote" style="border-left-style: none;">
          <% if Translations::PromotesController.allowed?(tra) %>
            <%  strlink = (tra.is_orig ? '<span title="Weight should be zero because this is the original. Please promote it.">Promote↑</span>'.html_safe : "Promote↑") %>
            / <%= link_to strlink, translations_update_promotes_path(tra) %>
          <% end %>
        </td>
      <% end %>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

