<h2>All registered <%= defined?(myself) ? 'translations' : 'translated names' %></h2>

<table>
  <% colspan =
       if can? :crud, Translation
         9
       elsif can? :show, Translation
         8
       else
         6
       end
   %>
  <thead>
    <tr>
      <th></th>
      <th>Orig?</th>
      <th>Title</th>
      <th>[Ruby|Romaji]</th>
      <th>Alt title</th>
      <th>[Ruby/Romaji]</th>
      <% if can? :show, Translation %>
        <% if can? :crud, Translation %>
          <th>Weight</th>
        <% end %>
        <th colspan="2">Translation</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% tra1 = model.translations.first %>
  <% (%w(ja en)+model.translations.pluck(:langcode)).uniq.each do |lcode| %>
    <% add_tra_button = defined?(add_buttons) && add_buttons if add_tra_button.nil? %>
    <% alltra = model.translations_with_lang(langcode: lcode) %>
    <% next if !%w(ja en).include?(lcode) && alltra.empty? %>
    <tr><th colspan="<%= colspan %>" class="middle_row"><%= BaseWithTranslation::LANGUAGE_TITLES[lcode.to_sym][lcode] || lcode %>
      <% if add_tra_button && (tra1 && tra1.creatable_other?(user: current_user, langcode: lcode) || (!tra1 && can?(:destroy, Translation))) %>
        <%= button_to t('layouts.add_translation'), new_translation_path, form_class: "inline_form button_to", method: :get, params: { a_token: nil, langcode: lcode, translatable_type: model.class.name, translatable_id: model.id } %>
      <% end %>
      </th></tr>
    <% alltra.each_with_index do |tra, i| %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= tra.is_orig_str %></td>
      <td><%= tra.title %></td>
      <td>[<%= (tra.ruby || '') + ' | ' + (tra.romaji || '') %>]</td>
      <td><%= tra.alt_title %></td>
      <td>[<%= (tra.alt_ruby || '') +  ' | ' + (tra.alt_romaji || '') %>]</td>
      <% if can? :crud, Translation %>
        <td><%= tra.weight%></td>
      <% end %>
      <% if defined?(myself) && tra == myself %>
        <td colspan="2"><strong>SELF</strong></td>  <%# Called from Translation-Edit %>
      <% else %>
        <% if can? :show, tra %>
          <td style="border-right-style: none;"><%= link_to 'Show', tra %></td>
        <% end %>
        <td style="border-left-style: none;">
        <% if tra.editable?(user: current_user) %>
          <%= link_to 'Edit', edit_translation_path(tra) %>
        <% end %>
        </td>
      <% end %>

    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

