<%# local variables: model, (optional) title_kwd=(|name|title) %>
  <%# for example, if title_kwd=="name", t('translations.table_head.Title_name') is used %>
<% if !defined?(title_kwd)
     title_kwd = nil
   end %>  <%# This has to be in multi-line (or in the ";" syntax), as opposed to the post-placed "if", because of "defined?" %>
<%
  title_kwd =
    if title_kwd.blank?
      nil
    else
      title_kwd.to_s
    end
  prefix = "translations.table_head."
  t_title     = t([prefix+"Title",    title_kwd].compact.join("_"), default: "Title")
  t_alt_title = t([prefix+"AltTitle", title_kwd].compact.join("_"), default: "AltTitle")
%>
  <section id="sec_primary_trans">
<h2><%= t("layouts.all_registered") %><%= t("layouts."+(defined?(myself) ? 'translations' : 'translated_names')) %></h2>

<table id="all_registered_translations_<%= get_modelname(model) %>" class="all_registered_translations">
  <% allcolspan = 6
     allcolspan += ((can_index=can?(:index, Translation)) ? 1 : 0)
     action_colspan = ((can_show=can?(:show, Translation))  ? 1 : 0)
     action_colspan += 1 if can?(:destroy, Translation)
     allcolspan += action_colspan
     increment1 =  ((can_crud=can?(:crud, Translation))  ? 1 : 0)  # showing a weight column

     hsflag = {
       demotable:  (can_demote =can?(:update, Translations::DemotesController)),
       promotable: (can_promote=can?(:update, Translations::PromotesController)),
       destroyable: model.translations.any?{|tra| can? :destroy, tra},
     }
     
     increment2 = hsflag.values.count(true)
     allcolspan     += increment1 +  increment2
     action_colspan +=               increment2
   %>
  <thead>
    <tr>
      <th></th>
      <% if (can_edit=can?(:edit, Translation)) %>
      <th title="<%= t('translations.show.is_orig') %>" class="editor_only"><%= t(prefix+'Is_orig') %></th>
      <% end %>
      <th class="border-end-0"><%= t_title %></th>
      <th class="border-start-0">[<%= t(prefix+'Ruby_romaji') %>]</th>
      <th class="border-end-0"><%= t_alt_title %></th>
      <th class="border-start-0">[<%= t(prefix+'Ruby_romaji') %>]</th>
      <% if can_index %>
        <th class="editor_only">You?</th>
      <% end %>
      <% if can_show %>
        <% if can_crud %>
          <th class="moderator_only">Weight</th>
        <% end %>
        <th colspan="<%= action_colspan %>"></th> <%# action_colspan == 5 for moderators %>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% tra1 = model.translations.first %>
  <% (%w(ja en)+model.translations.pluck(:langcode)).uniq.each do |lcode| %>
    <% add_tra_button = defined?(add_buttons) && add_buttons if add_tra_button.nil? %>
    <% alltra = model.translations_with_lang(langcode: lcode) %>
    <% next if !%w(ja en).include?(lcode) && alltra.empty? %>
    <tr><th colspan="<%= allcolspan %>" class="middle_row"><%= BaseWithTranslation::LANGUAGE_TITLES[lcode.to_sym][lcode] || lcode %>
      <% if add_tra_button && (tra1 && tra1.creatable_other?(user: current_user, langcode: lcode) || (!tra1 && can_destroy)) %>
        <%= button_to t('layouts.add_translation'), new_translation_path, form_class: "inline_form button_to", method: :get, params: { a_token: nil, langcode: lcode, translatable_type: model.class.name, translatable_id: model.id } %>
      <% end %>
      </th></tr>
    <% alltra.each_with_index do |tra, i| %>
    <tr class="trans_row lc_<%= lcode %>">
      <td><%= i+1 %><%= ('<span title="'+t("datagrid.footnote.is_original")+'">*</span>').html_safe if tra.is_orig %></td>
      <% if can_edit %>
      <td class="trans_is_orig editor_only"><%= tra.is_orig_str %></td>
      <% end %>
      <td class="trans_title border-end-0"><%= tra.title %></td>
      <td class="trans_ruby_romaji ruby border-start-0"><%= print_two_with_brackets(tra.ruby, tra.romaji) %></td>  <%# defined in translations_helper.rb %>
      <% alt_tit = tra.alt_title; alt_blank = (alt_tit.blank? && can_show) %>
      <td class="trans_alt_title border-end-0<%= " text-center" if alt_blank %>"><%= alt_blank ? '&mdash;'.html_safe : alt_tit %></td>
      <td class="trans_alt_ruby_romaji ruby border-start-0"><%= print_two_with_brackets(tra.alt_ruby, tra.alt_romaji) %></td>
      <% if can_index %>
        <td class="align-c trans_you editor_only"><%= [tra.create_user_id, tra.update_user_id].include?(current_user.id) ? "Yes" : "" %></td>
      <% end %>
      <% if can_crud %>
        <td class="align-r trans_weight moderator_only"><%= tra.weight%></td>
      <% end %>
      <% if defined?(myself) && tra == myself %>
        <td colspan="2" class="align-c trans_action editor_only" style="<%= (hsflag[:demotable] || hsflag[:promotable]) ? 'border-right-style: none;' : ''  %>"><strong>SELF</strong></td>  <%# Called from Translation-Edit %>
      <% else %>
        <% if can_show %>
          <td class="trans_action trans_show editor_only" style="border-right-style: none;"><%= link_to 'Show', tra %></td>
        <% end %>
        <td class="trans_action trans_edit editor_only" style="border-left-style: none;<%= (hsflag[:demotable] || hsflag[:promotable]) ? 'border-right-style: none;' : ''  %>">
        <% if can? :update, tra %>
          / <%= link_to 'Edit', edit_translation_path(tra) %>
        <% end %>
        </td>
      <% end %>
      <% if can_demote %>
        <td class="trans_action trans_demote moderator_only" style="border-left-style: none;<%= hsflag[:promotable] ? 'border-right-style: none;' : ''  %>">
          <% if Translations::DemotesController.allowed?(tra) %>
            <%  strlink = "Demote↓" %>
             / <%= link_to strlink, translations_update_demotes_path(tra) %>
          <% end %>
        </td>
      <% end %>
      <% if can_promote %>
        <td class="trans_action trans_promote moderator_only" style="border-left-style: none;">
          <% if Translations::PromotesController.allowed?(tra) %>
            <%  strlink = (tra.is_orig ? '<span title="Weight should be zero because this is the original. Please promote it.">Promote↑</span>'.html_safe : "Promote↑") %>
            / <%= link_to strlink, translations_update_promotes_path(tra) %>
          <% end %>
        </td>
      <% end %>
      <% if can?(:destroy, tra) %>
        <% class2add = ((current_user && current_user.qualified_as?(Role::RNAME_MODERATOR, RoleCategory::MNAME_TRANSLATION)) ? " moderator_only" : "editor_only") %>
        <td class="trans_action trans_destroy<%= class2add %>" style="border-left-style: none;">
          <%= link_to('Destroy', tra, method: :delete, data: { confirm: (t('are_you_sure')).html_safe }) %>
        </td>
      <% end %>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
  </section> <!-- section id="sec_primary_trans" -->

