<%# local vars: artists %>

<% can_update = can?(:update, Artist) %>

<table>
  <thead>
    <% cspan = 7 %>
    <tr>
      <%= editor_only_safe_html(:pass, method: can_update, tag: "th") do %>
        pID
        <% cspan += 1 %>
      <% end %>

      <%= render partial: "layouts/thead_title_ja_alt_en", locals: {can_update: can_update} %>

      <th title="Birthday of the artist (person or group)"><%= t('artists.show.birthday') %></th>
      <th><%= can?(:update, Sex) ? link_to(t('tables.sex'), sexes_url) : t('tables.sex') %></th>
      <th><%= t("tables.note").capitalize %></th>
      <% if can_update %>
        <th colspan="2" class="editor_only" title="Show/Edit Artist">Actions</th>
        <% cspan += 1 %>
      <% else %>
        <th title="Show Artist"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% (uniqqed_artists=artists.uniq).each_with_index do |artist, irow| %>
      <% if irow >= Rails.configuration.def_view_max_nrows - 1 %>
        <%=  render partial: "layouts/tr_notice_trimmed_rows", locals: {colspan: cspan, trimmed_rows: Rails.configuration.def_view_max_nrows, all_rows: uniqqed_artists.size, for_td: true } %>
        <% break %>
      <% end %>

      <tr>
        <%= editor_only_safe_html(:pass, method: can_update, tag: "td") do %>
          <%= link_to artist.id, artist %>
        <% end %>

        <%= render partial: "layouts/tbody_title_ja_alt_en", locals: {model: artist, can_update: can_update} %>

        <td><%= sprintf '%s年%s月%s日', *(%i(birth_year birth_month birth_day).map{|m|
                  i = artist.send m; (i.blank? ? '——' : i.to_s)}) %></td>
        <td class="text-center"><%= artist.sex.title langcode: I18n.locale, lang_fallback: true %></td>
        <td class="text-start"><%= auto_link50(artist.note) %></td>
        <td><%= link_to t('tables.Show').capitalize, artist %></td>
        <%= editor_only_safe_html(:pass, method: can_update, tag: "td") do %>
          <% if can? :update, artist %>
            <%= link_to 'Edit', edit_artist_path(artist) %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if false %>
<% if can? :create, Artist %>
  <%= button_to 'Artist追加', artists_path, method: :get, params: { a_token: nil, place_id: @place.id } %>
<% end %>
<% end %>

