
<%# imported local variables: artist_music_plays %>
<table class="artist_music_plays">
  <% allcolspan = 6
     allcolspan += (can?(:index, Translation) ? 1 : 0)
     action_colspan = (can?(:show, Translation)  ? 2 : 0)
     allcolspan += action_colspan
     increment1 =  (can?(:crud, Translation)  ? 1 : 0)  # showing a weight column

     hsflag = {
       demotable:  can?(:update, Translations::DemotesController),
       promotable: can?(:update, Translations::PromotesController),
     }
     
     increment2 = (hsflag[:demotable] ? 1 : 0) + (hsflag[:promotable] ? 1 : 0)
     allcolspan     += increment1 +  increment2
     action_colspan +=               increment2
   %>
  <thead>
    <tr>
     <% if can? :edit, EventItem %>
      <th>pID</th>
     <% end %>
      <th><%= t(:Artist) %></th>
      <th><%= t(:Music) %></th>
      <th><%= t(:PlayRole) %></th>
      <th><%= t(:Instrument) %></th>
     <% if can? :edit, EventItem %>
      <th><%= t("attr.contribution") %></th>
      <th><%= t("attr.cover_ratio") %></th>
     <% end %>
      <th><%= t(:Note) %></th>
     <% if can? :destroy, ArtistMusicPlay %>
      <th></th>
     <% end %>
    </tr>
  </thead>

  <tbody>
   <% artist_music_plays.each_with_index do |amp, i_amp| %>
    <tr>
     <% if can? :edit, EventItem %>
      <td><%= amp.id %></td>
     <% end %>
     <%  [:artist, :music, :play_role, :instrument].each do |att| %>
      <td><%= amp.send(att).title_or_alt(langcode: I18n.locale, lang_fallback_option: :either) %></td>
     <% end %>
     <% if can? :edit, EventItem %>
     <%  [:contribution_artist, :cover_ratio].each do |att| %>
      <td><%= amp.send(att) %></td>
     <% end %>
     <% end %>
      <td><%= amp.note %></td>
     <% if can? :destroy, ArtistMusicPlay %>
      <td>
        <% if can? :destroy, amp %>
          <%= link_to t('layouts.destroy_button'), amp, method: :delete, data: { confirm: t('are_you_sure') } %>
        <% end %>
      </td>
     <% end %>
    </tr>
   <% end %>
  </tbody>
</table>

