<%# Local variables: anchoring [Anchoring], optional: NONE %>

<% canedit_gen = can?(:edit, anchoring.anchorable.class) %> 
<% url = (anchoring.url || @url) %> 

<%# section id="sec_primary" %> <%# === removed because there can be multiple forms of this type in a sinble page %>  
<% if url && !url.new_record? %>
  <strong>Title:</strong> <%= url.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either, str_fallback: (canedit_gen ? "(UNDEFINED)" : "")) %>
<% end %>

<div class="form_anchoring_main"> <%# === WARNING: Do not use "id" here %>  

<%= simple_form_for [@anchorable, anchoring], html: { id: "form_"+dom_id(anchoring), data: { turbo_frame: dom_id(anchoring) } } do |f| %>  <%# Default id for form tag would be "new_anchoring", identical to that of turbo-frame %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

 <%# section id="sec_primary_input" %> <%# === removed because there can be multiple forms of this type in a sinble page %>  
  <div class="form-inputs">
    <%= f.input :url_form, label: "URL", place_holder: "Do not put a redirecting URL like 't.co'", required: true %>
    <% collec = BaseWithTranslation::AVAILABLE_LOCALES.map{ |es| [BaseWithTranslation::LANGUAGE_TITLES[I18n.locale][es.to_s], es] } %>
    <%= f.input :url_langcode, as: :select,
              collection: collec, include_blank: true,
              value_method: :last,
              label_method: :first,
              input_html: {class: 'input_shorter'} %>
    <%= f.input :site_category_id, label_method: :title_or_alt_for_selection, collection: SiteCategory.order(:weight), required: false, hint: "automatically determined if specified nil.", input_html: {class: 'input_middle'} %>
  <% if anchoring.new_record? || url && url.new_record? %>
    <% hint_str = sprintf("You may leave it blank to autoload.")
       hint_str = sprintf("e.g.: セットリスト %s生配信/演奏/メドレー (Youtubeコメント)", @anchorable.release_date.strftime('%Y-%m-%d')) if @anchorable.is_a?(HaramiVid) && @anchorable.release_date.present?
      %>
    <%= f.input :title,  label: t("urls.title"), required: false, as: :string, input_html: {value: value_a_title_in_form(url, :title)}, hint: hint_str %>
  <% end %>
  <% if is_fetch_h1_allowed?(anchoring) %>  <%# defined in /app/helpers/base_anchorables_helper.rb %>
    <%= f.input :fetch_h1,  label: t("anchorings.edit.fetch_h1_title")+(anchoring.new_record? ? "" : " (Caution!)"), required: false, as: :boolean %>
  <% end %>

    <%= f.input :note, hint: "Note for Anchoring (join model); for Url#note, write it later." %>
  </div>
  <div class="actions">
  <%= f.submit %> <%# Default one aesthetically does not work well...:  f.button :submit %>
  </div>
<% end %> <%# simple_form_for [@anchorable, anchoring] ... %>

  <div class="form-cancel-back">
    <%= link_to sanitize("&larr; Cancel..."),  Rails.application.routes.url_helpers.polymorphic_path(@anchoring.anchorable, only_path: true) %>
  </div>
</div> <!-- div class="form_anchoring_main" -->

