
<%# Local variables: harami1129s %>

<table>
  <thead>
    <tr>
     <% if (can_update = can?(:update, Harami1129)) %>
      <th>pID</th>
     <% end %>
      <th>Date</th>
      <th>Title</th>
      <th>URI</th>
      <th>Timing</th>
      <th>Singer</th>
      <th>Song</th>
      <th>Checked?</th>
      <% if can? :update, Harami1129 %>
        <th colspan="2">Action</th>
      <% else %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% harami1129s.order("harami1129s.release_date" => :desc).each do |harami1129| %>
      <tr>
     <% if can_update %>
        <td class="number"><%= link_to harami1129.id, harami1129 %></td>
     <% end %>
        <td><%= date2text(harami1129.release_date) %></td>
        <td><%= link_to(harami1129.title, harami1129) %></td>
        <td><%= link_to harami1129.ins_link_root, ApplicationHelper.uri_youtube(harami1129.ins_link_root, harami1129.ins_link_time) %></td>
        <td class="number"><%= harami1129.ins_link_time %></td>
        <td><%= harami1129.singer %></td>
        <td><%= harami1129.song %></td>
        <td><%= (!!harami1129.checked_at).inspect %></td>
        <td><%= link_to 'Show', harami1129 %></td>
        <% if can? :update, harami1129 %>
        <td>
          <%= link_to 'Edit', edit_harami1129_path(harami1129) %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

