
<%# local variables: harami_vids, optional: musics (:all or Array or nil; musics to display), music (if for a particular Music - displaying timing) %>
<%# @example
      render partial: 'layouts/harami_vids_index', locals: {harami_vids: @music.harami_vids.order("harami_vids.release_date" => :desc).distinct, music: @music}
 %>

<% if !defined?(musics)
     musics = :all
   end %>  <%# This has to be in multi-line (or in the ";" syntax), as opposed to the post-placed "if", because of "defined?" %>
<% if !defined?(music)
     music = nil
   else
     musics = nil
   end %>  <%# This has to be in multi-line (or in the ";" syntax), as opposed to the post-placed "if", because of "defined?" %>

<div id="harami_vids">
<table id="harami_vids_index_table">
  <thead>
    <tr>
     <% if (can_update = can?(:update, HaramiVid)) %>
      <th class="editor_only">pID</th>
     <% end %>
      <th><%= t("harami_vids.table_head_date") %></th>
      <th><%= t(:Channel) %></th>
      <th><%= t("home.index.vid_title") %></th>
     <% if musics %>
      <th><%= t("Musics") %></th>
     <% end %>
     <% if music %>
      <th><%= t("harami_vids.table_head_timing") %></th>
      <th><%= t("harami_vids.table_head_completeness") %></th>
     <% end %>
      <% if can? :read, EventItem %>  <%# In future, this may be released public (if most EventItems are checked valid) %>
      <th class="editor_only"><%= t("EventItems") %></th>
      <% end %>
     <% if (can_read_h1129 = can?(:read, Harami1129)) %>
      <th title="Number of Harami1129 entries" class="editor_only"># H1129s/Musics</th>
     <% end %>
      <th title="Note in this DB"><%= t("tables.note").capitalize %></th>
     <% if can_update %>
        <th class="actions" colspan="2" class="editor_only"></th>  <%#  HaramiVid should not be easily destroyed from Index %>
     <% else %>
        <th class="actions" class="editor_only"></th>
     <% end %>
<% if false %>
        <th colspan="2">HaramiVidMusicAssoc</th>
<% end %>
    </tr>
  </thead>

  <% event_items = [] %>
  <tbody>
    <% ary = harami_vids.sort{|a,b| b.release_date <=> a.release_date} %>
    <% ary2 = nil %>
    <% if harami_vids.respond_to? :order %>
      <% begin %>
        <% (ary2 = harami_vids.order(release_date: :desc)).first.to_s %>
      <% rescue %>
        <% ary2 = nil %>
      <% end %>
    <% end %>
    <% (ary &&= ary2).each do |harami_vid| %>
      <tr>
     <% if can_update %>
        <td class="number editor_only"><%= link_to harami_vid.id, harami_vid %></td>
     <% end %>
        <td class="date_ja"><%= sprintf "%s %s", date2text(harami_vid.release_date), ((dura=sec2hms_or_ms(harami_vid.duration, return_nil: true)) ? '('+dura+')' : "") %></td> <%# defined in ModuleCommon %>
        <td><%= harami_vid.channel.channel_owner.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either, prefer_shorter: true) %> </td>
     <% if music %>
       <% assoc = harami_vid.harami_vid_music_assocs.where(music: music).first %>
       <% timing = (assoc ? assoc.timing : nil) %>
     <% end %>
        <td><%= link_to_youtube harami_vid.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either), harami_vid.uri, timing, title: t(:external_link) %></td>  <%# defined in app/helpers/application_helper.rb %>
     <% if musics %>
        <td><%= harami_vid.musics.map{ |music|
               next nil if :all != musics && !musics.include?(music)
               mu_tit = music.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either)
               (can?(:read, music) ? link_to(mu_tit, music) : mu_tit)
             }.compact.join(t('comma')).html_safe %>
        </td>
     <% end %>
     <% if music %>
        <td class="number"><%= link_to_youtube sec2hms_or_ms(assoc.timing, return_if_zero: ""), harami_vid.uri, assoc.timing, title: t(:external_link) %></td> <%# defined in application_helper.rb %>
        <td class="number"><%= assoc.completeness %></td>
     <% end %>
      <% if can? :read, EventItem %>
        <td class="text-center editor_only">
          <%= harami_vid.event_items.map{ |eei|
             if !(ind=event_items.find_index(eei))
               event_items << eei
               ind = event_items.size-1
             end
             ind += 1
             tit = sprintf("%s (ID=%d; Assoc-IDs=%s)", eei.machine_title, eei.id, HaramiVidEventItemAssoc.where(harami_vid: harami_vid, event_item: eei).order(:id).ids.inspect)
             link_to(ind.to_s, eei, title: tit)
             }.join(t(:comma)).html_safe %>
        </td>
      <% end %>
     <% if can_read_h1129 %>
        <td class="number editor_only"><%= harami_vid.harami1129s.distinct.count %> / <%= harami_vid.musics.uniq.count %></td>
     <% end %>
        <td><%= harami_vid.note %></td>

        <td class="actions"><%= link_to t("tables.Show"), harami_vid %></td>
        <% if can? :update, harami_vid  %>
          <td class="actions editor_only"><%= link_to 'Edit', edit_harami_vid_path(harami_vid) %></td>
        <% end %>
      </tr>
<% if false %>
        <td class="actions"><%= link_to t("tables.Show"), assoc %></td>
        <% if can? :update, assoc %>
          <td class="actions editor_only"><%= link_to 'Edit', edit_harami_vid_music_assoc_path(assoc) %></td>
        <% end %>
<% end %>
    <% end %>
  </tbody>
</table>
</div>

