
<%# local variables: harami_vids, optional: musics (:all or Array or nil; musics to display), music (if for a particular Music - displaying timing), with_place, for_owner (Channel or ChannelOwner), sort_asc: false %>
<%# @example
      render partial: 'layouts/harami_vids_index', locals: {harami_vids: @music.harami_vids.order("harami_vids.release_date" => :desc).distinct, music: @music, with_place: false, for_owner: false }
 %>

<% if !defined?(musics)
     musics = :all
   end %>  <%# This has to be in multi-line (or in the ";" syntax), as opposed to the post-placed "if", because of "defined?" %>
<% if !defined?(music)
     music = nil
   else
     musics = nil
   end %>  <%# This has to be in multi-line (or in the ";" syntax), as opposed to the post-placed "if", because of "defined?" %>
<% if !defined?(with_place)
     with_place = nil
   end %>  <%# This has to be in multi-line (or in the ";" syntax), as opposed to the post-placed "if", because of "defined?" %>
<% if !defined?(for_owner)
     for_owner = false
   end %>  <%# This has to be in multi-line (or in the ";" syntax), as opposed to the post-placed "if", because of "defined?" %>
<% if !defined?(sort_asc)
     sort_asc = false
   end %>  <%# This has to be in multi-line (or in the ";" syntax), as opposed to the post-placed "if", because of "defined?" %>
<% asc_desc = (sort_asc ? :asc : :desc) %>

<div id="harami_vids">
<table id="harami_vids_index_table">
  <thead>
    <tr>
     <% if (can_update = can?(:update, HaramiVid)) %>
      <th class="editor_only">pID</th>
     <% end %>
      <th><%= t("harami_vids.table_head_date") %> (<%= t("tables.duration_none") %>)</th>
     <% if for_owner %>
      <th><%= t("harami_vids.table_head_ChannelPlatform") %></th>
      <th><%= t("harami_vids.table_head_ChannelType") %></th>
     <% else %>
      <th><%= t(:Channel) %></th>
     <% end %>
      <th><%= t("home.index.vid_title") %></th>
     <% if musics %>
      <th><%= t("Musics") %></th>
     <% end %>
     <% if music %>
      <th><%= t("harami_vids.table_head_timing") %></th>
      <th><%= t("harami_vids.table_head_completeness") %></th>
     <% end %>
     <% if with_place %>
      <th><%= t(:Place) %></th>
     <% end %>
      <% if (canread_evit=can?(:read, EventItem)) %>  <%# In future, this may be released public (if most EventItems are checked valid) %>
      <th class="editor_only"><%= t("EventItems") %></th>
      <% end %>
     <% if (can_read_h1129 = can?(:read, Harami1129)) %>
      <th title="Number of Harami1129 entries" class="editor_only"># H1129s/Musics</th>
     <% end %>
      <th title="Note in this DB"><%= t("tables.note").capitalize %></th>
      <th class="actions"<%= can_update ? ' colspan="2"'.html_safe : '' %>></th>
<% if false %>
        <th colspan="2" class="editor_only">HaramiVidMusicAssoc</th>
<% end %>
    </tr>
  </thead>

  <% canread_pla = can?(:read, Place) %>  <%# This is usually public? %>
  <% event_items = [] %>
  <tbody>
    <% if harami_vids.respond_to?(:order)
         ary = harami_vids.order(release_date: asc_desc)
       else
         factor = (sort_asc ? 1 : -1)
         ary = harami_vids.sort{|a,b| factor*(a.release_date <=> b.release_date)}
       end 
    %>
<% if false %>
    <% ary2 = nil %>
    <% if harami_vids.respond_to? :order %>
      <% begin %>
        <% (ary2 = harami_vids.order(release_date: :desc)).first.to_s %>
      <% rescue %>
        <% ary2 = nil %>
      <% end %>
    <% end %>
<% end %> <%# I don't understand this clause - the sentence below should actually fail with this, but it doesn't... I put it into if-false... %>
    <%# (ary &&= ary2).uniq.each do |harami_vid| %>
    <% ary.uniq.each do |harami_vid| %>
      <tr>
     <% if can_update %>
        <td class="number editor_only"><%= link_to harami_vid.id, harami_vid %></td>
     <% end %>
        <td class="date_ja"><%= sprintf "%s %s", date2text(harami_vid.release_date), ((dura=sec2hms_or_ms(harami_vid.duration, return_nil: true)) ? '('+dura+')' : "") %></td> <%# defined in ModuleCommon %>
     <% if for_owner %>
        <td><%= harami_vid.channel.channel_platform.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either) %> </td> <%# prefer_shorter: false (Default) %>
        <td><%= harami_vid.channel.channel_type.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either, prefer_shorter: true) %> </td>
     <% else %>
        <td><%= harami_vid.channel.channel_owner.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either, prefer_shorter: true) %> </td>
     <% end %>
     <% if music %>
       <% assoc = harami_vid.harami_vid_music_assocs.where(music: music).first %>
       <% timing = (assoc ? assoc.timing : nil) %>
     <% end %>
        <td><%= link_to_youtube harami_vid.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either), harami_vid.uri, timing, title: t(:external_link) %></td>  <%# defined in app/helpers/application_helper.rb %>
     <% if musics %>
        <td><%= harami_vid.musics.map{ |music|
               next nil if :all != musics && !musics.include?(music)
               mu_tit = music.title_or_alt(langcode: I18n.locale, lang_fallback_option: :either)
               (can?(:read, music) ? link_to(mu_tit, music) : mu_tit)
             }.compact.join(t('comma')).html_safe %>
        </td>
     <% end %>
     <% if music %>
        <td class="number"><%= link_to_youtube sec2hms_or_ms(assoc.timing, return_if_zero: ""), harami_vid.uri, assoc.timing, title: t(:external_link) %></td> <%# defined in application_helper.rb %>
        <td class="number"><%= assoc.completeness %></td>
     <% end %>
     <% if with_place %>
       <td><%= harami_vid.place ? harami_vid.txt_place_pref_ctry(without_country_maybe: true) : "" %>
         <% if can_update %>
           <%= html_consistent_or_inconsistent(harami_vid.is_place_all_consistent?(strict: true)) %>
         <% end %>
       </td>
     <% end %>
      <% if canread_evit %>
        <td class="text-center editor_only">
          <%= harami_vid.event_items.map{ |eei|
             if !(ind=event_items.find_index(eei))
               event_items << eei
               ind = event_items.size-1
             end
             ind += 1
             tit = sprintf("%s (ID=%d; Assoc-IDs=%s)", eei.machine_title, eei.id, HaramiVidEventItemAssoc.where(harami_vid: harami_vid, event_item: eei).order(:id).ids.inspect)
             link_to(ind.to_s, eei, title: tit)
             }.join(t(:comma)).html_safe %>
        </td>
      <% end %>
     <% if can_read_h1129 %>
        <td class="number editor_only"><%= harami_vid.harami1129s.distinct.count %> / <%= harami_vid.musics.uniq.count %></td>
     <% end %>
        <td><%= sanitized_html(auto_link50(harami_vid.note)).html_safe %></td>

        <td class="actions"><%= link_to t("tables.Show"), harami_vid %></td>
        <% if can_update %>
          <td class="actions editor_only text-end">
          <% if can? :update, harami_vid  %>
            <%= link_to 'Edit', edit_harami_vid_path(harami_vid) %>
          <% end %>
          </td>
        <% end %>
      </tr>
<% if false %>
        <td class="actions"><%= link_to t("tables.Show"), assoc %></td>
        <% if can? :update, assoc %>
          <td class="actions editor_only text-end"><%= link_to 'Edit', edit_harami_vid_music_assoc_path(assoc) %></td>
        <% end %>
<% end %>
    <% end %>
  </tbody>
</table>
</div>

