<%# assumed local variables to be passed: prefecture, (optional) places, pref_title [String], with_edit (Def: true), this_place [Place], this_model_note [Place] %>
<%# Note: if with_edit==false given, no Edit link is shown. If this_place is given, the Place agreeing with it is marked. %>
<% if !defined?(places)
     places = prefecture.places
   end %>
<% if !defined?(pref_title)
     pref_title = prefecture.title_or_alt_tuple_str("[", "]", langcode: I18n.locale)
   end %>
<% if !defined?(with_edit)
     with_edit = true
   end %>
<% if !defined?(this_place)
     this_place = nil
   end %>
<% if !defined?(this_model_note)
     this_model_note = t("tables.note_this_model", kwd: t(:Place))
   end %>

<section id="places_in_prefecture">
<h2><%= t("prefectures.show.places_in_prefecture", this_pref: pref_title) %></h2>

<% canshow_pla = can?(:show, Place) %>
<% canedit_pla = can?(:edit, Place) %>

<table id="places_in_prefecture">
  <thead>
    <tr>
      <% if canedit_pla %>
        <th class="editor_only">pID</th>
      <% end %>

      <%= render partial: "layouts/thead_title_ja_alt_en", locals: {can_update: canedit_pla} %>

      <th><%= t("prefectures.show.N_Artists") %></th>
      <% if canedit_pla  %>
        <th class="editor_only"><%= t("prefectures.show.N_Musics") %></th>
      <% end %>
      <th title="<%= t('tables.n_harami_vids_long') %>"><%= t("tables.n_harami_vids_short") %></th>
      <th title="<%= t('event_groups.n_events_long') %>"><%= t("event_groups.n_events") %></th>
      <th><%= t("tables.note").capitalize %></th>
      <% if canedit_pla  %>
        <th class="editor_only">Memo?</th>
      <% end %>

      <% if canedit_pla && with_edit %>
        <th colspan="2" class="editor_only">Action</th>
      <% elsif canshow_pla %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% places.uniq.each do |place| %>
      <tr<%= ' class="self_in_table"'.html_safe if (is_self=(this_place && place == this_place)) %>>
        <% if canedit_pla %>
          <td class="editor_only"><%= link_to place.id, place %></td>
        <% end %>

        <%= render partial: "layouts/tbody_title_ja_alt_en", locals: {model: place, can_update: canedit_pla, is_self: is_self, this_model_note: this_model_note} %>

        <td class="text-end"><%= place.artists.count.to_s %></td>
      <% if canedit_pla  %>
        <td class="editor_only text-end"><%= place.musics.count.to_s %></td>
      <% end %>
        <td class="text-end"><%= place.harami_vids.count.to_s %></td>
        <td class="text-end"><%= place.events.count.to_s %></td>
        <td class="text-start"><%= auto_link50(place.note) %></td>
      <% if canedit_pla  %>
        <td class="editor_only text-center">
          <%= place.memo_editor.present? && (tit=place.memo_editor.strip).present? ? sprintf('<span title="%s">Y</span>', h(tit)).html_safe : nil %>
        </td>
      <% end %>
      <% if (canshow_pla) %>
        <td><%= link_to t("tables.Show"), place %></td>
      <% end %>
        <% if with_edit && canedit_pla %>
          <td class="editor_only">
            <%= link_to('Edit', edit_place_path(place)) if can?(:update, place) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

</section> <!-- section id="places_in_prefecture" -->

