<%# Local variables: urls [Array<Domain>] (must be sorted!), optional: with_parent (Def: true, displaying the column of parent), with_grandparent (Def: true), this_model [Url], with_dates: [Boolean] (Def: false) %>
<%#   Example:  render partial: 'layouts/urls_index', locals: {urls: my_urls.left_joins(:domain).left_joins(:domain_title).order("domain_titles.weight", "domain_titles.created_at", "domains.weight", "domains.created_at", "urls.weight", "urls.created_at"), with_parent: false} %>

<% if !defined?(with_parent)
     with_parent = true
   end %>
<% if !defined?(with_grandparent)
     with_grandparent = true
   end %>
<% if !defined?(this_model)
     this_model = nil
   end %>
<% if !defined?(with_dates)
     with_dates = false
   end %>

<section id="urls_index_table">
<table>
  <thead>
    <tr>
       <% if (caneditgen=can?(:edit, Url))  %>
        <th class="editor_only">pID</th>
       <% end %>
      <th title="locale"><%= t(:language) %></th>
      <th title="Url"><%= t(:Url) %></th>
      <th title="Title"><%= t("urls.title") %></th>
       <% if (caneditgen=can?(:edit, Url))  %>
      <th class="editor_only" title="Normalized URL for internal searching/indexing">Normalized</th>
         <% if with_parent %>
      <th class="editor_only" title="Domain"><%= t(:Domain) %></th>
         <% end %>
       <% end %>
       <% if with_grandparent %>
      <th title="DomainTitle"><%= t(:DomainTitle) %></th>
      <th title="SiteCategory"><%= t("site_categories.table_head.site_category_short") %></th>
       <% end %>
       <% if with_dates && caneditgen %>
        <th class="editor_only" title="Published date">Published</th>
        <th class="editor_only" title="Last confirmed date">Confirmed</th>
       <% end %>
       <% if caneditgen %>
        <th class="editor_only" title="Weight for sorting.">Weight</th>
       <% end %>
      <th title="Linked">Linked</th>
      <th title="Note in this DB">Note</th>
       <% if caneditgen %>
         <th class="editor_only" colspan="3"></th>
       <% else %>
         <th></th>
       <% end %>
    </tr>
  </thead>

  <tbody>
    <% urls.each do |record| %>  <%# should be already sorted by the caller (or controller) %>
      <tr<%= ' class="self_in_table"'.html_safe if (is_self=(this_model && record == this_model)) %>>
         <% if caneditgen  %>
          <td class="editor_only text-end item_pid"><%= link_to(record.id, record) %></td>
         <% end %>
        <td class="item_url_langcode text-center"><%= record.url_langcode %></td>
        <td class="item_url"><%= link_to(Addressable::URI.unencode(record.url), record.url, target: "_blank") if record.url %></td>  <%# Rails prohibits a null value, but playing safe %>
        <td class="item_title"><%= record.title_or_alt(prefer_shorter: true, langcode: I18n.locale, lang_fallback_option: :either, str_fallback: "(undefined)", article_to_head: true) %></td>
         <% if (caneditgen=can?(:edit, Url))  %>
        <td class="editor_only item_url_normalized"><%= record.url_normalized %></td>
          <% if with_parent %>
        <td class="editor_only item_domain">(<%= link_to "Record", record.domain %>) <%= record.domain.domain %></td>
          <% end %>
         <% end %>
         <% if with_grandparent %>
        <td class="item_domain_title"><%= link_to(record.domain_title.title_or_alt(prefer_shorter: true, langcode: I18n.locale, lang_fallback_option: :either, str_fallback: "(undefined)", article_to_head: true), record.domain_title, title: "Generic title for the domain") if record.domain_title %></td> <%# Rails prohibits a null value, but playing safe %>
        <td class="item_site_category" title="SiteCategory"><%= record.domain_title.title_or_alt(prefer_shorter: true, langcode: I18n.locale, lang_fallback_option: :either, str_fallback: "(undefined)", article_to_head: true) if record.site_category %></td>
         <% end %>
         <% if with_dates && caneditgen %>
          <td class="editor_only" title="Published date"><%= record.published_date %></td>
          <td class="editor_only" title="Last-confirmed date"><%= record.last_confirmed_date %></td>
         <% end %>
         <% if caneditgen  %>
          <td class="editor_only item_weight"><%= record.weight %></td>
         <% end %>
        <td class="item_linked"><%= record.anchoring_parents.map{|parent| link_to parent.class.name, parent, title: parent.title_or_alt(prefer_shorter: true, langcode: I18n.locale, lang_fallback_option: :either, str_fallback: "(undefined)")}.join(", ").html_safe %></td>
        <td class="item_note"><%= record.note %></td>

        <td><%= link_to t("tables.Show"), record %></td>
        <% if can? :update, record  %>
          <td class="editor_only"><%= link_to 'Edit', edit_url_path(record) %></td>
         <% if can? :destroy, record %>
          <td class="editor_only"><%= link_to 'Destroy', record, method: :delete, data: { confirm: t('are_you_sure') } %></td>
         <% else %>
          <td class="editor_only"></td>
         <% end %>
        <% elsif caneditgen %>
          <td colspan="2" class="editor_only"></td>
        <% end %>
      </tr>
    <% end %> <%# urls.each do |record| %>
  </tbody>
</table>
</section> <!-- section id="urls_index_table" -->

