<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>HaramiMusicI18n <%= get_html_head_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag 'bootstrap_quarts.min', media: 'all', 'data-turbo-track': 'reload' %>  <%# using app/assets/stylesheets/bootstrap_quarts.min.css %>
    <% if Rails.env.development? %>
      <%= favicon_link_tag 'favicon_invert.png' %>
    <% else %>
      <%= favicon_link_tag 'favicon.ico' %>
    <% end %>
    <%= favicon_link_tag 'favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  </head>
  <body>

    <% if user_signed_in? %>
      <div id="navbar_top">
        (<%= link_to 'Home', root_path %>
        <% if current_user.an_admin? %>
          / <%= link_to 'Admin_panel', rails_admin.dashboard_path, class: 'login-button' %>
        <% end %>
        / User=<strong><%= link_to current_user.display_name, user_path(current_user) %></strong>
        / <%= link_to destroy_user_session_path, method: :delete do %><%= t('log_out') %><% end %>)
      </div>
    <% end %>

  <% if user_signed_in? && current_user.roles.exists?  %>
    <div id="navbar_upper_user">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Editor-Menu</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
        <% Rails.application.eager_load! %>
        <% ActiveRecord::Base.descendants.select{|i| !i.abstract_class? && !i.name.include?('::') && i.table_name == i.name.underscore.pluralize}.sort{|a,b| a.name <=> b.name}.each do |model| %>
          <% next if !can?(:read, model) %>
          <% link_str = link_to(model.name.pluralize, send(model.table_name+'_path'), class: 'nav-link') rescue next %>
          <li class="nav-item"> <%= link_str %> </li>
          <% if 'StaticPages' == model.name.pluralize && can?(:index, StaticPage) %>
            <li class="nav-item" style="margin-left: -0.7rem"> <%= link_to '(Index)', static_page_publics_path, class: 'nav-link' %> </li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
    </nav>
    </div>
  <% end %>

    <div id="language_switcher_top">
      <% str_lsl = language_switcher_link %>
      <p style="text-align: right;"><%= str_lsl %></p>
    </div>

    <div id="navbar_upper_any">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid"
      <% if Rails.env.development? %>
         style="background-color: yellow;"
      <% end %>
         >
      <%# <a class="navbar-brand" href="#">Menu</a>%>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <% if Rails.env.development? %>
            <li class="nav-item" style="color: purple;">
              <strong>DEVELOPMENT</strong>
            </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link" href="<%= root_path %>">Home
              <%# class may include "active" to emphasize it %>
              <%# <span class="visually-hidden">(current)</span> %>
            </a>
          </li>
          <li class="nav-item">
            <%= link_to t('application.menu_harami_vids'), harami_vids_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('application.menu_musics'), musics_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('application.menu_artists'), artists_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('application.about_us'), StaticPagesController.public_path('about_us'), class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= t('application.others') %></a>
            <div class="dropdown-menu">
              <% if user_signed_in? %>
                <%= link_to t('layouts.editing_guideline'), StaticPagesController.public_path('editing_guideline'), class: "dropdown-item" %>
              <% end %>
              <%= link_to 'Terms of Service', StaticPagesController.public_path('terms_service'), class: "dropdown-item" %>
              <%= link_to 'Privacy Policy', StaticPagesController.public_path('privacy_policy'), class: "dropdown-item" %>
              <% if false %>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              <% end %>
            </div>
          </li>
        </ul>
        <% if false %>
          <form class="d-flex">
            <input class="form-control me-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        <% end %>
      </div>
    </div>
    </nav>
    </div>

    <div id="body_main">
      <% [alert && 'alert', warning.present? && 'warning', success.present? && 'success', notice && 'notice'].compact.each do |ek| %>
        <% next if flash[ek].blank? %>
        <p class="<%= ApplicationController::FLASH_CSS_CLASSES[ek] %>">
          <%= [flash[ek]].flatten.map{|i| (flash[:html_safe] && flash[:html_safe][ek]) ? i : h(i)}.join("<br>").html_safe %>
        </p>
      <% end %> <%# manage_toastr.js wrap the contents  # toastr_flash in /app/helpers/application_helper.rb is not used anymore %>
    <%= yield %>
    </div>
    <hr>

    <div id="footer">
    <p><%= str_lsl %></p>
    <% if !user_signed_in? && !request.path.sub(%r@\A/((#{I18n.available_locales.map(&:to_s).join("|")})(?:/|\z|(?=\?)))?@, "").sub(%r@\Ausers/sign_in/?@, "").sub(/\?.*/, "").empty? %>
      <%# Except for the top page and sign_in page, Log-in link is displayed. %>
      <p id="footer_login">
      <%= link_to new_user_session_path, class: 'login-button' do %><%= t("devise.sessions.new.sign_in") %><% end %>
      </p>
    <% end %>
    </div>
  </body>
</html>

